[2020-07-02 03:50] longnd commented on #487
@mhenrixon Does that mean the gem could now work with ActiveJob nicely without any modification?
I tried but it does not seem to be the case.

[code]
still allows duplicate jobs in the queue.

My environment includes Rails 6.0.3 & Sidekiq 6.0.7

Note: `sidekiq_options` works with Rails 6.0.2 and above only, not 6.0.1 as stated in this comment https://github.com/mperham/sidekiq/issues/4281#issuecom

[2020-07-02 07:34] mhenrixon commented on #487
@longnd since I don't know `ActiveJob` I can't fully help you here. The assumption is that it would work but if ActiveJob is passing it's global id to the arguments it might be that you need to filter some argument for uniqueness to be considered.

[2020-07-02 08:22] wasabigeek opened #526 "after_unlock isn't called unless it's a class method"
**Describe the bug**
Accord the [docs](https://github.com/mhenrixon/sidekiq-unique-jobs/tree/v6.0.13#after-unlock-callback), we can declare `after_unlock` as an instance method. In our case though, `after_unlock` doesn't seem to get called unless it's declared as a class method. Is there something we missed?

**Worker class**

[code]

**Additional context**
Ruby Version: `ruby-2.5.8`
The sidekiq g

[2020-07-04 04:49] alisherry commented on #519
Update to this `conn.unlink` was the solution I ended up going with and it cleared the keys without any other errors. Closing this issue

[2020-07-04 04:49] #519 closed

[2020-07-05 21:55] sharshenov commented on #76
Here is an implementation for ActiveJob: [activejob-uniqueness](https://github.com/veeqo/activejob-uniqueness)

[2020-07-05 21:57] sharshenov commented on #487
Here is another approach: [activejob-uniqueness](https://github.com/veeqo/activejob-uniqueness)

[2020-07-05 22:03] sharshenov commented on #238
@mhenrixon Do you mind if I add few lines do documentation and Wiki about alternative implementation exclusive for ActiveJob? [activejob-uniqueness](https://github.com/veeqo/activejob-uniqueness)

[2020-07-06 04:53] tonobo commented on #487
@sharshenov Looks quite good :+1:

[2020-07-06 12:31] wasabigeek opened #529 "Unique Digests dashboard not filtering the full set of results"
**Describe the bug**
I've had some instances where filtering returns no result, but going to the direct url shows the unique digest.
![image](https://user-images.githubusercontent.com/4256705/86592852-c5222300-bfc6-11ea-8ce1-fbf33e5b2296.png)
![image](https://user-images.githubusercontent.com/4256705/86592913-dec36a80-bfc6-11ea-890e-b2308e0b1af6.png)

In the console:
[code]

I think it's because w

[2020-07-07 15:29] richkettle commented on #360
You could have published that and saved the next person. But I wouldn't expect that from someone with the title you gave.

[2020-07-07 16:04] richkettle opened #530 "Just some clarification on the documentation."
Hi,

Thanks for the gem guys its been a life saver!

Im currently upgrading from version 3.X to version version 6.X and i just wanted to clarify a few things.

`sidekiq_options queue: :critical, retry: 3, unique: true` on version 3.

Is synonymous with:
`sidekiq_options queue: :critical, retry: 3, lock: :while_executing` on version 6.

Reading through the upgrade notes I have come across this:

Em

[2020-07-07 16:04] henrik commented on #360
😂 Glad that offensive typo was fixed.

[2020-07-11 05:02] mhenrixon commented on #530
Hi 🙋‍♂️ @richkettle,

I will try and find some time to rewrite the documentation in the next week.

I have big plans but also two small girls and a wife that not only requires my attention but also that the work I do in front of a computer is paid so that we have food and shelter.

This is just a hobby and unfortunately always ends up being the last thing I have time for.

You are right in that th

[2020-07-11 05:07] mhenrixon commented on #529
There are two completely different mechanisms in play here which is why you see this.

The keys listed here are indeed keys, the keys listed on the index page is not n fact a list or set if I recall correctly.

It was always a bad idea to list all keys just to extract the digest because there are multiple keys per digest.

When you have set a key to expire it is removed from the list/set immediate

[2020-07-11 06:39] wasabigeek commented on #529
@mhenrixon I didn't quite understand, did you mean there is a set which maintains the root keys of the digests, and they are removed from the set if their "child" keys (e.g. with the GRABBED/EXISTS and other suffixes, and exist outside the side) are set to expire?

This particular key wasn't an issue, but we had an issue in prod where after we rebooted our worker, we weren't able to re-queue a job

[2020-07-11 12:33] mhenrixon commented on #529
@wasabigeek maybe I missunderstood then. Do you mean that the bug is in the pagination? That the key was in the set but not displayed on the page?

[2020-07-11 14:21] wasabigeek commented on #529
@mhenrixon yes, I think so.

My guess is because of how SSCAN works:
[code]
https://redis.io/commands/scan

i.e. if the first iteration returns an empty list, but the cursor is not zero, we can’t assume that no match exists in the entire set. We would still need to page through the entire set before making that conclusion.

[2020-07-17 10:22] richkettle commented on #530
Hi @mhenrixon

No problem at all. I wasn't implying that the documentation needed work or that it was poor. I just wanted a little clarification on a few bits. Its not normal that someone upgrades from a version this old.

Any help on the questions would be great.

Thanks,

Rich

[2020-07-18 17:52] macmartine opened #531 "Multiple jobs running at the same time"
**Describe the bug**
Not sure if this is an issue or user error, but definitely feels like it should be working.

 I'm trying to not be able to queue the same job multiple times (while it's already in the queue or running).

Rails 2.5.1 Sidekiq 6.0.6

**Expected behavior**
I'd expect to not be able to queue/run the same job twiece

**Current behavior**
Runs the same job multiple times

**Worker cl

[2020-07-20 12:31] mhenrixon commented on #531
Any particular reason you are using unique_across_workers? Could you remove that and try without?

Also, which gem version are you on?

[2020-07-20 15:01] macmartine commented on #531
@mhenrixon Honestly, 'unique_across_workers' was just leftover from trying different options to get anything to work.
Using version 5.0.2

[2020-07-23 10:08] speedo-spin commented on #531
@mhenrixon I have the same issue

[2020-07-24 19:06] aharpervc commented on #393
I'm a little confused, can you clarify how to use `lock_expiration` in v6? Aside from this feature, is there a way to find/expire orphaned locks in v6 at all?

[2020-07-28 21:49] mikesnare opened #532 "delete_by_digest does not work with the msg['unique_digest'] value available in sidekiq_retries_exhausted"
**Describe the bug**
The documentation [here](https://github.com/mhenrixon/sidekiq-unique-jobs#cleanup-dead-locks) says that you can take the value from `msg['unique_digest']` inside the `sidekiq_retries_exhausted` callback and pass that in to `delete_by_digest` to clear the lock.  This is not working for me.

**Expected behavior**
The lock should be cleared.

**Current behavior**
No lock is clear

[2020-07-28 23:07] amitsaxena commented on #393
@aharpervc I couldn't find anything which works (in v6), so I had to write a script which looks for redis keys (related to locks) and deletes them.

[2020-07-29 13:21] aharpervc commented on #393
Sounds useful, are you able to share it?

[2020-07-29 21:31] loneaggie commented on #531
We are experiencing something similar, our options look like this:
[code]

1. We enqueue the job for work
2. Let the worker start the job (full job takes 20 minutes or so)
3. We verify in the UI there is a single unique digest
4. We kill the worker to simulate an infrastructure failure etc.
5. We verify the unique digest is still there
6. We spin up a new worker, and its starts working on the job,

[2020-08-12 23:32] gchan commented on #524
I've also been thinking about that rare scenario where the processes crashes and the lock lasts forever.

I think `:until_executing` would minimise the risk as time between when the job is picked up from a queue and the lock is removed would be very small. If the process would segfault or crash during execution, the lock is already removed. The risk of locks being left in Redis due to abrupt proce

[2020-08-29 09:47] axos88 commented on #394
Hi there. Has there been any progress on this?

[2020-09-04 10:43] giddie commented on #440
It's surprising to me that we seem to be the only ones experiencing this, but since this is still happening with the latest version (literally dozens of locks leaked per day), leading to many jobs not running, I'm going to have to do like you: wait for the queue to be empty and clear out any stale locks.

By the way, do you have any other sidekiq middleware? Or are you using the Airbrake gem with

[2020-09-04 14:47] EGibbs87 commented on #440
I'm using sidekiq, sidetiq, sidekiq-status, sidekiq-failures, and sidekiq-unique-jobs

[2020-09-05 18:21] mhenrixon commented on #394
Hi @axos88, I did so many bugfixes in 2020 for v7. Which version are you on at the moment?

[2020-09-05 18:22] mhenrixon commented on #440
@giddie @EGibbs87 which version are you using of this gem?

[2020-09-05 23:18] amitsaxena commented on #393
Something on the lines of:
[code]

You will need to tweak the code depending on what queues could have unique jobs in your case.

[2020-09-07 07:49] giddie commented on #440
I'm using:

* sidekiq-unique-jobs: 6.0.22
* sidekiq: 6.1.1
* sidekiq-scheduler: 3.0.1
* redis (gem): 4.2.1

[2020-09-11 09:55] x-yuri opened #533 "I failed to make use of the gem without inspecting the source code with a debugger"
Okay, you probably *can* describe the purpose in terms of uniqueness. But in order to use the gem the user must understand locks and strategies. So, I'd say:

Then goes General Information, Global Configuration, Worker Configuration, Locks, Conflict Strateg<strike>y</strike>ies, and only then Usage. Do you expect user to read and understand all of that before starting using the gem. I believe Usag

[2020-09-17 18:43] nedkoh commented on #432
@mhenrixon so what are our options here? Any change this will be fixed?

[2020-09-23 06:26] x-yuri opened #534 "while_executing + raise let non-unique jobs to be executed"
**Describe the bug**
The bug is supposedly fixed [here][1] (`7.0.0.beta1`). I'm documenting it here for those struggling with `sidekiq-unique-jobs-6.x`. Try `sidekiq-unique-jobs-7.0.0.beta*`.

[1]: https://github.com/mhenrixon/sidekiq-unique-jobs/commit/fbd71c810161009fc877ec357672a5f216f0357d#diff-db2d0c26d708ff5840aa5a424abca8fdL40

Let's say you queue 3 non-unique jobs simultaneously.

**Expect

[2020-09-23 13:26] x-yuri commented on #534
@mhenrixon Can you possibly confirm? Or explain what timeout and ttl affects? How to choose the values?

[2020-09-27 09:58] mhenrixon commented on #534
Please read https://github.com/mhenrixon/sidekiq-unique-jobs#while-executing

If you configure a ttl then all jobs that are duplicate will wait for the same ttl as you configured before they are dropped.

[2020-09-27 19:21] x-yuri commented on #534
@mhenrixon I might be missing something, but let's give it a try (`sidekiq-unique-jobs-7.0.0.beta23`):

[code]

In `pry`:

[code]

`sidekiq`:

[code]

It says it timed out after 10 seconds but from the timestamps we can see that it happened after 2 seconds. By putting a debugging statement into the code we can see that what is passed to the `value()` method of a [promise][1] is `2`. `config.ttl` i

[2020-09-27 19:24] x-yuri commented on #534
Meanwhile let me reopen this issue...

[2020-10-05 13:52] ArturT opened #535 "ConnectionPool::TimeoutError and :until_executed"
**Describe the bug**
I see from time to time `ConnectionPool::TimeoutError` error because can't connect to Redis Cloud Heroku addon within 5 seconds. I've checked Redis Cloud latency metrics and it's most of the time < 0.07ms. I don't see peaks to 5s.

`ConnectionPool::TimeoutError` is raised only when I schedule async worker in the controller. I suspect this might be root problem method.

[code]

[2020-10-05 15:34] mhenrixon commented on #535
Hi @ArturT, thanks for the report. If I am not mistaken, wouldn't this also be the same error as when the connection pool can't retrieve a connection in time? I don't think it is the actual connection to redis but rather the pool waiting to receive a slot to use for connecting.

What's your database pool size and how many connections does your redis instance support?

Again, if I recall correctly,

[2020-10-05 16:13] ArturT commented on #535
Hi @mhenrixon

I guess you are right.

I use Redis Cloud Heroku addon 100MB and 256 connections.

My app uses ~67 connections to Redis.

I use puma 1 thread (my app is not thread safe). 20 puma processes per dyno. I auto scale 1-3 web dynos hence you see >= 60 connections to Redis. 7 connections come from sidekiq dyno worker.

My current config looks like in this PR description

[code]

I found he

[2020-10-05 17:38] ArturT commented on #535
I found out this: https://github.com/mperham/sidekiq/blob/d081a8a66a66d917727e3acb36d3016e940ebb83/lib/sidekiq/redis_connection.rb#L26

I have RAILS_MAX_THREADS=1 on Heroku. So it means for puma workers the `ConnectionPool` has pool `1`. When the connection is stuck then there are no other connections in the pool.

It looks like sidekiq uses 1 connection per thread so in theory I have fine config

[2020-10-05 17:38] #535 closed

[2020-10-07 17:48] radilr1 commented on #418
I am running on 7.0.0beta22 and got this error:
[code]
then nothing happened, no job entered the queue

[2020-10-23 18:46] tanner-rutgers opened #537 "Ruby reaper not working, active jobs queried incorrectly"
**Describe the bug**

Ruby reaper does not reap stuck digests due to [`active?`](https://github.com/mhenrixon/sidekiq-unique-jobs/blob/v7.0.0.beta24/lib/sidekiq_unique_jobs/orphans/ruby_reaper.rb#L120) returning an array instead of boolean (I think)

**Version:** `7.0.0.beta24`
**Ruby version:** `2.7.2`
**Redis version:** `4.2.2`

[code]

Note that in the above case, I have 2 stuck digests in Side

[2020-10-26 14:52] #537 closed

[2020-10-28 18:51] tanner-rutgers opened #543 "How to disable Reaper"
**Is your feature request related to a problem? Please describe.**

**Using version:** 7.0.0.beta25

How can we disable the reaper altogether? I think this is accomplishable by setting `config.reaper = nil`, but then I get `FATAL` log messages with `2020-10-28T18:22:30.163Z pid=75152 tid=hzk uniquejobs=reaper FATAL: : is invalid for SidekiqUnqiueJobs.config.reaper`

This is required because we're

[2020-10-28 20:55] #543 closed

[2020-10-28 21:08] mhenrixon commented on #543
Try v7.0.0.beta26, you should be able to set the reaper to `:none`, `nil` and `false` to turn it off.

[2020-10-29 13:30] godric commented on #517
Hi @mhenrixon, not sure if I should have opened a separate issue..

This bug is mentioned as "fixed" in the [changelog for v6.0.23](https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/CHANGELOG.md#v6023-2020-06-23), but there isn't anything about it in [the corresponding diff](https://github.com/mhenrixon/sidekiq-unique-jobs/compare/v6.0.22...v6.0.23)

Am I correctly assuming that the Cha

[2020-10-30 13:23] fist28 opened #546 "Locked jobs after kill -9 with while_executing lock"
**Describe the bug**
During execution of the job, the server receive kill -9 signal. After the server will start, any job for this worker can't be processed.

**Expected behavior**
New incoming jobs for the worker can be process

**Current behavior**
New incoming jobs are start processing but not execute worker code

**Versions**
- Ruby 2.5.3
- Rails 5.2.2
- Sidekiq 6.1.2
- sidekiq-unique-jobs 6.0

[2020-10-30 14:02] tanner-rutgers opened #547 "Documentation incorrect for `delete_by_digest`"
**Describe the bug**
The documentation [here](https://github.com/mhenrixon/sidekiq-unique-jobs#cleanup-dead-locks) says we can call `SidekiqUniqueJobs::Digests.delete_by_digest(digest)` to clean up dead locks on job death. However, that method appears to be an instance method, not a class method.

**Expected behavior**
I believe the real call should be `SidekiqUniqueJobs::Digests.new.delete_by_dig

[2020-11-02 10:02] mhenrixon commented on #547
I think a convenience class method would be a good idea here but I'll look into it

[2020-11-02 10:11] mhenrixon commented on #547
Ok, updating README seems like a better option in this case! done in cffe931

[2020-11-02 10:11] #547 closed

[2020-11-02 10:14] mhenrixon commented on #546
Hi @fist28, add a `lock_expiration` to your lock; that way, it will automatically be created with expiration and expire. Unfortunately, in a `kill -9` situation, there is nothing I can do. Even an ensure block won't help me there, so please, send use proper signals instead to allow sidekiq to cleanup. I already have cleanup for with_executing since these jobs should never keep the lock afterward.

[2020-11-02 10:16] mhenrixon commented on #546
![Sidekiq Signals](https://www.youtube.com/watch?v=0Q6CbF-ZmB8)

[2020-11-02 10:18] #546 closed

[2020-11-02 10:25] mhenrixon commented on #533
First of all, let me just say that I am aware of the problem. I suck at writing comprehensible and user-friendly documentation.

That said, it is intended that v7 should be released with an improved guide where the details are kind of linked to a wiki page for the gory details of how things work and the main README should more or less be a guide on how to get everything setup for a few select use

[2020-11-02 10:28] mhenrixon commented on #532
For v7 it is now `lock_digest` while for v6 it was `unique_digest`. This move was done to bring consistency to the keys this gem uses. I've updated the README.md with this for v7.  Let me know if you figured it out or not and we can take it from there.

[2020-11-02 13:06] mikesnare commented on #532
@mhenrixon But even `unique_digest` wasn't right _as-is_.  I had to write special code to strip the suffix off the string in order to use it.  Was that fixed with the change made in v7?

[2020-11-02 17:29] fekadeabdejene opened #548 "lock_args does not work when you define the lock_args argument and default lock_args function at the same time."
Version: ```7.0.0.beta25```

**Describe the bug**
The self.lock_args class method is never called when the lock_args parameter is defined in the sidekiq_options method.

**Expected behavior**
The self.lock_args class method should be called when it is defined in the sidekiq_options lock_args: :lock_args. Or the documentation should be updated to reflect this behaviour. Conversely, unique_args work

[2020-11-02 19:38] x-yuri commented on #533
My main concern with the TOC was that it was broken, but as I see you've already fixed it.

Regarding having parts of the documentation in the wiki, ideally it should all be versioned. Like you know, when you need to fix a bug in some old site, and suddenly you realize that you've got no documentation for some gem.

But I totally understand you wanting to lower the burden of maintaining the docume

[2020-11-02 20:53] mhenrixon commented on #532
Why do you have to delete the suffix?

The `:RUN` suffix is used for `while_executing` and the `while_executing` part of `until_and_while_executing`. If you are using the latter you will also delete the lock for the `until` part if your strip the suffix.

It would be helpful to see how you configured your worker

[2020-11-02 21:10] mhenrixon commented on #548
You must only define the `lock_args` argument to the sidekiq options if you need to deviate from the default convention. That said, I can see why someone might want to be explicit about it.

I'll see if I can create a failing test for this.

[2020-11-02 21:13] fekadeabdejene commented on #548
That makes sense. However, I took the failing example copy pasted exactly from the documentation. So it is a little confusing on what the correct definition would be.

[2020-11-02 21:17] mikesnare commented on #532
Simply because it's not working if I don't.  If I take the `unique_digest` value as given and call `delete_by_digest` with it it doesn't allow me to re-enqueue the same job by calling perform_async with the same args.  This was the only way I found to to get it to work.

Here's the config, if this is all you meant:
[code]

Maybe I'm misunderstanding something, but I'm not sure what that is.

[2020-11-02 21:20] mhenrixon commented on #548
@fekadeabdejene I can't replicate this in my tests.

Which sidekiq version are you on?

[2020-11-02 21:24] fekadeabdejene commented on #548
7.0.0.beta25

[2020-11-02 22:18] mhenrixon commented on #548
Great find! This will require some additional changes:

Instead of `sidekiq_options lock_args: :lock_args` you need to set it to `sidekiq_options lock_args_method: :lock_args`. Unfortunately, the usage of this key skipped the writing of the arguments completely so every single job where attempted to be set with the unique argument `:lock_args`.

I won't release it just yet, I need to write some be

[2020-11-02 23:04] mhenrixon commented on #532
UntilAndWhileExecuting uses two locks. One for when the client pushes the job to the queue (no :RUN suffix) and one for when the sidekiq server process executes the job for you (has a run suffix). The entire point with that is to let them run separately. At the point the key suffixed with :RUN is created, the previous lock (that is missing the suffix) should have been released.

I'm not saying you

[2020-11-02 23:08] mhenrixon commented on #517
Hi @godric,

Unfortunately, there will be no reaping of old jobs in v6. I am having some trouble with the changelog generator.

[2020-11-03 08:34] #548 closed

[2020-11-03 08:50] mhenrixon commented on #548
Fixed and released as https://github.com/mhenrixon/sidekiq-unique-jobs/releases/tag/v7.0.0.beta27

[2020-11-03 13:15] fekadeabdejene commented on #548
Wow quick work - thank you!

[2020-11-06 16:41] mikesnare commented on #532
I'm not sure.  What I know is that when I was calling `delete_by_digest(msg['unique_digest'])` and then later trying to re-schedule the job, it was failing and would never run again.  I will do some more testing to re-confirm this.

[2020-11-17 13:11] axos88-da commented on #394
Not sure, I'll have try to upgrade and check if the issue is still present.

[2020-11-18 15:07] alex-hall commented on #432
@mhenrixon bumping this again. Anything we can do to help?

[2020-11-18 16:41] mhenrixon commented on #432
@alex-hall @nedkoh @roman-melnyk i will take another stab at this tonight when my daughters are in bed.

[2020-11-18 18:57] mhenrixon commented on #432
I can't replicate this problem in V7, let me know if I missed something that would make it fail. I basically just copied the worker `AJob` and renamed it to something more specific and tested with the same thing and I can't make the jobs not finish.

[2020-11-18 19:21] mhenrixon commented on #432
I'm not sure this is possible to solve for v6. @alex-hall, @nedkoh, @roman-melnyk which version (if any) are you on at the moment?

[2020-11-18 21:00] alex-hall commented on #432
@mhenrixon , these are our current sidekiq versions:

[code]

Last time we tried to upgrade these gems and ran into these problem.

@roman-melnyk , can you try re-creating?

[2020-11-19 08:27] #432 closed

[2020-11-23 21:02] jchatel opened #553 "Duplicated jobs on the queue"
**Describe the bug**

Multiple jobs with same parameters are added to the process queue.

**Expected behavior**
No duplication of job with same argument are added to the queue.

**Current behavior**

We have multiple jobs with these options:
`sidekiq_options lock: :until_executed, unique_args: ->(args) { [args.first] }, on_conflict: :reject`

ProcessObjectType1, ProcessObjectType2...

For some rea

[2020-11-24 07:48] mhenrixon commented on #553
Sorry about the trouble @jchatel

The whole reason for the v7 rewrite was to refactor the code in such a way that finding and fixing these types of errors wouldn't be so hard. The v6 branch is the worst mistake I ever made as a software engineer. I thought I was clever at the time and it was released way ahead of time.

V7 takes this whole negative experience and I attempt to make something solid

[2020-11-24 12:26] jchatel commented on #553
Switching version is high risk, our business depends on our ability to process million of jobs properly.

We may keep that in the bag as a last resort, right before our option to implement our own version.

After this episode, the confidence in the gem is low and since it touches something that is mission critical, this is troublesome.

Things are back to normal after we speed up some queries (I h

[2020-11-24 18:17] mhenrixon commented on #553
Well, bottom line is that I was never able to bring stability to version 6 so I focused my efforts on a rewrite. These types of problems won't happen with the next version.

That said, I get the resistance to upgrading. If you find out what went wrong, then let me know so that I can at least fix it for v7. Failing test scenarios are helpful here; even if it is just using the command line.

Version

[2020-11-24 20:04] jchatel commented on #553
Ok, that's noted and useful information. Looking at the change log, there are some very scary bugs I would not have loved to run into. I wonder if spotify ran into them...

Do you have some places where you explain what fundamental change of approach happened between 6 & 7 or do we need to make sense of it by looking at the code of version 6 & 7? I want to understand what was so wrong about it and

[2020-11-30 07:27] mhenrixon commented on #553
@jchatel the plan is to release v7 with better documentation and a series of blog posts that go through the changes and what the new features mean.

Shopify ran into some minor issues with v7 for which they submitted PRs to fix said issues.

[2020-11-30 08:49] jchatel commented on #553
Good to know they are involved. I don't need a big documentation, can you summary in 1-2 lines the fundamental change of approach in implementation between 6 & 7?

[2020-12-02 09:26] mhenrixon commented on #553
- Reliability of while executing and until and while executing (see my latest comments in #432)
- Lock limits (can allow n number of jobs to be using the same key)
- Automatic reaping of stale keys
- Better debugging capabilities
- Extensive information about a lock (not just a digest but also which worker, what arguments were considered unique etc.)

Those are probably the most important ones. Al

[2020-12-02 19:05] adrianotadao commented on #522
I'm having the same problem. Any solution?

[2021-01-06 21:31] courtneymiller2010 opened #557 "Ruby Reaper active check incorrect"
**Describe the bug**
The ruby reaper is reaping active jobs. It appears the job json being returned from sidekiq is different than what is expected.

**Expected behavior**
If a job is active, it shouldn't be reaped.

**Current behavior**
The ruby reaper is reaping active jobs.

**Worker class**

[code]

**Additional context**

sidekiq: v5.2.9
sidekiq-unique-jobs: v7.0.0.beta27

I believe the probl

[2021-01-07 08:54] mhenrixon commented on #557
Doh! Nice find :) I'll see about getting that fixed

[2021-01-07 10:39] #557 closed

[2021-01-07 10:41] mhenrixon commented on #557
Released as `v7.0.0.beta28`

[2021-01-07 11:41] mhenrixon commented on #557
PS. I am impressed with the find @courtneymiller2010, I know the gem isn't super easy to debug!

[2021-01-07 15:23] courtneymiller2010 commented on #557
@mhenrixon Thanks for the quick fix!

[2021-01-07 18:08] courtneymiller2010 opened #559 "Race condition in ruby reaper"
**Describe the bug**
There is a possible race condition in the ruby reaper, where a worker is started, the reaper runs right after and reaps the active job.

**Expected behavior**
Active workers shouldn't be reaped.

**Current behavior**
Active workers are reaped incorrectly.

**Worker class**

[code]

**Config**

[code]

**Additional context**

I've adding some logging to outline where the proble

[2021-01-07 18:22] courtneymiller2010 commented on #559
Actually, upon testing some more with the lua reaper, I've been able to replicate it there too:

[code]

[2021-01-08 08:05] mhenrixon commented on #559
First of all, thanks for the detailed error report.

I'd like to point out that having the reapers run every second is not a good idea. They are both supposed to be running less frequently.

What I can see immediately is that the order is not optimal. The active jobs should be checked first, it might also be interesting to check the active jobs twice or even between each one to make sure that if t

[2021-01-08 13:10] courtneymiller2010 commented on #559
I've set it to 1 second in this test to be able to replicate the problem with any consistence and be able to show the issue. I'm definitely not proposing to run the reaper at that frequency. In production, we have the reaper running at the default 6 minutes and have seen this issue occur with it running at that frequency.

I don't think that checking active first or even multiple times will fix th

[2021-01-08 13:20] mhenrixon commented on #559
Actually, the sidekiq pro and ent versions have different fetchers that does some such things as you suggest.

Actually, i have intended to create my own sidekiq fetcher that takes into consideration not fetching jobs that are not able to be processed because a running job with an existing lock hasn't been cleared.

Maybe it's time to do some more thinking on that. I'll keep you posted.

[2021-01-08 13:21] courtneymiller2010 commented on #559
Another idea might be to have a config value of lock reap duration. When the reaper runs, it checks how long the lock has existed and only deletes it after it exceeds the lock reap duration and matches the other conditions. I can't imagine a scenario where you would want to reap a lock within milliseconds or even a second or two after it has been created. Obviously the amount of time you can stand

[2021-01-08 14:40] ckorhonen commented on #553
We recently noticed a similar issue with duplicate jobs executing using the v6 gem after an extended period of no issues, interestingly it only started manifesting after an upgrade from Ruby 2.6 to 2.7.

[2021-01-10 14:14] mhenrixon commented on #553
@ckorhonen to be honest, I've really taken my time with v7. There are a lot of people using V7 in production @shopify being one of them. What I did was to create a script that upgrades all the existing locks to V7 as sidekiq starts up. There are some areas for improvement but if I was to start a new project today I would personally pick v7 without any doubt.

I would like to find some time to impr

[2021-01-10 14:49] jchatel commented on #553
We moved to version 7 too. I think it would be easier to simply say you don't support version 6 because that's kind of the case already since all answers are "go for v7". At least it's be clear.

Overall, this worked for us although we ran into a big bug last Friday that is either du to existing keys that were not solved, or adding a lock to a class that was already mutliple times in the queue whe

[2021-01-11 10:39] giuliana-quickmail opened #560 "Lock not getting properly cleared for some jobs"
**Describe the bug**

The locks for some jobs were not removed after completing the job. This lead to new jobs getting rejected despite being unique with no other similar jobs in the queue.

This problem only affected *some jobs* immediately after we did a release adding the lock on the worker. We suspect the bug is related to the fact that we had many duplicate jobs scheduled and enqueued at the

[2021-01-11 12:11] mhenrixon commented on #560
If you change your worker configuration to something like:

[code]

There should be a lock_info page that you can check what is going on with the locks:

![image](https://user-images.githubusercontent.com/106795/104181028-607cd080-540e-11eb-9706-a153498e7ae7.png)

From there you should be able to provide some more details. The `lock_prefix: :psq` is just a suggestion, makes the locks a little bett

[2021-01-11 12:12] mhenrixon commented on #560
Further info, there was a fix in `v7.0.0.beta28` that addresses a problem with reaping some jobs. What is your settings for the gem itself?

[2021-01-13 10:09] giuliana-quickmail commented on #560
Thanks for the suggestions, @mhenrixon.

Settings are:
[code]

[2021-01-13 12:23] mhenrixon commented on #560
For v7 it is `lock_digest` in the death handler. @giuliana-quickmail

[2021-01-14 00:55] jchatel opened #561 "Can't add the lock tab o nthe website when there is authentication through devise"
Sorry, this may not be anything to do with you, but I'm not sure why adding the authenticate prevents the lock page (& sidekiq web) from displaying.

As I added `require 'sidekiq_unique_jobs/web'` and now this leads to 404 (`No route matches [GET] "/sidekiq/locks"`) eventhough I'm logged in..

[code]

If I remove the `require 'sidekiq_unique_jobs/web'`, this works fine, but of course I don't have

[2021-01-14 21:02] summera commented on #524
@mhenrixon I am looking into utilizing this gem and am wondering the same thing. Currently I'm trying out `v6.0.25` since `v7` is still in pre-release. I do see that `v7` has a "reaper" to deal with orphaned locks, but I also see there might be some issues with it (https://github.com/mhenrixon/sidekiq-unique-jobs/issues/559). Is there a simple way to just set a redis ttl on the lock so that in the

[2021-01-15 08:43] mhenrixon commented on #524
@summera, someone did find a rare race condition there. v7 is regardless of that a much more reliable If you have a look at the comment https://github.com/mhenrixon/sidekiq-unique-jobs/issues/553#issuecomment-757488866, https://github.com/mhenrixon/sidekiq-unique-jobs/issues/553#issuecomment-756789494 and think about that Shopify uses v7 beta you perhaps have a little more convincing for why v7 ma

[2021-01-15 13:42] summera commented on #524
Hey @mhenrixon, thanks for the response 👍 . Sounds good, I'll give v7 a try. Is there an option to set a redis expiration on locks when using the `until_executed` lock? I still think this could be useful, especially if you opt not to run the reaper.

[2021-01-15 15:09] jamesst20 commented on #553
Hi,

I came across this bug and instantly switch to the v7 beta 28. I couldn't find anything about the 'Lock limit', could you please explain it a little?

I was waiting for a feature like this to come out and I was wondering if it wasn't just it: Using "until_and_while_executing" lock but only allows to queue 1 extra job in the queue for the lock provided by lock_args_method.

[2021-01-15 19:39] mhenrixon commented on #561
Hi @jchatel, could you check against the branch `v7/web-with-auth`? I have tested that it works for me, would love some feedback if it works for you too.

[2021-01-15 19:41] mhenrixon commented on #553
Hi @jamesst20, welcome to the discussion.

`lock_limit` allows you to configure how many locks are allowed to be queued and or processing simultaneously. I found myself wanting something like this and it wasn't super difficult to add when I was refactoring the locking mechanism.

[2021-01-15 19:53] mhenrixon commented on #524
@summera I'll revisit this topic before releasing V7.

It does seem like a good idea to be able to provide an expiration for all locks starting from when they are scheduled.

I think I already have a calculation that takes the time in future into consideration so I see no harm in that.

Might be an option to enforce expiration unless the reaper is running. First I will have to fix that race condit

[2021-01-16 07:31] #561 closed

[2021-01-16 07:49] mhenrixon commented on #524
@summera @gchan @ravicious v7 supports expiration on all locks. Meaning they will expire starting from the time the job is pushed to the queue. If they are scheduled in the future, they will expire after that timestamp.

If the job is scheduled to be executed The first of January 2022 at 10am sharp. With a `lock_ttl: 1_000` the lock will expire 1000 seconds after that time.

[2021-01-16 07:54] #524 closed

[2021-01-16 07:55] mhenrixon commented on #560
As I commented here: https://github.com/mhenrixon/sidekiq-unique-jobs/issues/524#issuecomment-761523503 you can provide a `lock_ttl: 20.minutes` or something to let the lock expire automatically after 20 minutes.

[2021-01-16 08:14] mhenrixon commented on #553
@jchatel https://github.com/mhenrixon/sidekiq-unique-jobs/issues/524#issuecomment-761523503 v7 supports the sidekiq way of expiring jobs (when they are first pushed to the queue).

Keep in mind that this doesn't guarantee uniqueness a hundred percent. It does, however, circumvent the problem where a specific worker acts up.

[2021-01-16 09:01] mhenrixon commented on #522
@adrianotadao @0xCCD @migalenkom do any of you create one background job from another?

In the original issue description it looks like that is what is going on. To be completely honest, I haven't done a whole lot of experimenting with this. I just assumed it will work as normal.

The issue description doesn't make clear if this is the case; hence the question.

[2021-01-16 09:04] mhenrixon commented on #559
@courtneymiller2010 that is an excellent suggestion.

I'll create a failing test for this scenario.

[2021-01-16 10:52] mhenrixon commented on #397
This has been fixed over several individual PRs and I can't replicate this problem anymore.

[2021-01-16 10:52] #397 closed

[2021-01-16 15:05] mhenrixon commented on #559
@courtneymiller2010, if at all possible, I'd love if you could check the PR #563 and check if you think that will work. I basically just wait so that no all jobs that are within the current reaper interval (reaper_timeout) are all considered as active. Only jobs that are older than the current time - reaper_timeout will be allowed to be reaped.

I hacked this together in a really short time based

[2021-01-18 15:02] jamesst20 opened #564 "Rejected jobs are still displayed as 'Queued' with gem 'sidekiq-status' on /sidekiq/statuses"
** Gems (all latest) **
[code]

** Description **
When I queue multiple jobs and that a lock rejects them, they are removed from the queue and added to processed as expected.

However, when visiting  /sidekiq/statuses which is provided by the gem sidekiq-status, they are still marked as 'queued' excepted for the jobs that are not discarded.

** Expected behaviors **

Set them as completed or remov

[2021-01-18 15:11] mhenrixon commented on #564
I have my own page for viewing statuses. You can find a `Locks` tab in the Sidekiq Web interface.

I know nothing about `Sidekiq::Status` so the fastest way to get my help on this would be to give me a failing test case or example where it goes wrong.

The more details the better. Otherwise, I can't really commit to fixing it.

Late last year, someone explained really nicely what went wrong with S

[2021-01-18 15:21] jamesst20 commented on #564
Thanks for the fast reply, I can't seem to find the Locks tab you are talking, I will try to look deeper in the documentation.

** Setup **

1. Install Sidekiq, Sidekiq Unique Jobs, Sidekiq Status
2. Setup routing:
[code]
3. The route /sidekiq/statuses should be working.

** Reproducing error **

Have a worker:

[code]

1. Run Rails Server but not Sidekiq
2. Queue MyWorker a few times (let's say 3

[2021-01-19 19:21] courtneymiller2010 commented on #559
Thanks for tackling this! Unfortunately, I don't think this will fix the issue for the ruby reaper. The problem being that because the reaper is running right after the worker starts and the worker hasn't been added to Sidekiq redis processes, there is no "item", thus, it will never actually hit `considered_active?`. I think you'd need to exit out of `belongs_to_job?` early if the timeout hasn't b

[2021-01-20 08:02] #559 closed

[2021-01-20 08:05] mhenrixon commented on #564
First of all, you might want to add the web extension for this gem as well:

[code]

[2021-01-20 09:11] #564 closed

[2021-01-20 09:15] mhenrixon commented on #564
From my investigation, this is due to the order of the middleware. To avoid confusion and teach people that the order of middleware is super important, I decided to not add the middleware automatically.

This part deserves to be clear and up to the user. If you try the master branch (or clear your middleware first) you should be able to set everything up and verify locally.

I added more informati

[2021-01-20 12:35] jamesst20 commented on #564
@mhenrixon

Thanks for the fast reply / fixes. I updated to 7.0.0 (non-beta).

I had never heard of the web extension you told me to add in routes. Can't seem to find anything about it. Also, it's giving me this error when I try to boot up the server:

[code]

I updated my middleware chain to this

[code]

but I am still getting the same behavior.

Sidekiq v6.1.2
sidekiq-unique-jobs v7.0.0 (stable

[2021-01-20 12:39] jamesst20 commented on #564
Update, looks like doing the opposite inside middleware worked !

[code]

Sidekiq turned off, I queued 4 workers that sleeps for 5 seconds. I ran sidekiq and I got instantly this in the ui:

<img width="1053" alt="Screen Shot 2021-01-20 at 7 37 53 AM" src="https://user-images.githubusercontent.com/490234/105175919-8a12b780-5af2-11eb-8331-1fff86e28b89.png">

5 seconds later:

<img width="1036" alt=

[2021-01-20 16:11] mhenrixon commented on #564
Yeah sorry, I sloppy pasted the wrong code. There is a section in the README that has been corrected.

[2021-01-20 16:12] mhenrixon commented on #564
@jamesst20 `require 'sidekiq_unique_jobs/web'`

[2021-01-21 08:53] Heroturtle opened #567 "undefined method 'delete_by_digest' for SidekiqUniqueJobs::Digests:Class"
**Describe the bug**
Updated to 7.0.1, added middleware according to Readme and I get:
NoMethodError: undefined method `delete_by_digest' for SidekiqUniqueJobs::Digests:Class

**Expected behavior**
method defined 'delete_by_digest

**Current behavior**
What happens instead of the expected behavior?

**Worker class**
my sidekiq.rb config:

require 'sidekiq/web'

redis_options = { url: ENV["REDIS_UR

[2021-01-21 10:30] mhenrixon commented on #567
Sorry about that, seems like the documentation was wrong. Should be fixed in 6cb272ca

The correct usage is:

[code]

[2021-01-21 10:30] #567 closed

[2021-01-21 19:06] summera opened #568 "Any way to manually clear/reset the changelog history?"
**Is your feature request related to a problem? Please describe.**
While initially setting this up, I had changelog enabled. I then disabled the changelog by setting `max_history` to `nil` since I didn't need it anymore, but the old entries remained.

**Describe the solution you'd like**
It would be nice to have a command to run in the console or a button in the UI to clear the changelog history.

[2021-01-21 19:07] summera commented on #524
@mhenrixon thanks a lot, working on v7 👍 .

[2021-01-21 21:16] mhenrixon commented on #568
That's a great suggestion! I'll make that happen for the next release.

[2021-01-22 12:55] #568 closed

[2021-01-22 12:55] mhenrixon commented on #568
It will be released with the next version

[2021-01-22 15:56] mhenrixon commented on #568
https://github.com/mhenrixon/sidekiq-unique-jobs/releases/tag/v7.0.1 also makes the reaper start, I added tests for this to avoid such problems in the future.

You should have a `Changelogs` tab in the sidekiq web extensions now @summera

[2021-01-22 16:09] summera commented on #568
@mhenrixon that was fast! Thanks a lot. I see that in https://github.com/mhenrixon/sidekiq-unique-jobs/pull/570, the `death_handlers` part was removed from the README:

[code]

Is that no longer necessary if you are **not** running the reaper? I did notice during my testing that when I raised an exception in a job, `lock_digest` did not seem to be available in that `lambda` but the lock was still

[2021-01-22 16:19] mhenrixon commented on #568
@summera If you follow the instructions and run `SidekiqUniqueJobs::Server.configure(config)` I do that automatically for you.

Seems like a waste to leave it up to the user when it can be avoided.

[2021-01-22 16:52] summera commented on #568
Agree, thanks 👍

[2021-01-22 19:21] mhenrixon commented on #534
There was a number of fixes in beta since then. I'd be interested in knowing if it is still a problem.

This particular situation I haven't looked into but I did fix a number of things since then with the runtime locks (while executing)

[2021-01-22 19:25] mhenrixon commented on #418
@radilr1 if you configure according to the readme for v7.0.1 it will add a death handler automatically for you now.

I strongly recommend having the reaper running as well to reduce the impact of orphaned locks.

[2021-01-22 20:46] mhenrixon commented on #531
@loneaggie super fetch gets the job. It isn't a second one, it is the first one being restarted since you have retry turned on. The lock should stay until the worker is done performing the work.

Highly recommend giving SidekiqUniqueJobs v7.0.1 a try instead (you too @macmartine)

[2021-01-22 20:48] mhenrixon commented on #532
@mikesnare, you were right. There was an issue with the code that deleted the RUN key and it tried to add a second `:RUN` suffix (ending up with `:RUN:RUN`). I've fixed all of that for v7 and recommend you give `v7.0.1` a try.

[2021-01-22 20:48] #532 closed

[2021-01-22 20:49] #531 closed

[2021-01-22 20:53] mhenrixon commented on #530
If you can, upgrade to `v7.0.1`.

The `while_executing` lock will allow any number of locks in a rails app. We don't enforce uniqueness since it becomes almost impossible to test (some people don't even use real redis). If you despite recommendations are interested in testing the uniquness I have a [section in the README](https://github.com/mhenrixon/sidekiq-unique-jobs#uniqueness) about it.

Let

[2021-01-22 20:53] #530 closed

[2021-01-22 21:01] mikesnare commented on #532
Nice to be vindicated.  :)  Thanks for the update!

[2021-01-22 21:18] mhenrixon opened #571 "Please try v7.0.10"
I have worked really hard for over a year on stabilizing and improving the gem.

Unfortunately, I couldn't really come to terms with the code and the tests in version 6. I kindly ask that any person who has an issue with version 6 considers an upgrade to `>= v7.0.1`. That way, it will be a lot easier for me to help you.

Being a sole maintainer with a wife, two kids, other hobbies, and a full-time

[2021-01-22 21:19] mhenrixon commented on #560
https://github.com/mhenrixon/sidekiq-unique-jobs/issues/571 `v7.0.1` now automatically configures death handler and cleanup of orphaned locks according to the guide.

[2021-01-22 21:20] mhenrixon commented on #553
https://github.com/mhenrixon/sidekiq-unique-jobs/issues/571 `v7.0.1` is highly recommended.

[2021-01-22 21:22] mhenrixon commented on #534
#571 v7.0.1 is highly recommended. I'm happy to reopen the issue and keep it v7 specific if you are still having trouble with `v7.0.1`

[2021-01-22 21:22] #534 closed

[2021-01-22 21:24] mhenrixon commented on #526
#571 v7.0.1 is highly recommended. I can't remember if I fixed this for v6, but for v7, I definitely try both the class and instance method of the after_unlock method, so you don't have to worry about which one you define it as.

[2021-01-22 21:24] #526 closed

[2021-01-22 21:24] mhenrixon commented on #529
#571 v7.0.1 is highly recommended. Let me know if there is still a problem in v7 and I will get to it immediately.

[2021-01-22 21:24] #529 closed

[2021-01-22 21:30] mhenrixon commented on #525
## TTL (Time To Live)

This is a Redis term! Since we are backed by a Redis database I figured it would be cool to spread some of that lingo. It means how long, after the lock is created should we let it live. Think of it as the time to expire if you want or simply put; expiration!

## Timeout

How long to wait for getting the lock until we timeout the attempt and fail. This is not at all needed a

[2021-01-22 21:32] ArturT commented on #564
Hi @mhenrixon

I believe the code example from readme is invalid. https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/README.md#sidekiq-status
I tried it and it left multiple jobs with queued status in sidekiq-status web UI (the same as on [screenshot in the first post](https://github.com/mhenrixon/sidekiq-unique-jobs/issues/564#issue-788339801)).

I noticed you said in readme something o

[2021-01-22 21:33] mhenrixon commented on #523
That's an old version :) Any chance you could get hold of say v7.0.1 instead? See #571  for more information

I think I relied on ActiveSupport or reimplemented parts of it for older versions. I can't even remember anymore, it was a long long time ago.

[2021-01-22 21:33] #523 closed

[2021-01-22 21:35] mhenrixon commented on #522
It would be brilliant if someone that is having this problem could follow the instructions in #571 and create a failing example for me using `v7.0.1`. I'll close this for now but I'm here to help (preferably with v7).

[2021-01-22 21:35] #522 closed

[2021-01-22 21:39] mhenrixon commented on #509
In #571 I go through how to simply configure Sidekiq but to be honest, that question belongs more in the Sidekiq issues. Perhaps you can find some guidance on their wiki? https://github.com/mperham/sidekiq/wiki/Using-Redis

I'll go ahead and close this issue for now. Doesn't really relate to this gem as we are just using the configuration for Sidekiq to work our magic.

[2021-01-22 21:39] #509 closed

[2021-01-22 21:40] mhenrixon commented on #501
Closing due to inactivity :) See #571 for guidance, there was a lot more work being put into v7 and I suggest to start with v7.0.1

[2021-01-22 21:40] #501 closed

[2021-01-22 21:43] mhenrixon commented on #498
Closing and directing to #571. There was another 14 releases of the beta before moving on to v7 no beta. Try v7.0.1.

[2021-01-22 21:43] #498 closed

[2021-01-22 21:44] mhenrixon commented on #486
#571 v7.0.1 is highly recommended, I believe I fixed all the quirks about the reaping. Let me know if you find any type of issues with it and I will fix it immediately.

[2021-01-22 21:44] #486 closed

[2021-01-22 21:45] #480 closed

[2021-01-22 21:45] mhenrixon commented on #480
Closing because I believe it isn't relevant anymore. Also, see #571 !

[2021-01-22 21:47] mhenrixon commented on #464
Closing as the problem seems to have resolved itself. Please see #571 for upgrading to v7.0.1

[2021-01-22 21:47] #464 closed

[2021-01-22 21:50] mhenrixon commented on #418
@cpiazza @glennfu I'd love to help you guys with an upgrade to v7. See #571 for information, I could make myself available for some pair programming as well if you are interested.

v7.0.1 is the place to be!

[2021-01-22 21:50] #418 closed

[2021-01-22 21:52] mhenrixon commented on #395
@alexanderbanks v6 put the expiration on when the lock was done executing. In v7 (after a lot of requests) I reverted back to the v5 way of expiring by setting it at the time of creating the lock in the first place.

That way, the lock is removed either when the worker is done working or the expiration kicks in.

See #571 for information about how to upgrade. Closing this for now as I believe @jch

[2021-01-22 21:52] #395 closed

[2021-01-22 21:55] mhenrixon commented on #394
Closing due to inactivity! 😁

See #571 for an upgrade to v7.0.1 and report back if you are still experiencing the same problem. I'll get to them one at a time but I need some participation 🤪.

[2021-01-22 21:56] mhenrixon commented on #391
I believe this was fixed for v7.0.1; see #571 for how to upgrade.

[2021-01-22 21:56] #391 closed

[2021-01-22 22:00] mhenrixon commented on #564
Dangit @ArturT! I knew I rushed that a bit much. I'll copy your example to the README.md, thanks a bunch for letting me know!

[2021-01-22 22:05] mhenrixon commented on #564
Ok, I updated the README again 😶

[2021-01-22 22:14] jchatel commented on #395
yep

[2021-01-26 02:53] adampal commented on #525
Thanks, that makes sense re the difference between TTL and Timeout.

Could you explain how TTL relates to the time a job takes to complete?
If I set a TTL of 30 seconds but the job takes 10 minutes, does this mean that the lock has expired and a duplicate job could start running?

[2021-01-26 11:04] giuliana-quickmail commented on #560
Thanks, @mhenrixon! For now, we fixed the death handler config and jobs seem to be running smoothly, so we'll stick to `7.0.0.beta27` as we're devoting all resources to other initiatives.

[2021-01-26 11:39] bekicot commented on #571
Do `hiredis` is a requirement?

[2021-01-26 13:36] mhenrixon commented on #571
Hi @bekicot, not a requirement, definitely recommended if you are on regular ruby and are able to use C extensions as it does speed up things a little.

I use it for every project that deals with redis and sidekiq

[2021-01-26 13:37] #560 closed

[2021-01-26 13:40] mhenrixon commented on #525
The lock would expire after 30 seconds then and duplicates would be allowed. Since v7.0.1 there is automatic cleanup of orphaned locks so you shouldn't really have to worry about expiration since it will get cleaned up on a regular schedule.

Have a look for an initial configuration of v7.0.1 #571 that should be a good start.

[2021-01-26 15:41] bekicot commented on #571
@mhenrixon I have an inconsistent result with this configuration
[code]

If I'm not mistaken, only 1 worker can be run every 10 second. Because of the `lock_ttl`. But it only true for the first and second worker. The later, have inconsisten time. Most of the worker run later, is run less than 10 second of the previous worker.

[2021-01-26 17:00] collimarco commented on #571
Hello,

first of all thanks for this great gem.

However I see some problems after the upgrade from v6... In particular if I run rspec in our application I get hundreds of messages like this:

[code]

This is one of the workers that produce the error:

[code]

Then in the tests:

[code]

- If I call `DestroyUserJob.perform_async` 1 time, I don't get any warning...
- If I call it 3 times, like in t

[2021-01-26 19:18] adampal commented on #525
Thanks, I'll take a look at v7 👍

[2021-01-26 22:28] mhenrixon commented on #571
Hi @collimarco,

Please see the section about testing: https://github.com/mhenrixon/sidekiq-unique-jobs/#testing I recommend you leave the testing of uniqueness to the gem maintainer. There are ways to test uniqueness but it is complex and unreliable.

[2021-01-26 23:12] collimarco commented on #571
@mhenrixon Thanks for the reply! The test for uniqueness here is just an example... I can even remove that test from our test suite, however I would not solve the problem. **We have tens (or hundreds) of WARN like that above in very different tests** : I took one that was simple to reproduce for you.

Basically every test that involves background workers in some way raises that errors. I'm not tal

[2021-01-26 23:21] collimarco commented on #571
Example:

[code]

[2021-01-27 07:31] mhenrixon commented on #571
@collimarco did you read the entire thing?

[code]

[2021-01-27 08:11] mhenrixon commented on #571
@collimarco, I'll try to write better documentation and I will also write some blog posts about this in the near future.

[2021-01-29 14:03] ArturT commented on #571
@mhenrixon Is it required to add the below config in the config initializers file or are those new defaults?

[code]

I updated sidekiq-unique-jobs gem to the 7.0.1 last week and I noticed since that a Redis memory leak. I have 50MB of `knapsack_pro_api:production:sidekiq:uniquejobs:*` keys (type LIST) that did not expire and it grows every day.

I have already added line `SidekiqUniqueJobs::Serve

[2021-01-29 16:40] ArturT commented on #571
I tried different configurations like:

[code]

[code]

[code]

[code]

[code]

[code]

But non of this configuration makes reaper work on the production.

On heroku staging I see in the output below messages. Every 10 minutes reaper was run and did nothing. That's fine as there is no jobs on staging.

[code]

On production I see:

[code]

There is no message like `uniquejobs=reaper INFO: Nothing

[2021-01-30 12:14] ArturT commented on #571
I managed to fix the issue but most likely I discovered a bug that leads to a memory leak in Redis.

Here is what I did:

I checked how many keys are in Redis:

[code]

There is 162k keys. They take ~58 MB. I checked that with Redis Insight (I downloaded a backup of my DB and analyzed it offline).

I updated my config to use a new prefix: `config.lock_prefix = "uniquejobs-v2"`. I use default setti

[2021-02-01 19:57] mhenrixon commented on #571
@ArturT sorry about the slow response. I haven't gotten the notifications until now. I will have a look tomorrow, maybe I missed writing some test. Thanks to your (yet again) wonderful bug report I am sure I can have a fix ready in no time.

[2021-02-02 18:14] DAmatheson commented on #571
It might be worth mentioning in the upgrade notes or docs in general that the lock upgrade process is blocking during server startup and can take a bit of time for higher volume use cases.

I tried to roll out this upgrade yesterday and had to revert it after running into jobs not being picked up by the workers and exceptions from `sidekiq-pro` around the heartbeat not yet being set up after 10+ s

[2021-02-02 19:13] mhenrixon commented on #571
@DAmatheson thanks for the heads-up, I'll put a note in the readme about the potential delay in startup time.

[2021-02-03 20:40] andresespinosapc opened #573 "Raise conflict error on client"
**Is your feature request related to a problem? Please describe.**
I'm not sure if this is a bug or feature request. When I use perform_async with `on_conflict: :raise` strategy set, the error is raised on the server but not on the client.

**Describe the solution you'd like**
I want the error to be raised on the client, or at least returning a nil id. I want to know if the job was queued or not f

[2021-02-03 20:53] mhenrixon commented on #573
Please provide some more context.

Versions? Worker? Configuration? Basically anything that allows me to help you

[2021-02-03 20:57] andresespinosapc commented on #573
Hi!

sidekiq: v6.1.2
sidekiq-unique-jobs: v7.0.1
rails: v5.2.4
ruby: v2.7

My worker has basically this:
[code]

[2021-02-08 12:30] mhenrixon commented on #571
@ArturT sorry about the delay, I had about a work months worth of work in the previous two weeks. When the weekend finally landed I was fed up with programming.

I'm having a look right now at this. Seems like some weird issue that could easily be avoided

[2021-02-08 12:53] ArturT commented on #571
@mhenrixon Sure, not a problem. Thanks for looking into it.

1) Could you share more info what's the purpose of `PRIMED` keys? I've checked the source code of sidekiq-unique-jobs gem but I wasn't sure what it does. I also found that there is key pattern like `RUN:PRIMED` but they are correctly removed from Redis memory. So the problem is related only to `PRIMED` keys only.

2) I also noticed that

[2021-02-08 16:29] mhenrixon commented on #571
@ArturT The primed keys are used for the sole purpose of picking up the keys from the queue.

The numbers for the reaper would be highly dependent on the project, the load, and such. It would have to be tweaked a little. For example, in your case, it might be too low. It depends on how many keys you want to reap at a time.

I added coverage for the keys and it does look like the reaped keys are al

[2021-02-08 17:53] ArturT commented on #571
You are not able to reproduce the problem with the left `PRIMED` keys, right?

I'm wondering, is it possible that middleware `Sidekiq::Status::ClientMiddleware` affects reaper and prevents deleting `PRIMED` keys? The full [middleware config is in the comment above](https://github.com/mhenrixon/sidekiq-unique-jobs/issues/571#issuecomment-769914903).

Here is my worker class

[code]

**Side note:**

[2021-02-08 20:06] mhenrixon commented on #571
I'm pretty sure you will find no need for the custom script after that PR gets released but it would be brilliant if you could try it first before I release it.

[2021-02-08 20:16] ArturT commented on #571
@mhenrixon Thanks. I'm going to test it now and report back.

[2021-02-08 20:31] ArturT commented on #571
@mhenrixon Your [PR](https://github.com/mhenrixon/sidekiq-unique-jobs/pull/574/files) fixed the issue. I no longer see `PRIMED` leftover keys.

[2021-02-08 21:02] mhenrixon commented on #571
Released as v7.0.2 @ArturT !

[2021-02-08 21:20] ArturT commented on #571
@mhenrixon Thank you!

[2021-02-08 22:05] gchan commented on #571
We have been on the v7 beta for a while and have had great success.

I've noticed with the change to give users full control over adding middleware https://github.com/mhenrixon/sidekiq-unique-jobs/pull/566, there appears to be some missing sidekiq callback configurations. I could be misinterpreting the code. Would you be able to confirm? The following is code that existed prior to https://github.c

[2021-02-08 23:57] mhenrixon commented on #571
@gchan the code now exists in https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/lib/sidekiq_unique_jobs/server.rb

Just follow the instructions in the read me.

[2021-02-10 14:46] DAmatheson commented on #571
👋🏻  Something of note from my experiences upgrading to 7, I'll leave it up to you on if it warrants any changes as I've successfully upgraded to 7.0.2 regardless.

I tried deploying 7.0.1 and ran into the long running lock upgrade I had mentioned [previously](https://github.com/mhenrixon/sidekiq-unique-jobs/issues/571#issuecomment-771857772). As I said then, I reverted it out of an abundance of ca

[2021-02-10 15:23] mhenrixon commented on #571
Thanks for the feedback @DAmatheson, I'll look into some way of handling this better.

[2021-02-10 15:23] mhenrixon commented on #571
I think a simple instruction to delete a couple of redis keys when downgrading should do the trick.

[2021-02-10 16:55] ArturT commented on #571
Hi @mhenrixon , I noticed a spike in the number of threads after deploying to production sidekiq-unique-jobs 7.0.2. This is causing an increase in RAM memory usage in the Heroku dyno (this not affects Redis). When my Heroku dyno run out of memory I get exceptions like `ThreadError: can't create Thread: Resource temporarily unavailable` for different workers.

I suspect that maybe you accidentally

[2021-02-10 17:03] mhenrixon commented on #571
That's unfortunate, there should only be one thread started but I'll investigate this.

Could you tell me which concurrent ruby version you have @ArturT?

[2021-02-10 17:07] ArturT commented on #571
It's concurrent-ruby (1.1.8). I see it's the latest one https://rubygems.org/gems/concurrent-ruby

I did threads profiling in NewRelic and it points at concurrent-ruby
<img width="593" alt="3 - profiling threads in worker" src="https://user-images.githubusercontent.com/662545/107544749-d3729600-6bca-11eb-855b-b250817d64fb.png">

[2021-02-10 17:15] ArturT commented on #571
Here is the latest line from the thread profiling in NewRelic. It points at reaper. Maybe reaper starts all those threads?

<img width="592" alt="4 - reaper thread" src="https://user-images.githubusercontent.com/662545/107545670-d7eb7e80-6bcb-11eb-9a1e-2d4be9464256.png">

[2021-02-10 17:30] mhenrixon commented on #571
Shit, then they most likely messed something up for me. I'll see about rewriting that part.

[2021-02-10 17:35] ArturT commented on #571
On 21 january I upgraded:
* concurrent-ruby 1.1.7 to 1.1.8
* sidekiq-unique-jobs 6.0.25 to 7.0.1

I did not see threads increase until I upgraded sidekiq-unique-jobs from 7.0.1 to 7.0.2 on 8 February late evening.
I did not change other code in my codebase that would affect sidekiq or any worker.

Could the issue be some change between sidekiq-unique-jobs 7.0.1 and 7.0.2 version that started causi

[2021-02-10 18:50] mhenrixon commented on #571
I only start one thread and I only register the key unless it doesn't exist. https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/lib/sidekiq_unique_jobs/orphans/manager.rb#L170

I can't replicate the problem no matter how hard I try. The first _sidekiq server_ that starts a manager locks this and it refuses to be updated. If the process hasn't been started after that it haven't been start

[2021-02-10 19:10] ArturT commented on #571
I have 1 heroku dyno with a single sidekiq process running 4 sidekiq threads.
Number of Herkou dynos can be increased from 1 to max 3 automatically when there is a lot of jobs in sidekiq queues thanks to RailsAutoscale Heroku add-on.

For last 24 hours there was only 1 heroku dyno running sidekiq process. The number of new threads was increasing. So I assume the issue is not related to the number

[2021-02-10 19:16] ArturT commented on #571
Another thing that might be connect to the problem. I see in the sidekiq output on production this:

[code]

There is ~6 minutes difference between each reaper run. Is this expected when `reaper_interval = 60` and `config.reaper_timeout  = 30`? I guess the output should happen every 60 seconds. Maybe threads freeze for some reason and this leads to the increasing number of new threads being create

[2021-02-10 19:29] mhenrixon commented on #571
It does look like the timer task might be the culprit.

I'll see if I can find a better way of handling it.

I'll see if I can get some inspiration from the Sidekiq source code. Concurrent ruby obviously isn't a magic bullet.

[2021-02-10 19:52] ArturT commented on #571
I've just made a test to try `reaper = :lua` to see if there is any difference. But I can't use `:lua` because it crashed my Redis and the whole website. I use intensively Redis for API endpoints. I have a high load on Redis DB ~3k ops/s.
`Redis::CommandError: BUSY Redis is busy running a script. You can only call SCRIPT KILL or SHUTDOWN NOSAVE.`.

I can't verify if `:lua` would also be problemati

[2021-02-10 20:07] mhenrixon commented on #571
https://github.com/ruby-concurrency/concurrent-ruby/issues/639

[2021-02-10 20:13] mhenrixon commented on #571
Could it be that your reaper runs have log lines in the following manner `Execution timed out`? Do you see such lines in the log output @ArturT? It could be that the leaking of threads is from that. At least according to a few of the issues I read just now.

[2021-02-10 20:19] mhenrixon commented on #571
So by the looks of it, concurrent ruby is broken. It just spinds up new threads without limit. There is a PR that could potentially fix the problem (from 2018) but nothing happens see: https://github.com/ruby-concurrency/concurrent-ruby/pull/749 for more information and a potential solution.

Really bummed out that concurrent ruby isn't more reliable after all this time. Give me a couple of days t

[2021-02-10 20:21] ArturT commented on #571
Good catch! This comment explains the issue nicely https://github.com/ruby-concurrency/concurrent-ruby/pull/526#issuecomment-287992834

I never saw in the output message like `Execution timed out`. There is just no output at all for a long time.

If reaper takes a lot of time to run then after exceeding `config.reaper_timeout` I would expect it to produce output like `Execution timed out`. But I n

[2021-02-10 20:23] ArturT commented on #571
That's a good tip. I will increase `reaper_timeout` even more and monitor the memory and threads number for the next day.

It might be useful to have this info in README because default recommendation `reaper_interval=10, reaper_timeout=5` could lead to issue more likely.

Thanks for the help with finding the root issue.

[2021-02-10 20:29] ArturT commented on #571
I just found in the output `Execution timed out` message so I can confirm the notification about timeout works.

[code]

If I will change `config.reaper_count = 1000` to a lower value, should the reaper work faster? I'm wondering why 60 seconds might be not enough time for the reaper to clean up 1000 keys in Redis. What would be the slowest operation that the reaper does?

[2021-02-10 21:38] ArturT commented on #571
I'm wondering if there is something we could do to improve the speed of the ruby reaper. I found this method `in_sorted_set?(key, digest)`

https://github.com/mhenrixon/sidekiq-unique-jobs/blob/a8f4d2babad4516c664c9d8a4d899b2179bd9072/lib/sidekiq_unique_jobs/orphans/ruby_reaper.rb#L197

and this method was also visible in the [thread profiling I did in NewRelic (98% time spend in this method)](htt

[2021-02-10 22:27] ArturT commented on #571
I was testing different values for `reaper_count`. I tried `reaper_count = 10` but still getting timeouts.

Then I found this https://github.com/mhenrixon/sidekiq-unique-jobs/blob/a8f4d2babad4516c664c9d8a4d899b2179bd9072/lib/sidekiq_unique_jobs/orphans/ruby_reaper.rb#L55
When there is no digest to be removed then this method will scan all keys and this will be slow no matter what's the value of `r

[2021-02-11 13:13] mhenrixon commented on #571
I will update the README according to your findings. I will still fix the underlying issue, maybe I copy the code from the TimerTask and use a SingleThreadExecutor instead to prevent leaking.

[2021-02-11 14:30] ArturT commented on #571
Update after using below config since last night:

[code]

* number of threads seems to be stable ~10-12. I don't see leaking threads anymore.
* I still see timeout from time to time in the output:

[code]

I also see the reaper removes some orphans so that's good.

[code]

I don't see the impact on Redis memory so running reaper every 10 minutes is good enough in my case. I would consider the pro

[2021-02-11 15:00] mhenrixon commented on #571
No, thank you @ArturT you did most of the investigation. I am so happy you managed to find a workaround until I get the underlying issue completely fixed.

I will also see about improving the performance here a bit. What I had in mind was to use futures and zip them at the end so at least the checks don't have to run in parallel.

Even if it wasn't perfect, as long as no one is negatively affected

[2021-02-15 08:42] mhenrixon commented on #571
@ArturT I tried to fix the problem in https://github.com/mhenrixon/sidekiq-unique-jobs/pull/576. As you can see in `bin/profiling` I can no longer replicate the problem but before merging I would really appreciate some help checking the PR out if it might work for you.

[2021-02-24 18:49] DAmatheson commented on #571
👋🏻  It seems like the Locks and Changelog web pages have some functionality problems.

- Paging doesn't seem to work on either page
- Filtering on Changelogs doesn't seem to work, I tried searching with values in any of the columns and got no results
- Filtering gets reset when you try to use the paging controls

[2021-02-24 19:51] ArturT commented on #571
I can confirm this issue. When you click the `Next 100` button then filter is rest back to `*`.

Have you tried `*my-string*`. It seems to return results then.

[2021-02-25 20:54] mhenrixon commented on #571
Thank for the report @DAmatheson and @ArturT I will see about getting that fixed this weekend.

[2021-03-02 12:16] Wolfer opened #578 "redis-namespace asks to use admistrative commands directly"
When Sidekiq configured use redis namespaces like this

[code]

Deprecated text appears at startup

[code]

[2021-03-02 12:18] Wolfer commented on #578
https://github.com/resque/redis-namespace#administrative-commands

[2021-03-02 18:17] roman-melnyk commented on #432
@mhenrixon 👍🏼 confirming correct work in 7.0.4 version

[2021-03-05 16:54] luizsignorelli commented on #573
I'm also using `on_conflict: :raise`, to show a message on the ui telling the user that there is already a job running, but it is working like Andres wanted (exception raised on the client).

I have a related question. Is it possible to know the `jid` of the previously enqueued job when there is a conflict? The reason I want it is to let the user know when the job is done. Right now I just show an

[2021-03-05 17:25] mhenrixon commented on #573
@luizsignorelli that could be arranged I believe. I'll make an attempt to ponder this over the weekend.

[2021-03-05 17:26] mhenrixon commented on #571
Merp! Been a crazy week, kids sick and such. Hopefully finding a minute during this weekend.

[2021-03-08 17:26] luizsignorelli commented on #573
Thanks @mhenrixon. If you point me to the right direction I can give it a try as well. I'm on a quest to improve our Sidekiq jobs and have bandwidth for a PR this week.

[2021-03-09 15:01] mhenrixon commented on #573
@luizsignorelli the error is defined here: https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/lib/sidekiq_unique_jobs/exceptions.rb#L15 I was thinking of just extending it with old values somehow. Still haven't had time to look into it.

[2021-03-15 22:38] mockdeep commented on #487
I don't think global ids should interfere with uniqueness, since they're just a string. They get serialized in the arguments as something like:

[code]

[2021-03-17 17:41] MichaelM-Shopify opened #579 "Deprecation warning for redis behaviour change in 5.0"
**Describe the bug**
There is a deprecation warning in Sidekiq output complaining about a line of code in sidekiq-unique-jobs

It references this line:
https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/lib/sidekiq_unique_jobs/orphans/ruby_reaper.rb#L127

[2021-03-18 05:48] yaoyi opened #580 "RubyReaper treats runtime lock as orphan and delete it"
when using until_and_while_executing, RubyReaper treats runtime lock as orphan and delete it, which causes duplicate running jobs.

in the follow codes, digest in workers is without suffix "RUN"
[code]

[2021-03-18 07:01] mhenrixon commented on #580
Thanks for the report @yaoyi, I'll see what I can do about that!

[2021-03-18 07:03] mhenrixon commented on #579
Merp, I knew toggling it in the test suite was a bad idea.

I'll see if I can support another way. Will keep you posted

[2021-03-18 07:13] mhenrixon commented on #578
I don't really have a solution to that problem @Wolfer.

For now, I've followed the Sidekiq approach of recommending against namespaces.

Possibly, I could provide some type of administrative connection for this that the user configure.

Not sure why they decided to prevent administrative commands. They created a lot of friction with that decision.

Doesn't seem fair that I as a gem owner should h

[2021-03-18 07:14] mhenrixon commented on #578
You are aware it is considered bad practice with redis namespace right?

I'm not judging, maybe you have a project where that is outside of your control at the moment.

I thought it worth mentioning at least.

[2021-03-18 07:43] Wolfer commented on #578
Yes, i know, but specific of project forces them to be used =(

[2021-03-18 08:02] Wolfer commented on #578
I found than Sidekiq provide method redis_info which incapsulate getting redis info correctly. Please, review my PR https://github.com/mhenrixon/sidekiq-unique-jobs/pull/581

[2021-03-18 08:11] #578 closed

[2021-03-18 14:34] #580 closed

[2021-03-18 14:48] #579 closed

[2021-03-18 14:53] mhenrixon commented on #573
@luizsignorelli it isn't super easy to implement this. I just had a look and it seems I return nil instead of the original jid. Would take some refactoring to make that work. I'm not saying we can't have it, I'm just saying it takes intimate knowledge with how pretty much everything is wired up.

[2021-03-18 14:57] mhenrixon commented on #580
Released as v7.0.5

[2021-03-18 14:57] mhenrixon commented on #579
Released as v7.0.5

[2021-03-18 14:57] mhenrixon commented on #578
Released as v7.0.5

[2021-03-18 15:02] Wolfer commented on #578
thank you =)
I make same PR in other your gem https://github.com/brpoplpush/brpoplpush-redis_script/pull/20. Please, review its too

[2021-03-18 20:04] mhenrixon commented on #571
@DAmatheson @ArturT I have something almost ready now: https://github.com/mhenrixon/sidekiq-unique-jobs/pull/584

[2021-03-19 03:43] yaoyi opened #585 "Reaper: undefined method `delete_suffix' for nil:NilClass"
in ruby reaper:
[code]

the key_two `payload[LOCK_DIGEST]` could be nil, which causes the `undefined method delete_suffix for nil:NilClass`

[2021-03-19 05:55] #585 closed

[2021-03-19 05:57] mhenrixon commented on #585
Fixed in `v7.0.6` sorry about that, I'll see if I can remember to write a test case for the when I receive a job that isn't unique later but for right now it should fix your problem.

[2021-03-19 05:59] mhenrixon commented on #578
Version v7.0.6 was just released with an updated dependency @Wolfer

[2021-03-19 11:43] mhenrixon commented on #571
@DAmatheson @ArturT it has been released as `v7.0.7`

[2021-03-19 17:57] roman-melnyk commented on #432
@mhenrixon tested again on sidekiq 6.2 and latest 7.0.7 version, with concurrency 20
please correct me I I'm wrong: with `while_executing` policy, all jobs can be placed in the queue, but only one will be executed at a time, right? but all placed jobs should be executed one by one, no one should be lost?
I see this in my test logs:
[code]
seems 2, 3 and 4 jobs are lost
If I put jobs when the serve

[2021-03-19 19:48] mhenrixon commented on #432
@roman-melnor it depends on your configuration. If you have a lock_timeout set it only waits that long from when the job is picked of the queue. I think there should be some log entry for that. Perhaps add `on_conflict: :log` to debug.

If you want to make sure no job is lost you can use `on_conflict: :raise` which will allow the job to be retried. You could also reschedule it.

[2021-03-29 22:54] ajw725 opened #588 "Don't lock on failure when retry: false (until_and_while_executing)"
**Is your feature request related to a problem? Please describe.**
I'm using the `until_and_while_executing` locking strategy combined with `retry: false`. When an exception is raised in the worker's `perform` method, the `UntilAndWhileExecuting` lock class rescues the exception and replaces the lock before re-raising the exception. The result is that my job has failed and will not retry, but the

[2021-03-29 23:29] ajw725 commented on #588
i guess i have another related thought/comment, which is about the lock ttl. the readme says that the default value is nil, which means "don't expire keys." this is true in the context of redis - no ttl means the key will persist indefinitely - but it's not true in the context of this gem. a lock will only be deleted upon completion of a job if the job does **not** have an explicit ttl, and otherw

[2021-04-06 19:23] jakesorce opened #589 "lock_info set to true but no lock info showing up in web ui"
**Describe the bug**
<img width="1231" alt="Screen Shot 2021-04-06 at 1 22 03 PM" src="https://user-images.githubusercontent.com/801470/113766798-18064380-96db-11eb-9427-5877e2263d52.png">

[code]

**Expected behavior**
Expected behavior is to have the lock_info show up in the UI so we can debug jobs

**Current behavior**
Lock info does not show up in the UI.

`To use it turn the following setting

[2021-04-07 00:56] adampal opened #590 "Using on_conflict: :reject will delete the currently running lock"
**Describe the bug**
Create a test worker with these options:
[code]

Run the job from the console:
`TestWorker.perform_async`
Wait ~5 seconds and run the job again:
`TestWorker.perform_async`
At this point, the second job is correctly rejected.  However, when this job is rejected, it deletes the lock.
If you now run the job again within the initial 30s job's lifespan:
`TestWorker.perform_async`
T

[2021-04-07 09:15] holstvoogd commented on #571
I've just upgraded to v7.0.7 (from v6.x) and I am now seeing a lot of 'Timed out after 0s while waiting for primed token' warnings in my logs. This is on production, so not just the tests as collimarco was seeing.

It is not clear to me how to interpret these warnings, why they are happening and where exactly they come from. Should I be worried that jobs are getting lost?

A sample from the logs:

[2021-04-07 12:49] Axxiss opened #591 "upgrade_v6_lock : ERR wrong number of arguments for 'hmset' command"
**Describe the bug**

Immediately after upgrade from `6.0.20` to `7.0.7` I started seeing the following error `ERR wrong number of arguments for 'hmset' command`.  Unfortunately had to rollback as we have a big amount of old locks.

**Expected behavior**
Upgrade v6 locks converts v6 locks into v7 format.

**Current behavior**
Upgrade v6 locks throws `ERR wrong number of arguments for 'hmset' comma

[2021-04-07 17:44] egiurleo opened #592 "Question: where do orphaned locks come from?"
Hello! This isn't a feature request or a bug fix, just a question:

The documentation mentions cleaning up orphaned locks with the reaper. Can you explain how locks get orphaned? Why is it necessary to have a reaper at all?

I'm also happy to make a pull request to add this to the documentation once I understand it. Thank you for this awesome gem!

[2021-04-07 17:53] mhenrixon commented on #592
Hi @egiurleo,

Thank you for the question! It is a very valid question. Historically, I've taken a pretty hard stance on enforcing uniqueness. The reason for this being that I feel like that's what this gem should really be about.

Other gems like sidekiq enterprise and some open source versions are too lenient on expiring jobs.

There are situations that would allow a job (and corresponding lock)

[2021-04-07 18:21] egiurleo commented on #592
@mhenrixon Thanks for the clarification! I'd be interested in reading those blog posts if you ever post them anywhere. Thank you again for all your hard work.

[2021-04-07 18:21] #592 closed

[2021-04-08 08:16] mhenrixon commented on #591
Hi @Axxiss! Sorry about the trouble, the upgrade procedure can be extremely slow in some cases when there are a lot of locks.

I see no reason for this error as I have tests for newer versions of `redis-rb`. It looks like you might have some locks that don't have the values needed for an upgrade.

What I am about to write is hypothetical so please don't take it with a grain of salt:

I _think_ tha

[2021-04-08 08:37] Axxiss commented on #591
Hi @mhenrixon thanks for the quick reply, much appreciated! 😄

Yeah, something like that is what I have in mind. If it's possible to know the age of a lock, delete the oldest ones. Something like "delete everything older than a week". In case that's not possible, probably deleting all locks and starting from a clean state would be ideal.

[2021-04-08 10:17] donaldpiret opened #593 "Max expiration for locks"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Looking at the feature in Sidekiq enterprise (https://github.com/mperham/sidekiq/wiki/Ent-Unique-Jobs) they seem to have a maximum amount of time the lock will be valid for (eg. lock is unlocked when the job is completed or this deadline i

[2021-04-08 11:03] mhenrixon commented on #593
Versions @donaldpiret?

[2021-04-08 11:04] mhenrixon commented on #589
You have spotted a bug @jakesorce! I vaguely remembering being perplexed about this, will look into it immediately.

[2021-04-08 11:21] mhenrixon commented on #591
@Axxiss, unfortunately, v6 doesn't keep track of anything in regards to timestamps.

The best you can do is delete all locks and start everything up (including the reaper). The reaper should remove locks that end up in a weird state, and eventually, everything should be working fine again.

The `:until_and_while_executing` was improved and should be less flaky in the future, but those would still

[2021-04-08 12:34] Axxiss commented on #591
One last thing @mhenrixon I assume that it's safe to delete all keys matching `uniquejobs:*` or should I use a different pattern?

[2021-04-08 12:53] mhenrixon commented on #591
@Axxiss, that would be the pattern that I'd use and that's the reason for the prefix.

[2021-04-08 13:44] donaldpiret commented on #593
sidekiq-unique-jobs (7.0.7)
sidekiq-cron (1.1.0)
sidekiq (6.2.1)
sidekiq-pro (5.2.1)

[2021-04-08 15:06] jakesorce commented on #589
Thank you 🙏🏼

[2021-04-09 07:57] Axxiss commented on #591
After deleting all locks and deploying latest version error is gone. Thank you!

[2021-04-09 07:57] #591 closed

[2021-04-09 09:44] Axxiss opened #594 "Locks are not released: seeing 'Might need to be unlocked manually" warnings"
**Describe the bug**
After upgrading to v7. Looks like all locks are not released properly. Seeing thousands of warnings with "might need to be unlocked manually". Which correlates with a steep increase on redis total keys and memory usage

![image](https://user-images.githubusercontent.com/1160874/114161760-b9360980-9928-11eb-8546-b9a0da84ee68.png)

**Expected behavior**
Locks are released automa

[2021-04-09 09:49] mhenrixon commented on #594
That seems exactly the opposite of what I would expect. Can you share some more details about your setup? Anything out of the ordinary with your setup? Did you configure the server like here: https://github.com/mhenrixon/sidekiq-unique-jobs/blob/fde172b31f3d42d90bb727594d58c21b921dbfaa/README.md#add-the-middleware

Are you using any other Sidekiq middleware? The order of said middleware are paramo

[2021-04-09 10:04] Axxiss commented on #594
Yes, it's configured that way, we are using other middlewares. I'll triple check everything and come back to you.

[2021-04-12 08:25] mhenrixon commented on #593
@donaldpiret Version 7 gives you the option of a Max expiration.

You push the job, expiration is set and then the lock is removed either on success or on expiration (lock_ttl).

If you want the lock to stick around you use UntilExpired instead.

[2021-04-12 08:25] mhenrixon commented on #594
@Axxiss Did you sort this one out or is it still something that needs to be looked into?

[2021-04-12 08:49] donaldpiret commented on #593
Hi @mhenrixon if that's the way it works then perhaps the readme needs a bit of an update?

This seems to imply that the lock is removed only after the job has completed + the lock ttl time?

[2021-04-12 09:07] donaldpiret commented on #593
If this is indeed an issue with the docs and the behaviour is that the lock will be removed at MAX(job completion, lock_ttl), let me know and I'm happy to open a PR for the docs.

[2021-04-12 09:19] Axxiss commented on #594
I rolled back on Friday to avoid filling up our redis instance, will continue with the investigation during this week.

[2021-04-12 12:35] mhenrixon commented on #593
What I said is the truth, I still have a lot of work with the docs; PRs greatly appreciated.

[2021-04-14 08:38] mhenrixon commented on #594
I added some debugging in #595 for your scenario. I'll cut a new release soon with these changes and I was hoping you'd be able to provide some details about your configuration using that. Basically, it should allow you to also see which workers are generating these problems so that you can share that configuration with me.

[2021-04-14 10:44] Axxiss commented on #594
Thanks @mhenrixon, this is the next item on my backlog, will get back to it once I wrap up my current topics.

[2021-04-14 14:29] chaimann opened #597 ":replace is incompatible with the server process"
**Describe the bug**
Following the advice in https://github.com/mhenrixon/sidekiq-unique-jobs#unique-sidekiq-configuration I'm adding a similar test for my worker which uses :replace strategy on conflict. I'm getting an `on_server_conflict: :replace is incompatible with the server process` failed message, however I'm not sure what I'm expected to do here. `ServerValidator` has :replace strategy li

[2021-04-14 14:39] mhenrixon commented on #597
Yeah, the thing is, when this job has ended up on the server (meaning it was pushed by the client) it would be too late to replace the job.

Your suggested solution seems to do the trick. I actually wanted to force people to use `on_conflict: { client: :replace, server: :log }` already but it seemed cruel to make that part of the requirement for the upgrade to V7.

Some projects have hundreds of w

[2021-04-14 16:05] chaimann commented on #597
Thanks for the prompt reply :)

yeah that's what I was thinking too. And the `on_conflict: { client: :replace, server: :log }` helped with the test pass.

Also I didn't have time to check the code closely but interested what happens to the duplicate job once a unique one is already on the server and the strategy is `:replace` for both client and server - is the duplicate rejected silently?

Thanks

[2021-04-26 11:58] Laykou commented on #589
We observed the same issue with the latest (as of today) version of this gem + sidekiq.

[2021-04-26 12:49] mhenrixon commented on #589
Released as https://github.com/mhenrixon/sidekiq-unique-jobs/releases/tag/v7.0.9

[2021-05-03 19:17] AmenZhou opened #600 "Nested Sidekiq jobs are not kicked off with until_and_while_executing"
**Describe the bug**
Nested Sidekiq Jobs are not kicked off with `until_and_while_executing`
But it works fine with `until_executing`

**Expected behavior**
All nested Sidekiq jobs should be executed unless they are duplicated

**Current behavior**
All nested Sidekiq jobs are not running

**Worker class**

[code]

**Additional context**
Gem Version - 5.0.10 (Quite Old, sorry)

I will dig into it w

[2021-05-03 20:51] AmenZhou commented on #600
The issue is fixed by v-6.x. Thanks

[2021-05-03 20:51] #600 closed

[2021-05-05 17:16] roman-melnyk commented on #571
hi @mhenrixon !
doing some performance testing  on `7.0.9` version I found one strange issue, may be you could explain what it can be:
I created a simple job which does nothing
[code]
and then I've put 10_000 jobs in a queue
[code]
after starting Sidekiq I got a lot of messages like
[code]
by monitoring jobs execution in sidekiq web, I noticed, that some jobs were executed, whereas another were re

[2021-05-05 19:16] mhenrixon commented on #571
@roman-melnyk this would be expected. Waiting for zero seconds means that when the job is not able to achieve a lock it will timeout after the number of seconds you configured it for. #598 commented on the logs being kind of verbose and wanted to have the ability to silence them.

What I'd like to do is to add hooks or lifecycle events to the gem so that people can do what they want with this type

[2021-05-05 20:55] joshhubers opened #601 "Timed out after 0s while waiting for primed token"
**Describe the bug**
When executing _some_ workers we are getting a `Timed out after 0s while waiting for primed token` warning.

**Expected behavior**
Workers should be executed appropriately.

**Current behavior**
It appears that jobs are started, the warning is thrown, no worker code is executed, and then the job finishes without executing.

**Worker class**

[code]

**Additional context**
This

[2021-05-06 06:59] mhenrixon commented on #601
Hi @joshhubers, this is actually a feature, not a bug. Please see this comment https://github.com/mhenrixon/sidekiq-unique-jobs/issues/571#issuecomment-832944049.

This happens for locks that have a specific or unique job during execution. If the server process can't achieve a lock in the allowed time, it logs a warning. I am looking into providing a better mechanism for when this occurs.

In gene

[2021-05-06 13:50] joshhubers commented on #601
Thank for for the quick response and your hard work.

I had read that comment earlier, I guess I'm just struggling to understand why it's happening and what I can do to resolve there issue.

Are there other logs that describe the root of the issue I'm missing? Are the client or server queues full for some reason? Am I submitting multiple jobs with non-unique arguments which cause multiple jobs wit

[2021-05-06 15:25] mhenrixon commented on #601
It might help in certain scenarios. It depends on how many duplicates are coming in at the same time etc.

In your example above you'd just slow things down a little.

There is conflict resolution you can configure and such things.

[2021-05-06 17:03] roman-melnyk commented on #571
just noticed - in this case I'm getting a lot of `Couldn't unlock digest:`

[2021-05-06 17:16] roman-melnyk commented on #571
so, what is seems worked for me - keep `lock_ttl` to nil, `lock_timeout` to 0, and change this to
[code]
then I get no unlock wornings, no timeouts

[2021-05-06 20:12] mhenrixon commented on #571
Thanks for the details @roman-melnyk I'll take another stab at this again.

Just a little too late for me right now.

[2021-05-07 00:26] kochalex opened #602 "INFO keys not persisted when job is enqueued"
**Describe the bug**
`:INFO` keys do not remain in redis when a job is first created - however they do remain after attempting to enqueue an identical job runs into an existing lock, and then show in the web UI.

**Expected behavior**
With lock_info enabled, the INFO key is created when the job is created and remains until the lock expires or is deleted.

**Current behavior**
The INFO is set to ex

[2021-05-07 07:04] mhenrixon commented on #602
The problem is that your particular lock is actually two different ones. It first locks when the client pushes the job to the queue, when the server picks it up from the queue it first unlocks that one and then creates a different lock for just around your worker doing the work.

I agree that information is lost this way and that it would be cool to keep the lock info around until the job is eithe

[2021-05-07 13:54] rasto28 commented on #601
Hello,

we have similar issue with this warning logs, but changing `lock_timeout` in settings does not help. What helps us was setting up `lock_ttl` (we were using default value).

When logging config value in `warn_about_timeout` method:

[code]

I got:

[code]

Then I notice value of `@ttl=0`. Should this be `nil`? With value set to 0, will the lock expire immediately?

Changing config to `lock_

[2021-05-07 16:27] joshhubers commented on #601
I've been looking at this issue all week and I can't seem to find the root of the issue. I've tried logging out the worker arguments that are hashed into the unique lock digest and all the arguments are unique, yet somewhere something is locking the worker out from performing.

From logging I can see I start about 10 workers with unique arguments, it's flaky, but about the first 2/3rds will execut

[2021-05-07 16:32] mhenrixon commented on #601
https://github.com/mhenrixon/sidekiq-unique-jobs/issues/571#issuecomment-833699420

[2021-05-10 07:30] mhenrixon commented on #601
It should hopefully be solved in `v7.0.10` sorry about the trouble @joshhubers and thank you for the detailed report.

[2021-05-10 07:32] mhenrixon commented on #571
@roman-melnyk I believe `v7.0.10` should do the trick. The problem was that the concurrent promise might have waited shorter than the `pop_queued`.

[2021-05-10 13:39] joshhubers commented on #601
Fantastic! That was fast! No, Thank you @mhenrixon !

[2021-05-13 22:30] ragesoss commented on #571
Hi! Thanks for all the work you've put into v7. I'm very excited about the reaper feature, which should let me get rid of some [custom code for handling orphan locks](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/eb8d68fc40de2d403958dc225b65db34a0156efb/app/services/check_course_jobs.rb).

I'm trying out the version 7 upgrade. One thing I was a little confused about is `lock_tim

[2021-05-14 07:22] mhenrixon commented on #571
@ragesoss there is a section in the readme about testing.

[code]

For example.

[2021-05-14 11:47] roman-melnyk commented on #571
@ragesoss or, if you need to disable it only in some particular specs
[code]

[2021-05-14 13:11] mhenrixon commented on #571
@roman-melnyk that looks overly complicated :) I'll post a much better solution in a few minutes.

[2021-05-14 13:37] mhenrixon commented on #571
[code]

That's how you do it @roman-melnyk

[2021-05-14 13:38] mhenrixon commented on #571
You can also use it in your test

[code]

[2021-05-14 14:25] ragesoss commented on #571
Thank you! I saw this section in the README, but I didn't understand the context because it's in the 'Uniqueness' subsection of Testing and the link to the Sidekiq Enterprise thing is broken for me. It might help to put this at the top of testing section and explain the recommendation (turn it off for testing, just like Sidekiq Enterprise) explicitly.

[2021-05-14 20:58] navied opened #605 "Sidekiq Pro Sharded Web UI Error > 7.0.8"
**Describe the bug**
When using Sidekiq Pro's Web UI Sharded mode, it breaks retrying, and deleting jobs due to this part of the code:

https://github.com/mhenrixon/sidekiq-unique-jobs/blob/61af2aaaf864ffda17238bc547093c988b61d317/lib/sidekiq_unique_jobs/sidekiq_unique_jobs.rb#L247

It tries to look for a job that does not exist on the instance that is running the web UI and instead ends up with a

[2021-05-15 11:49] mhenrixon commented on #605
Can't really help there since I don't have a sidekiq pro subscription.

If someone would cover that for me I'd love to better support Sidekiq pro.

Hard to debug without the code.

[2021-05-15 13:02] mhenrixon commented on #605
Perhaps you could provide the stack trace of the entire thing (relevant unique jobs lines only).

It seems like this is just a weird edge case that could be a problem regardless of Sidekiq Pro or not.

[2021-05-15 14:45] navied commented on #605
I can definitely test any patches if you have any ideas where the issue might be! Here is the stack trace:

![image](https://user-images.githubusercontent.com/1896993/118365386-94a60080-b56a-11eb-801c-5a6b99204063.png)

[2021-05-15 15:36] mhenrixon commented on #605
Ah ok, I was confused about the PRO part.

This has nothing to do with Sidekiq Pro. It is a situation for when the worker doesn't exist on where the code is running.

The place it crashes needs to be handled better.

I'll write a failing test for this later.

[2021-05-15 17:41] mhenrixon commented on #605
@navied could you verify if the linked PR fixes the issue for you? I suspect you are gathering multiple sidekiq processes under a single `Sidekiq::Web`?

[2021-05-16 19:22] navied commented on #605
@mhenrixon just gave it a try, looks all good on my side now! Thanks for the quick fix !

[2021-05-16 23:42] #605 closed

[2021-05-20 20:27] brycemelvin commented on #601
After further investigation, I am seeing this same `Timed out after 0s while waiting for primed token` error when I am trying to push many jobs which should be unique along with the duplicate logging message as well. So would this time out message occur during the rejection of a duplicate job? If that is the case it seems like it can be safely ignored?

[2021-05-21 06:59] mhenrixon commented on #601
@brycemelvin you are correct, it is just a warning ⚠️, not really something to be worried about. It should only occur when you have too many jobs with from the same queue, worker and with the same arguments being pushed or tried at the same time.

[2021-05-21 10:47] jerryjohnjacob commented on #601
I'm also seeing this warning. However, it doesn't seem to be restricted to the situation when an identical job is getting enqueued. I tried simulating this through a test which enqueues exactly 1 job and ran that test in isolation (flushing the redis cache before and after running the test). Got the warning every time.

Using sidekiq 6.2.1 and sidekiq-unique-jobs 7.0.11.

P.S. thank you for the am

[2021-05-21 11:30] jerryjohnjacob commented on #601
Just ran another test where I enqueued 100 jobs that each updated their own database record. In every case where the warning was received, the database record was not updated meaning the job itself didn't run. This does not seem to be an ignorable warning.

[2021-05-21 13:54] mhenrixon commented on #601
@jerryjohnjacob thanks for the report. I will do some more debugging on the issue given your test example.

[2021-05-21 14:05] joshhubers commented on #601
Sorry I never circled back on this issue. Upgrading to the version `v7.0.10` worked for us at least. We still receive the warnings, but our execution occured as expected. Not the most helpful I know for others, but I thought I'd say something for reference.

[2021-05-21 14:11] mhenrixon commented on #601
@joshhubers That is super helpful feedback! Thank you

[2021-05-21 17:53] ragesoss commented on #571
Reporting back... Here's what my upgrade looked like: https://github.com/WikiEducationFoundation/WikiEduDashboard/commit/daa4b8810fb729639132e88c0460d59b218406d0

It's been running in production this week without any problems.

Thanks!

[2021-05-22 12:50] mhenrixon commented on #571
@ragesoss that's awesome man! Thank you for reporting back and a massive thank you for the link to the PR. That's super helpful for other people who upgrade.

[2021-05-28 09:24] krutovgerman commented on #601
Hey, did you resolve the problem?

[2021-05-28 10:06] jerryjohnjacob commented on #601
@krutovgerman Not exactly. I had to downgrade to the version I was using before, which is quite old, so not a "solution" I would recommend.

[2021-05-31 12:34] jerryjohnjacob commented on #601
@mhenrixon Did some additional testing. Looks like the issue was introduced in v7.0.8. I ran similar tests to what I'd previously mentioned and noticed that the issue of the jobs not getting executed started with this version. The warnings would appear in cases where there were duplicate jobs being enqueued, but at least one of those jobs would get properly executed. Hope this helps.

[2021-05-31 12:38] jerryjohnjacob commented on #601
@mhenrixon Did some additional testing. Looks like the issue was introduced in v7.0.8. I ran similar tests to what I'd previously mentioned and noticed that the issue of the jobs not getting executed started with this version. With v7.0.7, the warnings would appear in cases where there were duplicate jobs being enqueued, but at least one of those jobs would get properly executed. Hope this helps.

[2021-05-31 18:44] mhenrixon commented on #601
@jerryjohnjacob did you also try 7.0.11?

[2021-06-01 04:12] jerryjohnjacob commented on #601
@mhenrixon: @joshhubers says v7.0.10 solves the problem for him, but it does not for me. I only get the behaviour he described with v7.0.7. So I'm wondering whether the issue is beyond the scope of just sidekiq-unique-jobs. e.g., there might be a dependency on the Sidekiq and/or Ruby versions. For reference, I'm using sidekiq 6.2.1 and ruby-2.7.1. If there is any other information that I can provi

[2021-06-02 00:32] monsha commented on #601
I'm getting this warning too. I understand this is the expected behaviour when there is already a job in the queue (the same job with the same args), but what I see is the lock is not removed after the job finishes. I see the lock remains in the `Locks` tab when busy/enqueued/retries/etc is 0. It's the same with `until_and_while_executing` or `until_executed`.

Using sidekiq 6.2.0, sidekiq-unique-

[2021-06-02 05:36] mhenrixon commented on #601
@monsha @jerryjohnjacob Thanks for the details. I'll do some experiments this week.

[2021-06-04 07:39] heaven commented on #601
This looks like debug information to me:
[code]

There is no way I can use this so the value to me is 0. But our server logs are literally flooded by these.

[2021-06-04 08:29] mhenrixon commented on #601
@heaven would it work if I set the log level to debug perhaps? There is also a PR to enable silencing of these particular log entries but I'd prefer to find a more suitable solution.

[2021-06-04 08:45] heaven commented on #601
@mhenrixon there are 2 issues I'm facing:
- flood in the logs
- lack of useful information in the output

Regarding the first problem, I think it would make sense to silence the warning when the timeout is `0`. Or change the level from `WARN` to `DEBUG`. And keep using warnings when timeout is `> 0`. Or add a config option, such as `debug:boolean`.

For the second problem, I've found that more use

[2021-06-04 08:48] mhenrixon commented on #601
@heaven I am working on a kind of event system for the gem that instead of logging will give you the event that generated the entry and the item/job itself. That way you can do whatever you want with it and I will remove the logging.

Would something like that work better perhaps?

[2021-06-04 09:03] heaven commented on #601
@mhenrixon I'm sure that would be awesome.

Well, you can still keep the logging but in this case, make it using the debug level and allow turning it on/off like with the config settings above. Might be useful in some scenarios helping to **identify** that there's a problem. While the event system will help to deal with it.

But in the meantime, if you can allow us to silence this warning that'd b

[2021-06-04 09:05] mhenrixon commented on #601
I will reduce the log level to debug immediately @heaven. Sorry about the noise

[2021-06-04 09:26] mhenrixon commented on #601
@heaven #610 610

[2021-06-04 09:44] mhenrixon commented on #601
Released as v7.0.12

[2021-06-04 11:14] heaven commented on #601
@mhenrixon amazing, thank you, man!

[2021-06-04 12:17] mhenrixon commented on #601
My pleasure @heaven! Always happy to help

[2021-06-07 19:27] privorka commented on #553
@jchatel We had the same problem and the only thing that helped us was to entirely omit the `on_conflict` option.
Our options currently look like this: `sidekiq_options queue: 'process', lock: :until_executed, lock_limit: 1`.

We had this problem on `v7.0` so it may not be the case for you but give it a try.

[2021-06-07 19:40] mhenrixon commented on #553
@privorka which conflict resolution did you have configured before?

[2021-06-07 19:45] privorka commented on #553
@mhenrixon Honestly I've tried basically all of them and ended up always with multiple jobs with the same arguments.
But I think it always rejected the even jobs. So when I tried scheduling a job with the same argument every 5 seconds with sleep for 30s let's say 10x - it ended up with executing 5 of them no matter what conflict resolution I've tried.
But we might have been doing something else wr

[2021-06-19 01:06] carolinesalib opened #613 "Lock until_and_while_executing not working as expected"
**Describe the bug**
We are upgrading `sidekiq-unique-jobs` gem from version `5.0.10` to `7.0.12` and I'm having a hard time trying to figure out if the behaviour change on lock `until_and_while_executing` is expected.

We have a mutation job that relies on database changes, so we want it to be unique but also not lose any data. Ideally, it would enqueue the first job, the second job (waiting for

[2021-06-25 21:06] carolinesalib commented on #613
Update: I couldn't get the expected behaviour with the config below. I don't lose any data but I can't actually schedule jobs and the console doesn't respond until the first one is done. I can record a video I just don't know if is any relevant.

[code]

We are still testing different options and getting different outcomes every time, even on different projects (aka myapp on sidekiq-uniq-jobs fork

[2021-06-27 10:50] mhenrixon commented on #613
Sounds like until_executing could be something for you.

It isn't as fancy but admittedly until_and_while_executing is not fully there yet in terms of stability.

It seems to vary greatly based on factors I haven't been able to isolate yet.

For some projects it works great but for projects there are issues.

Your examples above is helpful. I will use them to try and replicate something in tests.

[2021-06-29 11:36] mhenrixon commented on #613
I found a few persistent issues @carolinesalib, could you give https://github.com/mhenrixon/sidekiq-unique-jobs/pull/616 a try and see if it helps you?

[2021-06-29 14:51] mhenrixon commented on #613
It is likely, that your problems will at least to some degree go away if you upgrade to `v7.1.0`. I found some very nasty and difficult to find bugs thanks to your detailed reports @carolinesalib

[2021-06-29 14:51] #571 closed

[2021-06-29 14:57] mhenrixon opened #617 "Please try v7.1.0"
I added an [UPGRADING.md](https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/UPGRADING.md#v710) document that I will use for guiding people on how to upgrade.

A ton of bug fixes went into this release! Even `UntilAndWhileExecuting` should be less problematic now.

Finally a special shoutout to my sponsors. You make all of this work possible and worth it!

[2021-06-29 15:32] carolinesalib commented on #613
@mhenrixon Oh, that's great news! I'll give it a try today and I'll let you know 🎉 Thank you!!

[2021-06-30 08:42] #593 closed

[2021-06-30 09:58] ArturT commented on #617
After the gem upgrade I noticed this issue (in rails console):

[code]

I've checked source code of: `/Users/artur/.rvm/gems/ruby-3.0.1/gems/redis-4.3.1/lib/redis.rb:1291`

[code]

I did

[code]

Is it possible that sidekiq unique jobs is passing timeout in wrong format down to redis-rb?

[2021-06-30 10:01] mhenrixon commented on #617
Must be, I'll see if I can replicate this in a test.

[2021-06-30 11:10] mhenrixon commented on #617
@ArturT worker configuration? Just need the `sidekiq_options` really.

[2021-06-30 11:18] mhenrixon commented on #617
@ArturT I tried to replicate the problem either in the rails console or in tests.

<img width="748" alt="CleanShot 2021-06-30 at 13 18 16@2x" src="https://user-images.githubusercontent.com/106795/123951979-aa01ad80-d9a5-11eb-8e09-f48ec33babea.png">

<img width="486" alt="CleanShot 2021-06-30 at 13 17 57@2x" src="https://user-images.githubusercontent.com/106795/123951919-9a826480-d9a5-11eb-9657-2bd

[2021-06-30 12:24] ArturT commented on #617
Here is my worker:

[code]

I'll try to debug it more later on when finding some time.

[2021-06-30 13:20] mhenrixon commented on #617
It was good you had me have a look at this because I discovered that I unintentionally created a breaking change that was fixed in 7.1.1 just now.

[2021-06-30 17:57] ArturT commented on #617
I can confirm v7.1.1 works fine now. Thanks :)

[2021-06-30 18:42] mhenrixon commented on #594
@Axxiss, there was a ton of improvements since I last commented. The latest version is [v7.1.1](https://github.com/mhenrixon/sidekiq-unique-jobs/releases/tag/v7.1.0). Was a small bug in v7.1.0 but that was internal stuff only.

[2021-06-30 19:20] carolinesalib commented on #613
Just to give you an update, I still have problems with `until_and_while_executing`. As a summary, in case you want to take a second look:

[code]

First time I run the job (and sometimes for some reason I have to rename the job class) it works as expected. Job `fb0b85acfd395cd3da8b4d1e` starts while `97682aadc0adb38e4e1f4e7c` is running, and it gets executed right after `97682aadc0adb38e4e1f4e7c`

[2021-06-30 19:40] mhenrixon commented on #613
As pointed out in #617, ArturT found a bug. I accidentally inverted the timeout so that 0 means indefinitely instead of not at all like it should be. The bug was fixed in v7.1.1 which might be highly relevant to your scenario.

The second job `6eb0531db6cd39ffd6b2ad04` should behave exactly that way. That is intentional, if you want to retry that job you'd have to pick another conflict strategy. F

[2021-06-30 19:49] mhenrixon commented on #597
Sorry @chaimann, totally missed your last message.

No, in that situation, the job is replaced in the client middleware and then the server middleware crashes like you already discovered :)

[2021-07-01 07:05] mhenrixon commented on #613
To achieve what you are after @carolinesalib you'd have to use something like this:

[code]

[2021-07-01 21:17] ArturT commented on #617
@mhenrixon I have a different error this time.

Some of the jobs are timeouting due to the issue to connect with Redis. It's recommended to use a higher timeout for RedisCloud addon on Heroku. So I use 5 seconds `network_timeout`. But it seems like now the default timeout is 1 second (see error message):

[code]

Is it possible that sidekiq unique jobs does not respect timeout 5 seconds anymore?

[2021-07-02 04:14] mhenrixon commented on #617
@ArturT I can't think of a single thing. I've checked both the connection pool gem and the sidekiq gem and this behavior seems like a mystery to me.

[2021-07-02 07:44] ArturT commented on #617
I suspect this could be a coincident issue. Maybe RedisCloud had temporary issues yesterday/during this night that caused timeout and this revealed misconfiguration in my project.

I found out that I have a separate redis config for sidekiq server than sidekiq client. In case of sidekiq server config I had `timeout: 5` option instead of `network_timeout: 5` (I suspect the wrong key name could caus

[2021-07-02 07:47] mhenrixon commented on #617
Thanks for reporting back @ArturT! I was always wondering why sidekiq uses `network_timeout:` to set `timeout:` on the redis connection in redis-rb. Seems like it would be better to just pass on `timeout:` since that obviously is done anyway.

[2021-07-02 08:11] ArturT commented on #617
I was wrong about the misconfiguration in my config. In one place I use Redis.new. It [requires `timeout` key](https://github.com/redis/redis-rb#timeouts). The `network_timeout` key is only specific for the Sidekiq.

I found in another place that I use `ConnectionPool` so I added there missing `timeout` key. But this seems like config for sidekiq client (not server) so I'm not sure if this will he

[2021-07-02 11:18] mhenrixon commented on #617
Hi @ArturT, it seems like `pool_timeout` in sidekiq translates to `timeout` in connection pool and `connect_timeout` translates to `timeout` in Redis so indeed you must be using both. If you increase `connect_timeout` to 5, then you would still have to (in the server block) configure `pool_timeout`.

Super confusing, I can't think of a single time when I would like my pool timeout to be less than

[2021-07-02 11:21] mhenrixon commented on #617
[code]

Try something like this @ArturT

[2021-07-02 11:38] ArturT commented on #617
@mhenrixon That's a good catch with [`pool_timeout`](https://github.com/mperham/sidekiq/blob/461ef8392fe8503cda849769fc590a113bd04559/lib/sidekiq/redis_connection.rb#L31). I added it to my config. If I will see any exceptions I will report back. Thank you for the help.

[2021-07-03 14:44] carolinesalib commented on #613
@mhenrixon thanks!! I did some testing and I think that would do ❤️

[2021-07-03 14:44] #613 closed

[2021-07-05 07:43] Axxiss commented on #594
@mhenrixon thanks for the heads up. I'm currently not working on this and is hard to tell when I will pick up again. If it helps to keep your backlog clean, please close the ticket (I can reopen/recreate in the future)

[2021-07-05 08:00] #594 closed

[2021-07-05 09:57] benedikt commented on #617
We started seeing a lot of `ConnectionPool::TimeoutError` errors after upgrading to 7.1.2. Downgrading to 7.0.12 resolved the problem. Our timeout is at 1s as well, but it used to be fine and it's fine again after the downgrade.

Is there any chance that a connection isn't checked back into the pool?

[2021-07-05 11:05] mhenrixon commented on #617
No that would not be the case @benedikt. I recommend you check what @ArturT has done above and the conclusions we came to while debugging his issues (that by the way was not related to this gem).

It could be that you need an additional connection due to the upgrade.

[2021-07-05 11:35] benedikt commented on #617
@mhenrixon I don't think increasing `pool_timeout` is a necessarily a good solution. Yes, it might decrease the chance of getting `ConnectionPool::TimeoutError` errors, but wouldn't it also increase total execution time? Sidekiq would have to sit there and wait for a connection to be come available.

Please correct me if I'm wrong, but the way I understand it `pool_timeout` is the amount of time S

[2021-07-05 11:49] ArturT commented on #617
Maybe there is something going on here in what @benedikt said. It seems like I had `pool_timeout` 1-second default forever until the upgrade to the new sidekiq-unique-jobs version revealed the issue `ConnectionPool::TimeoutError`. Probably having a low `pool_timeout=1` limit is just fine.

Is it possible that sidekiq creates not enough pool of connections and sidekiq-unique-jobs consumes them whic

[2021-07-05 12:04] benedikt commented on #617
It seems like #604 is adding using a `SidekiqUniqueJobs::TimerTask`, which under the hood uses a new Thread to repeatedly execute [`reaper_registered?`](https://github.com/Assa1121/sidekiq-unique-jobs/blob/12e698b441829b28c15509c1682bbd9495ef5238/lib/sidekiq_unique_jobs/orphans/reaper_resurrector.rb#L111-L115). This increases the total number of threads that use the pool.

I believe Sidekiq itself

[2021-07-05 12:49] mhenrixon commented on #617
Point taken, I'll have a look at making sure we only use a connection when needed.

[2021-07-05 12:54] mhenrixon commented on #617
There is no leaking of connections from what I can tell. That said, it does require more redis connection for the extra work. If you didn't already have a ton of trouble with the reaper, you can turn the resurrector off with `SidekiqUniqueJobs.config.reaper_resurrector_enabled = false`

[2021-07-05 12:54] mhenrixon commented on #617
Let me know if that helps

[2021-07-08 12:19] benedikt commented on #617
Upgraded to the latest version and disabled the reaper resurrector. No issues so far 👍

[2021-07-08 12:59] mhenrixon commented on #617
Thank you for the confirmation @benedikt! I will disable it per default in the next release and refactor the resurrector.

[2021-07-10 09:26] ArturT commented on #617
Just to let you know despite a pool timeout 5 seconds I got last night's exception `ConnectionPool::TimeoutError: Waited 5 sec` after a week.

[2021-07-15 15:14] woodhull commented on #617
We've got a busy sidekiq worker pool, and I'm also seeing the same `ConnectionPool::TimeoutError` issues as others under version 7.1.2 of this gem.

We've tried to setting the sidekiq connection pool to a larger version than the default with some code like this, but we're still seeing this issue.

[code]

However this does not seem to have helped too much. Our experience of the issue is that the r

[2021-07-15 19:34] mhenrixon commented on #617
@woodhull https://github.com/mhenrixon/sidekiq-unique-jobs/issues/617#issuecomment-876391761

[2021-07-19 20:10] millerjs commented on #617
@mhenrixon First off, thanks for the awesome gem!

We were seeing this issue in production after upgrading and had to revert back to our much older version once we started noticing jobs being dropped.

I believe I was able to isolate the circumstance by introducing latency in the redis connection for `until_and_while_executing` jobs.

It appears that if the latency is somewhere around 18ms, then t

[2021-07-20 14:53] millerjs commented on #617
@mhenrixon the README says `lock_timeout: nil # lock indefinitely`, but https://github.com/mhenrixon/sidekiq-unique-jobs/blob/620fe7503f1d0395cad337d2e45681504913c7ef/lib/sidekiq_unique_jobs/locksmith.rb#L273-L277 executes a non blocking call if `config.timeout` is `nil`.

Are these two things contradictory?

[2021-07-20 15:32] millerjs commented on #617
@mhenrixon I believe the solution (at least to the problem I'm seeing) is to ensure that the `config.timeout` is added to the promise timeout in addition to the drift, e.g. something like

[code]

though that doesn't handle the `timeout.nil?` case, where the promise should wait indefinitely?

I think a workaround for now would be to set both the `ttl` and the `timeout` higher than the max latency

[2021-07-20 17:02] millerjs opened #625 "Nil timeout not behaving as expected"
**Bug Description**

The README says `lock_timeout: nil # lock indefinitely`, but https://github.com/mhenrixon/sidekiq-unique-jobs/blob/620fe7503f1d0395cad337d2e45681504913c7ef/lib/sidekiq_unique_jobs/locksmith.rb#L273-L277 executes a non blocking call if `config.timeout` is `nil`.

Are these two things contradictory?

**Expected behavior**
When `lock_timeout` is `nil`, lock acquisition will block

[2021-07-20 17:09] mhenrixon commented on #625
In the redis world a value of 0 would block indefinitely and nil would crash with invalid argument.

I found myself wanting zero as default (don't wait). To be perfectly honest though, there is absolutely no circumstances I can think of that would warrant to wait indefinitely. At least not for what this gem does so perhaps zero and nil should be treated the same and any positive integer would bloc

[2021-07-20 17:39] millerjs commented on #625
@mhenrixon gotcha, that makes sense.

We're definitely not setting `nil`, but I've got no idea if other people want that. The fact that `nil` is unexpectedly non-blocking suggests it's not a highly used feature 😁

[2021-07-21 05:12] mhenrixon commented on #625
The way I was thinking was that if the key is not set it would mean a default of 0 and explicitly setting the key to nil would allow someone to forcefully wait indefinitely.

I left it in there as a last resort but I should probably restrict it to a positive integer value.

[2021-07-26 13:50] ArturT opened #626 "until_and_while_executing is not running the job at all in sidekiq-unique-jobs 7.1.4"
**Describe the bug**
I've upgraded sidekiq-unique-jobs from 7.1.2 to 7.1.4 and I noticed that the worker with a strategy `until_and_while_executing` does not process the job at all.

**Expected behavior**
I expect the job to be processed.

**Current behavior**

When I run in rails console in the development environment:

[code]

Then I see in sidekiq logs:

[code]

I expect it should print `It wor

[2021-07-26 13:56] mhenrixon commented on #626
It does say you have a duplicate, could it be that #624 caused this? It is the only thing I can think of.

[2021-07-26 13:58] ArturT commented on #626
Exept removing all keys for 'uniquejobs:*' from Redis I also tried passing different arguments to worker `perform` method and it always not running the job. I'm not sure how to unlock it (I assumed only keys in Redis could lock the job).

[2021-07-26 14:13] mhenrixon commented on #626
Actually this scenario is misleading because in all honesty there is no lock so it shouldn't happen.

I have seen someone mention this in the past but it should have been fixed and the only culprit it can be is #624.

Unless it is one of those old unexplainable situations...

Are you using redis namespace?

[2021-07-26 14:13] ArturT commented on #626
I've tested sidekiq-unique-jobs 7.1.3 and it works fine. The bug was introduced in the 7.1.4 version.

Before testing each version I cleared Redis keys with:

[code]

[2021-07-26 14:14] ArturT commented on #626
Yes. `redis-namespace (1.8.1)`

[2021-07-26 16:17] mhenrixon commented on #626
I can kind of simulate the problem.

[code]

That works but now I have a warning saying:

There is no other stub of that method. No idea what is going on but I will restart my computer now :)

[2021-07-26 16:43] ArturT commented on #626
I did some tests:

sidekiq-unique-jobs 7.1.4

* I removed Redis keys.
* I created job and it was not executed (it did not print output `It works` from the job). I have `on_conlict` option not set at all so I don't see exception. I just verify if I see `puts 'It works'` or not.
* I added list of redis keys so you could see what impacts Redis DB state.

[code]

Output from Sidekiq:

[code]

I downgr

[2021-07-28 11:40] mhenrixon commented on #626
Fixed in https://github.com/mhenrixon/sidekiq-unique-jobs/releases/tag/v7.1.5

[2021-07-28 11:40] #626 closed

[2021-07-28 15:35] ryanbjones opened #628 "Similar but unique keys are being treated as non-unique and conflicting with lock"
**Describe the bug**

Similar, but different, unique keys are being marked as the same and skipping the job altogether

**Expected behavior**
The job will run because it is unique

**Current behavior**
A job that should run is getting skipped

**Worker class**

[code]

**Additional context**
Sets of args
[code]

The set `3275, app_safts, app_safts0001_part_00` got skipped. I have ~25 tables and th

[2021-07-28 15:43] mhenrixon commented on #628
There is no super to call for lock args method?

If you need all your arguments to be in the unique you can just skip defining it. I believe that's where your problem lies.

[2021-07-28 16:39] ryanbjones commented on #628
I shouldn't have put  that function in at all in my class with `super` -- I put that to state that it is using the default method and that's on me. That's removed altogether

I've added some additional logging

[code]
I am only seeing a given digest come through once for each job, yet when it gets to some jobs it says the lock already exists
Searching through the logs the digest `a409eabc79618bf05

[2021-07-28 17:00] ryanbjones commented on #628
LMK if want to hop on a zoom call to look at it

[2021-07-28 17:03] mhenrixon commented on #628
Sorry about that @ryanbjones that's because this line is wrong https://github.com/mhenrixon/sidekiq-unique-jobs/blob/ca3082b315c964b6d416372d6a911b0ade33b14f/lib/sidekiq_unique_jobs/locksmith.rb#L241

It should be config.timeout not config.ttl.

A fix was published as v7.1.5

[2021-07-28 17:04] mhenrixon commented on #628
I sincerely appreciate that @ryanbjones! So many times I've wished I had someone to help me pair on things.

[2021-07-28 17:17] ryanbjones commented on #628
I've updated to v7.1.5 and am still running into this problem :/

[2021-07-28 17:23] mhenrixon commented on #628
What time zone are you in @ryanbjones? I am out for the day but would be interested in pairing on this tomorrow morning or sometime Friday.

I am in CET (Berlin).

[2021-07-28 17:27] ryanbjones commented on #628
I'm in MDT (Utah)

[2021-07-29 01:03] millerjs commented on #626
apologies for the regression @mhenrixon!

What was the issue with passing in `wait = config.timeout`?

[2021-07-29 05:09] mhenrixon commented on #626
@millerjs not your fault, the issue was older than that.

I (am the most likely scoundrel), had `config.ttl` instead of
`config.timeout` in the `primed_async` method.

That was most likely the main issue, the code should have worked as it was and now the test you wrote is passing with a minimal change.

Someone is still having a similar issue in the latest issue opened that jobs are just skipped s

[2021-07-29 08:42] mhenrixon commented on #628
@ryanbjones how about any time from now until 5 hours from now? :) If that doesn't work for you, perhaps sometime tomorrow around the same times would do the trick? I can also do it a little later if you want.

[2021-07-29 15:59] ryanbjones commented on #628
@mhenrixon just saw this, but tomorrow I can do tomorrow morning. I'll look to get on around 7 am MDT

[2021-07-30 13:05] ryanbjones commented on #628
@mhenrixon just hopping on. Give me about 10 mins to make sure everything is prepped to show and then I'll get a link here

[2021-07-30 13:24] ryanbjones commented on #628
https://zoom.us/j/97735515502?pwd=dUlMYTRSZGRQRkFiQ2EzZThMTlFRUT09

[2021-07-30 13:39] ryanbjones commented on #628
deleted the old one as some time had passed. tag me and I'll post a new link :)

[2021-07-30 15:02] ryanbjones commented on #628
As a followup, I've found that if I use `until_executed` all the jobs run. But with `while_executing` ~2-4 of the jobs will get skipped entirely when they're read off the queue

[2021-07-30 16:56] mhenrixon commented on #628
@ryanbjones if you want to retry the jobs and not loose them I recommend you use

[code]

It is normal that this happens with `while_executing`. To retry, raise an error when conflict happens and the job will be put back on the queue if no lock can be achieved.

Alternatively, you can set a `lock_timeout: 2` or something to have your locks wait a little before being dropped. I still recommend usin

[2021-07-30 21:10] ryanbjones commented on #628
Good to know about the lock_timeout.

There is only one job  kicked off for a set of args, but about 100 jobs for that worker get kicked off at the same time. So I am perplexed that I would end up losing a few of them jobs even though for a given job it is only kicked off once according to the logs

[2021-07-30 21:10] ryanbjones commented on #628
No worries about this morning -- I appreciate you being willing at all to try to make time. Hope all is well with the family

[2021-08-06 13:59] exop-it opened #630 "until_and_while_executing jobs can conflict with themselves"
**Describe the bug**
Jobs for workers that use `until_and_while_executing` sometimes get stuck because they appear to conflict with themselves.

**Expected behavior**
Executing `StatusRequestWorker.perform_async(123)` should run the job.

**Current behavior**
Note: The problem only occurs sporadically.

A `SidekiqUniqueJobs::Conflict` error is raised. The error message says "Item with the key: uni

[2021-08-06 14:00] mhenrixon commented on #630
I have an idea, I'll see if I can find a way to finally fix this in the next few days.

[2021-08-10 10:27] dsander opened #632 "until_and_while_executing job timeout on the server"
**Describe the bug**

We have a couple of our `until_and_while_executing ` job fail to run because the lock could not be acquired on the server side.

Worker configuration (the actual worker inherits the sidekiq unique configuration):

[code]

Global sidekiq unique configuration:
[code]

The job is enqueued on a different machine running a different sidekiq process:
[code]

It then fails to start:

[2021-08-12 11:22] dsander commented on #632
It looks like that this is some kind of race condition, with `lock_timeout = 1` we have not seen the error happen again.

Not sure if it helps, here is the output of `redis-cli MONITOR` for a job that times out:

[code]

And a second one that works as expected:

[code]

[2021-08-13 04:05] pdkproitf commented on #412
I'm having the same problem with `sidekiq-unique-jobs (7.1.2)` and `sidekiq-unique-jobs (7.1.5)`.
When I initiated a job, it returned `nil`. The lock stays there forever.

<img width="1342" alt="Screenshot 2021-08-13 at 12 05 31 PM" src="https://user-images.githubusercontent.com/12691828/129303432-8a84b7f4-8a57-4614-abb8-67679ce30598.png">

[2021-08-13 05:34] pdkproitf commented on #589
This does not work on version `7.1.5`
In rails console, the configuration show `true`

<img width="507" alt="Screenshot 2021-08-13 at 1 29 06 PM" src="https://user-images.githubusercontent.com/12691828/129309272-61bc8271-b034-45d3-a123-b407c7d06622.png">

In the worker:
[code]

<img width="1251" alt="Screenshot 2021-08-13 at 1 32 36 PM" src="https://user-images.githubusercontent.com/12691828/12930

[2021-09-02 07:04] marmeladze opened #634 "undefined method `delete' for class `Sidekiq::Job'"
**Describe the bug**
Rails app crashes when I invoke a command, such as `rails g migration`,  `rails s`, `rails c` etc.

**Expected behavior**
`rails g migration` should generate a migration file and touch schema,
`rails s`  should start dev server with given option

**Current behavior**
All commands raises

`undefined method `delete' for class `Sidekiq::Job'`

Full stacktrace

[code]

**Worker cl

[2021-09-02 07:57] marmeladze commented on #634
Downgrading sidekiq gem to version `6.1.3` solved the problem. I don't have proper debugging tools to inspect the reason. But if a rep. commiter guides me, I can create a patch/fix to resolve this issue.

[2021-09-03 08:56] mhenrixon commented on #634
I will look into it today.

[2021-09-03 10:35] chaimann opened #635 ""IndexError: string not matched" when job is replaced on client"
**Describe the bug**
My use case is fairly simple, I schedule a job upon request to be performed in 15 minutes. If another request received, previous job should be replaced with a new one if the arguments match.
After upgrading from v.7.0.12 to 7.1.5 the error `IndexError: string not matched` started happening. After some debugging it appeared that normally `Sidekiq::Client#process_single` returns

[2021-09-06 15:42] mhenrixon commented on #635
I have a sneaky suspicion what this could be but I have haven't had time to investigate. Down with the flu at the moment, having a hard time to focus.

[2021-09-08 13:44] teoljungberg opened #636 "Compatibility with unreleased Sidekiq 6.3.0"
Sidekiq 6.2.2 released an unofficial alias of `Sidekiq::Worker` as `Sidekiq::Job`, with the plan to migrate to use `Sidekiq::Job` going forward after 6.3.0

https://github.com/mperham/sidekiq/blob/237c70fe374142509e031dbbf136d57f43dd4913/lib/sidekiq/job.rb

The old `Sidekiq::Job` that was inside `sidekiq/api` has since been renamed to `Sidekiq::JobRecord`.

[2021-09-08 14:49] mhenrixon commented on #636
I'll make the necessary adjustments

[2021-09-08 17:31] night91 commented on #635
I would like to aggregate that with sidekiq 6.2.2. The error is different, but root cause seems the same as @chaimann said.
`undefined method `key?' for "46b43d4bc6b9896be7bfa228":String` at `lib/sidekiq/client.rb:197 atomic_push`

[2021-09-13 10:29] bdarcet commented on #589
Hey @mhenrixon  ! We're facing the same problem on the latest gem release. Anything we should do ? Reopen an issue ?

[2021-09-15 07:53] sharq1 opened #637 "Memory bloat / dangling keys / reaper not cleaning orphans"
**Describe the bug**
The `uniquejobs:...` keys do not get removed from Redis, thus over few months it took almost all of our Redis memory (500MB). See how it grew over 9 weeks:
![image](https://user-images.githubusercontent.com/1241239/133391017-6e61b73b-300b-4248-9579-99bc10b04dc3.png)

I have just manually removed all keys matching `uniquejobs:*` and it released nearly all the memory that was be

[2021-09-15 09:34] sharq1 commented on #637
Is it possible, that bacause of this bloat, the newly generated random uids were actually seldomly the same as some of the existing orphaned keys? We've had roughtly 6,5 million of these orphaned keys when I was removing them. It sounds not very likely that it would contribute to 4% of cases, but after the upgrade to 7.1.5 the number of workers lost was around 0.3%.

[2021-09-17 09:45] jerryjohnjacob commented on #601
Hi @mhenrixon! Were you able to find a solution for the issue of jobs getting dropped? I retried the [same tests](https://github.com/mhenrixon/sidekiq-unique-jobs/issues/601#issuecomment-845885758) with the latest version of the gem and with more records (30000+ instead of 100). The warnings no longer appear, but the issue still exists. Some jobs were dropped and the database records were not upda

[2021-09-18 06:19] mhenrixon commented on #601
@jerryjohnjacob it is on my radar. I've unfortunately had a bad stroke of luck in the last couple of months.

Been sick 3 weeks with the flu, lost my dog and was out another week for tweaking my back.

I'm back now and can't wait to dig into some of these problems.

[2021-09-18 07:38] jerryjohnjacob commented on #601
Oh goodness, I'm so sorry to hear that! Please, take your time. No urgency on this matter.
________________________________
From: Mikael Henriksson ***@***.***>
Sent: Saturday, September 18, 2021 11:49:33 AM
To: mhenrixon/sidekiq-unique-jobs ***@***.***>
Cc: Jerry John Jacob ***@***.***>; Mention ***@***.***>
Subject: Re: [mhenrixon/sidekiq-unique-jobs] Timed out after 0s while waiting for primed

[2021-09-21 12:03] mhenrixon commented on #637
Sorry @sharq1, life got in the way this summer: https://github.com/mhenrixon/sidekiq-unique-jobs/issues/601#issuecomment-922211922

I'll be dealing with these topics in the next few days

[2021-09-21 12:10] sharq1 commented on #637
I'm sorry to hear that... Hope the bad luck is over for you.
Thanks for the heads up.

[2021-09-21 12:10] mhenrixon commented on #637
@sharq1 are you on Sidekiq 6.2.2? If so, they renamed the `Sidekiq::Job` to `Sidekiq::JobRecord` and I'll add extensions for that.

[2021-09-21 12:35] sharq1 commented on #637
Yes, however we've switched to 6.2.2 from 6.2.1 at around the same time when we disabled locks for some of the jobs (workers) - but for some we still have locks. Will the `sidekiq-unique-jobs` still function regardless or is it a breaking change?

[2021-09-21 12:43] mhenrixon commented on #637
Yes but if you for example delete things in Sidekiq::API classes (uses by sidekiq/web) then related locks won't be deleted.

[2021-09-23 13:56] crondaemon commented on #589
Same here with sidekiq 6.2.1 and sidekiq-unique-jobs 7.1.5.

[2021-09-23 14:09] mhenrixon commented on #589
Alright, reopening the issue. Looks like I need some more tests somewhere.

[2021-09-24 15:45] mhenrixon commented on #636
Released as v7.1.6, I'm considering back-porting it but haven't found the time yet.

[2021-09-24 16:01] mhenrixon commented on #637
V7.1.6 should work with latest sidekiq version.

[2021-09-24 16:18] mhenrixon commented on #634
This has been fixed in v7.1.6

[2021-09-24 16:32] jasonrudolph commented on #636
Thanks for getting this patched up, @mhenrixon. And thanks for all your work on this gem.

If you have time, a backport for the 6.0.x series would be awesome! 😍

[2021-09-24 23:31] marciojg commented on #589
Same issue here.

[code]
**Versions:**
sidekiq (6.2.2)
sidekiq-unique-jobs (7.1.6)

[2021-09-25 09:06] sharq1 commented on #247
Is that not implemented yet, or do we have faulty configuration?
Here's screenshot of scheduled jobs:
![image](https://user-images.githubusercontent.com/1241239/134766064-411ea2e7-16b1-4cae-abe2-327120eb90a2.png)

Jobs in regular queues are locked properly.

[code]

[2021-09-25 09:20] sharq1 commented on #247
mentioning @mhenrixon 🙂

[2021-09-25 15:33] mhenrixon commented on #247
@sharq1 in your situation you already have a unique job in the one that is trying to delay itself.

You would have to use some sidekiq magic or the replay conflict strategy.

[2021-09-27 06:42] sharq1 commented on #247
@mhenrixon thank you, however I think I wasn't clear enough. I don't want to reschedule / replace the jobs in `reports` queue / ScheduledSet.

If `ReportRecalculationWorker` is already enqueued / scheduled, I would expect the `perform_async` and `perform_in` to reject / return nil. But instead it's sometimes allowing me to schedule the worker, as you can see on the screenshots above.

[2021-09-27 09:04] mhenrixon commented on #247
@sharq1 then what about the following:

Can you show the code for how you do this? I am fairly certain this will cause problems for you.

[2021-09-27 09:12] sharq1 commented on #247
Sure:
[code]

[2021-09-27 18:45] teoljungberg commented on #636
As sidekiq 6.3.0 hasn't been released yet I haven't given this a whirl, as soon as the release is out I will and then close the issue.

If you @mhenrixon want to do so beforehand, feel free.

[2021-09-28 04:33] mhenrixon commented on #635
This was fixed in v7.1.7

[2021-09-28 04:36] mhenrixon commented on #601
Version 7.1.7 partly fixes similar issues (#640) that jobs are silently dropped when using replace strategy.

In the original question, no strategy is in use so it is likely also something else.

[2021-09-28 04:38] mhenrixon commented on #636
@teoljungberg actually, it was added already in 6.2.2 which has been released.

[2021-09-28 04:40] #634 closed

[2021-09-28 05:06] jerryjohnjacob commented on #601
@mhenrixon Hope you're doing better now!

Just tried v7.1.7. Still seeing the issue. Here are the stats for a job count of 34493:
Number of successful jobs: 32339
Number of dropped jobs: 2154

I still wonder if it has something to do with the configuration I'm using. Here are the latest details:
Ruby v2.7.4
Rails v6.1.4
Sidekiq v6.2.2
Sidekiq pro v5.2.4

Sidekiq config:

[code]

Worker:
[code]

Fi

[2021-09-28 10:05] teoljungberg commented on #636
Aye you're correct @mhenrixon. We're running the new naming as of this morning and it works wonders. Thanks for the quick turn around

[2021-09-28 10:05] #636 closed

[2021-10-06 07:36] saiqulhaq opened #643 "NoMethodError: undefined method `[]' for true:TrueClass"
**Describe the bug**
I got `NoMethodError: undefined method `[]' for true:TrueClass` for every worker that has `until_and_while_executing` lock
it happens when executing `perform_async` method

**Expected behavior**
perform_async should working fine

**Current behavior**
I got NoMethodError: undefined method `[]' for true:TrueClass

**Worker class**

[code]

**Additional context**
Add any other co

[2021-10-06 07:42] saiqulhaq commented on #643
![image](https://user-images.githubusercontent.com/1275215/136160721-06deaa04-7d3e-49d5-b814-5849bf1435d5.png)
it seems `payloads` arg becomes true

[2021-10-06 07:46] saiqulhaq commented on #643
I am trying to debug the payloads
but getting stuck
![image](https://user-images.githubusercontent.com/1275215/136161199-5b33f680-c00a-407e-a1d0-45970e4ed891.png)
can't exit

[2021-10-06 08:45] abbbe commented on #589
Facing the same issue

    sidekiq (6.2.2)
    sidekiq-unique-jobs (7.1.7)

[2021-10-08 10:17] #589 closed

[2021-10-08 10:20] mhenrixon commented on #602
Released as `v7.1.8`

[2021-10-08 10:44] mhenrixon commented on #637
Hi @sharq1 I will have a deeper look into this later today.

[2021-10-08 10:44] mhenrixon commented on #635
Let me know if it ain't fixed and I will reopen the issue n

[2021-10-11 14:22] crondaemon opened #647 "Inconsistent documentation for config validation"
**Describe the bug**
The documentation states

[code]

in the minitest section. Hoever, the code is

[code]

this would require [assert_nothing_raised](https://apidock.com/ruby/Test/Unit/Assertions/assert_nothing_raised) or similar to be used.

**Expected behavior**
A failing test should gently say the test is not passed.

**Current behavior**
The test crashes.

[2021-10-12 07:05] chaimann commented on #635
@mhenrixon looks like the issue has been resolved, thanks a lot!

[2021-10-15 11:41] bdarcet commented on #637
So we pretty much have the same issue on our end. If one of our sidekiq job crashes (OOM in our case) then the `uniquejobs:key:..` + `uniquejobs:key:..:LOCKED` are not cleared and the job will never rerun until we clear the keys manually.
We are considering adding an other daily job to clean those keys. But I guess it should be the reaper job to handle that ?

**Versions:**
sidekiq-unique-jobs: 7.

[2021-10-21 09:03] AlexRiedler opened #649 "Different digests in v7 vs v6"
**Describe the bug**
I am doing an upgrade from v6 to v7, and noticing verifying the integrity of the upgrade before applying it to production.

On v6.0.24 after performing a `TestWorker.perform_async('foobar')` i get the follow keys in redis:

[code]

However, on v7.1.8 I get:

[code]

I know we upgrade EXISTS to no suffix, and GRABBED to LOCKED between v6 and v7; so that seems right, but the dig

[2021-10-29 07:28] maxrosecollins opened #650 "Sidekiq not processing jobs"
**Describe the bug**
If I deploy my app when a lot of locks are present then sidekiq gets stuck and doesn't process any jobs.

**Expected behavior**
Jobs should be processed.

**Current behavior**
[code]

[2021-11-01 15:18] yrashk commented on #650
I might have seen behavior in development during restarts. Any way I can help narrow this down and fix it? It can be rather a critical issue.

[2021-11-02 12:40] jkhulme commented on #650
I've just had the same issue, I have also posted it in sidekiq issues as we updated sidekiq-pro and I wondered if the super-fetch implementation had changed.

https://github.com/mperham/sidekiq/issues/5045

[2021-11-07 21:37] krystof-k commented on #625
I bumped into a related issue after upgrading from `7.0.4` to `7.1.8`, when having `lock_timeout: nil`, it fails with:

[code]

Backtraces to `sidekiq-unique-jobs (7.1.8) lib/sidekiq_unique_jobs/locksmith.rb:327`. Probably introduced by #603.

I resolved the issue by changing `nil` to `0`.

[2021-11-09 21:14] kylesnowschwartz opened #651 "Sidekiq 6.3.0 includes Job module that clashes with sidekiq_unique_ext.rb class Job"
**Describe the bug**
in Sidkiq 6.3.0 (https://my.diffend.io/gems/sidekiq/6.2.0/6.3.1) the `class Job` was renamed to `class JobRecord` and a new `module Job` was added as an alias.

When requiring both
[code]
I now get the following error in my application
[code]
When running the test suite.

**Expected behavior**
[code]
Can be required together without type error clashes

**Current behavior**
Req

[2021-11-09 22:33] mhenrixon commented on #651
Upgrade to the latest gem version

[2021-11-09 22:33] #651 closed

[2021-11-09 22:49] kylesnowschwartz commented on #651
Ack! Apologies @mhenrixon I thought I was already on the latest version. Appreciate the quick response, and again, my apologies.

[2021-11-11 06:56] OskarEichler opened #652 "[Q&A] Performance & Dead Locks"
Hey guys,

First up great work on this gem! We are very interested in deploying this on our production setup but have two concerns / questions we would like to clarify:

1. Performance

We are processing around 10 Million Jobs per day, and are using a lot of push_bulk to keep the load on Redis as minimal as possible. Do you have any performance benchmarks on how many resources / extra time the gem

[2021-11-11 12:11] francesmcmullin opened #653 "Expired Locks remain in zset of digests [using "until_expired" lock]"
**Describe the bug**
When locks are setup to expire using the TTL setting (both globally and at the job level), this should keep redis memory usage stable. However, while a lock's associated string keys are appropriately expired, the digest in the uniquejobs:digests zset is never cleaned up.

(This may be a duplicate of #637 , I've made a fresh issue because that thread seems to be focused on jobs

[2021-11-11 13:37] mhenrixon commented on #652
1. I don't have any performance metrics yet but I have been meaning to gather some such. There are some hooks in place to that can be used to fiddle around with this but I haven't done anything with them yet.
2. It depends on how you clear your queues. If you use the `sidekiq/api` there are hooks in place that also clear the locks.

Due to that, the gem uses LUA script, I have no idea how it will

[2021-11-11 13:44] mhenrixon commented on #653
Thank you for the wonderful report (and the praise of course) 😁

Thanks to your detailed explanation, I have an idea of what could go wrong. I believe the key doesn't have any entries but the key remains. I am not yet entirely sure but I believe it might be that when I remove an entry from a hash. set or list that the key's expiration is reset. I will do some digging on this.

[2021-11-11 23:33] OskarEichler commented on #652
Amazing thank you Mikael.

We need to be cautious of deploying this on a high load system, as we want to prevent it completely blowing up our server. Doing so many new extra calls to Redis for every scheduled job could definitely be causing some issues - would be great if you can share your metrics / experience here.

For push_bulk is there some sort of bulk_check method you are using to check let

[2021-11-12 14:56] francesmcmullin commented on #653
This may be a complete distraction, and I don't want to rush you for a response (any time is fine), but feeding back some more info from my own research in case it's helpful.

It seems as though `uniquejobs:digests` is conserving data in all circumstances. Even after deleting all locks via the web UI, it still held approx 109MB of data.

It seems that individual entries in a Redis Sorted Set (AKA

[2021-11-12 15:35] ArturT commented on #652
Hi all

I can share a few info about sidekiq-unique-jobs gem that we use at https://knapsackpro.com/

We process a few million jobs per day with no problem.

From my experience sidekiq-unique-jobs impact on Redis performance is negligible. If you would worry about something it would be the number of keys (locks) stored in Redis and memory consumption.

sidekiq-unique-jobs gem already clears locks/

[2021-11-12 17:17] anyayunli opened #654 "Changelogs are not ordered"
**Describe the bug**
You can see from my screenshot, that recent jobs appeared randomly in the log
<img width="1217" alt="Screen Shot 2021-11-12 at 9 14 34 AM" src="https://user-images.githubusercontent.com/5514769/141507892-57d60c6e-6e4d-43aa-aba2-b1e32ce9f8e2.png">

**Expected behavior**
Changelogs should be ordered by timestamp

**Current behavior**
Changelogs are not ordered by timestamp

**Wo

[2021-11-12 20:42] mhenrixon commented on #652
Thanks @ArturT! I'm taking a note on the upgrade thing ❤️

[2021-11-12 20:46] mhenrixon commented on #653
Weird, this is the opposite of what my tests say.

I'll have to try and find a way to replicate this with a failing test.

All my current tests don't leave locks behind.

[2021-11-13 15:48] mhenrixon commented on #654
I will have a look shortly.

[2021-11-15 13:37] james-em opened #655 "Question: Wait instead of cancelling if it is executing?"
Hi,

I am sorry in advance if it is inappropriate to ask questions here. I was wondering if anyone could point me in the right direction to create this behavior:

Let's say I queue MyJob(param=123). I cannot re-queue MyJob(param=123) until it is executing(in-progress). (Behavior of until_executing). The edge case here is while MyJob(param=123) is executing, it should be able to queue again the sam

[2021-11-15 14:11] #655 closed

[2021-11-15 14:13] #652 closed

[2021-11-15 14:15] mhenrixon commented on #649
Thanks for the report and the explanation. I'll see about updating the upgrading section or perhaps take this into consideration somehow.

[2021-11-15 14:17] mhenrixon commented on #650
There seems to have been some trouble with super fetch and unique jobs. I can't debug this because I don't have a sidekiq pro license. What I on the other hand have considered is to create my own fetcher.

[2021-11-17 14:18] andrew-newell opened #658 "Documentation example for MiniTest appears to use improper assert"
**Describe the bug**
The README shows that minitest users should run `assert SidekiqUniqueJobs.validate_worker!(BadWorker.get_sidekiq_options)`

**Expected behavior**
The code provided in the readme is correct and the assertions pass (or fail) when expected.

**Current behavior**
`assert SidekiqUniqueJobs.validate_worker!(BadWorker.get_sidekiq_options)` throws when the configuration is bad, but re

[2021-11-18 10:46] blanchma commented on #589
Still happening in v7.1.8, sidekiq v6.3.1

[2021-11-18 11:02] blanchma opened #659 "Digest not removed on time or never"
**Describe the bug**
Digest created 30 or more minutes are not removed.

**Expected behavior**
Only see short lived digest

**Current behavior**
Digests with "since" of hours

**Worker class**
SidekiqUniqueJobs.configure do |config|
  config.logger          = Sidekiq.logger
  config.logger.level    = Logger::DEBUG unless ENV["RACK_ENV"] == "production"
  config.debug_lua       = false # Turn on wh

[2021-11-18 12:18] mhenrixon commented on #659
Closing in favor of #653

[2021-11-18 12:18] #659 closed

[2021-11-18 17:36] francesmcmullin commented on #653
Important note, with more info tomorrow: I believe a substantial portion of my trouble has been caused by passing a namespace through sidekiq's redis config. This relies on [redis-namespace](https://github.com/resque/redis-namespace), which does it's best to invisibly add and remove the namespace as appropriate for each command, but I suspect it can't possibly anticipate and adapt to all the possi

[2021-11-19 10:28] jerryjohnjacob commented on #601
@mhenrixon Were you able to look into this afterwards? I ran into the issue reported [here](https://github.com/mhenrixon/sidekiq-unique-jobs/issues/651) and have to upgrade, but I'm still facing the issue of workers randomly failing to run. On the latest test, found that 1978 out of 34493 jobs were not run. This only happens when I add the uniqueness options, so I think we can rule out the root ca

[2021-11-20 07:15] mhenrixon commented on #601
@jerryjohnjacob not yet but I am slowly getting to it. Starting a company and doing full time freelancing isn't easy but I finally have a project again that uses the gem so I'll get to it at some point.

[2021-11-22 11:51] jerryjohnjacob commented on #601
Wow, mega stuff @mhenrixon! 🎉

[2021-11-22 13:12] mhenrixon commented on #653
@francesmcmullin the redis namespace shouldn't be a problem as I have others using it. This is something else entirely but I am working on finding out exactly what.

[2021-11-29 15:54] francesmcmullin commented on #653
Thanks for that tip! Just a small update on my end, likely not news for you but just documenting my own understanding:

- You were right of course, removing the namespace did not resolve the problem I described initially, although it did simplify some inspection steps.
- I tried to narrow the problem down by adding a spec with similar behaviour and found:
  - A spec that simply generates an `:unti

[2021-11-29 20:20] francesmcmullin commented on #653
Good news! 🎉  I am quite confident I have discovered our problem. I believe that, once you have more orphan digests than your `reaper_count` limit, the ruby reaper's `#orphans` method breaks and stops returning *any* orphans. The method looks like this:
https://github.com/mhenrixon/sidekiq-unique-jobs/blob/94a203ae330e56517b3796fd93c41e3d1775cb1a/lib/sidekiq_unique_jobs/orphans/ruby_reaper.rb#L57-

[2021-11-30 06:18] mhenrixon commented on #653
You are right of course, I'll see if I can write a failing test for this scenario!

[2021-11-30 10:17] #653 closed

[2021-11-30 10:21] mhenrixon commented on #653
Released as v7.1.11 @francesmcmullin thank you so much for the help!

[2021-11-30 10:56] mhenrixon commented on #659
This has been fixed in `v7.1.1` @blanchma

[2021-12-01 14:19] francesmcmullin opened #662 "Ruby Reaper deletes :until_expired locks before their TTL has elapsed"
Hi again 👋🏻  First, thanks so much for the amazingly fast fix on https://github.com/mhenrixon/sidekiq-unique-jobs/issues/653 , it's deployed and working perfectly. Or maybe too well =(

**Describe the bug**
Jobs configured with `lock: :until_expired` and a `ttl` can be run multiple times inside the `ttl` period if the ruby reaper is running.

**Expected behavior**
For jobs using `lock: :until_expi

[2021-12-01 14:46] francesmcmullin opened #663 "Improve Ruby Reaper performance under heavy load"
**Is your feature request related to a problem? Please describe.**
I find the ruby reaper runs slowly, and takes up a lot of memory when I'm processing a large volume of jobs (hundreds of thousands in a few hours). I've updated our configuration so that if the reaper fails entirely, the reaper resurrector brings it back, and it *mostly* doesn't hit the timeout, but ideally it would run a little bi

[2021-12-01 16:20] piloos opened #664 "Queue up conflicted jobs and release later"
In our case we have a third party service which we cannot use in parallel.  Hence, all our jobs using this 3rd party service should be _unique while executing_.  However, each of these jobs has value and must be executed at some point.

In order to accomplish this we implemented two things:
1. We created a custom strategy which queues up the conflicted jobs in a an atomic shared Redis data structu

[2021-12-01 19:47] mhenrixon commented on #662
That is an oversight by me, might have to check the TTL before and not delete if such exists.

[2021-12-01 19:48] #663 closed

[2021-12-01 19:53] mhenrixon commented on #663
❤️ thank you again for the bug report and the solution! I noticed the issue yesterday when the last entry in the sorted set was deleted instead of the first one.

Today I also fixed that bug, all thanks to you! It has been released as `v7.1.12`

[2021-12-03 14:01] francesmcmullin commented on #663
Just a brief report back on this one - for our use case this cut reaper run time by 60%, thank you so much for moving so quickly! 👏🏻 👏🏻 👏🏻

Separately, just so you're aware, while the reaper now runs very effectively for us even when there is a large number of digests to clean, it will struggle a lot if our sidekiq queues are very full (e.g. - 5,000 jobs in queues). For our use case, this is a sur

[2021-12-03 15:02] mhenrixon commented on #663
Hi @francesmcmullin, can you open a separate issue for this one?

I believe we could skip reaping based on how large the queues are.

The most frequent use case would and should be until executed and with that one there shouldn't be a need for reaping when so many jobs are queued successfully.

Rather it should be done as cleanup after the surge.

[2021-12-05 16:34] glennpjones opened #668 "Slow evalsha causing timeouts"
Hi Mikael, first of all thank you so much for your work on this lib ! We are very satisfied with it. I've tried my best below to be as precise and provide as much context as possible, as I believe the issue is related to sidekiq-unique-jobs, but I am aware I could be mistaking.

**Describe the bug**
Our workers are reporting a lot of `Redis::TimeoutError` `connection timed out` errors. On the serv

[2021-12-06 11:04] mhenrixon commented on #668
At first glance, there is nothing there that points to sidekiq unique jobs.

I'd venture as far as to suggest you look into monitoring redis.

Keep in mind that with 60 workers, you'll be hitting redis pretty hard.

If you also have rails or something hitting redis from the other side you could be out of connection or something.

If you are on something like heroku, you likely need to increase you

[2021-12-06 11:05] mhenrixon commented on #668
`blocked_clients:64 ` looks a little suspicious if you ask me.

[2021-12-06 15:15] recurator opened #669 "sidekiq_options lock conflicts with sidekiq-lock gem lock option"
Hello,

Gem [sidekiq-lock](https://github.com/rwojsznis/sidekiq-lock) and [sidekiq-unique-jobs](https://github.com/mhenrixon/sidekiq-unique-jobs) use the same option
[sidekiq_options lock: :until_executing](https://github.com/mhenrixon/sidekiq-unique-jobs#locks)
[sidekiq_options lock: { timeout: 1000, name: 'project_status_lock' }](https://github.com/rwojsznis/sidekiq-lock#usage)
 which causes an

[2021-12-06 16:33] mhenrixon commented on #669
They should not be used together

[2021-12-06 16:33] #669 closed

[2021-12-09 16:29] francesmcmullin opened #670 "Skip reaping when queues are too large"
**Is your feature request related to a problem? Please describe.**
This is a follow up to [an observation in #663](https://github.com/mhenrixon/sidekiq-unique-jobs/issues/663#issuecomment-985544467), when sidekiq queues are very long (e.g., more than 2,000 jobs) the reaper can take a very long time to run, more than likely hitting its timeout (depending on config).

**Describe the solution you'd l

[2021-12-09 20:46] mhenrixon commented on #670
Thank you for the issue, I'll do some thinking on this but I will likely not be able to achieve much until after Christmas.

I am moving my family across Germany on Monday.

[2021-12-09 21:42] francesmcmullin commented on #670
Of course! You've helped a huge amount already. I hope the move goes really well. Thank you =)

[2021-12-13 17:45] glennpjones commented on #668
Figured it out !

First of all thanks for your reply.

I've continued monitoring and digging, and I kept being pointed in the direction of that lua script being called through evalsha.

This particular queue receives 2 types of workers: a worker that fetched some data (without a config on uniqueness), and a cleanup worker, which had a uniqueness constraint. What happened is that every "fetching" w

[2021-12-17 14:26] RobsonKing opened #671 "Request for reaper documentation"
**Describe the bug**
This is a request for documentation more than a bug.  I cannot find anything that tells me what the reaper process does or why I might need it.

Maybe you feel like this is something internal to the implantation, and users of the gem should not be required to understand this to use it?  My problem is that sometimes we have jobs that are being blocked from starting (they end up

[2021-12-30 07:50] #671 closed, assigned to nobody

[2021-12-30 19:50] #647 closed

[2022-01-06 18:44] lucasklaassen commented on #649
@mhenrixon @AlexRiedler just following up on this as we are looking to run an upgrade from v6 to v7 as well. Has this been confirmed that the digests are different? Any recommendations on how to mitigate having duplicate jobs running after the deployment to the new gem version since the digests are different?

[2022-01-11 00:25] thatsanicehat opened #675 "lock_timeout cannot be nil"
**Describe the bug**

In version 7.1.12, setting lock_timeout to `nil` for a given worker to ensure the queue waits indefinitely as described in the docs causes an exception

**Expected behavior**
Setting lock_timeout to `nil` should continuously re-enqueue the job until it can be picked up.

**Current behavior**

[code]

**Worker class**

[code]

[2022-01-12 12:41] richkettle opened #676 "until_executed and lock_expiration."
**Describe the bug**
With the sidkiq options of:

[code]
When this worker has been run:
[code]
The job completes as the perform is an empty method. The lock happens i.e. I see this in redis:
<img width="828" alt="Screenshot 2022-01-12 at 12 36 26" src="https://user-images.githubusercontent.com/402706/149141470-7cc93570-4052-4bc9-8227-40f60207867f.png">

If the AVAILABLE key still exists in redis i

[2022-01-13 14:53] mhenrixon commented on #676
Thank you for the detailed report. Considering what you write last, I suppose there is no way to persuade you to upgrade to v7 just yet?

[2022-01-13 17:25] richkettle commented on #676
Thanks for the reply!

We are planning it. But it is far off in the future. I am happy to contribute and fix this issue if you can point me in the right direction.

[2022-01-13 22:33] olegantonyan opened #677 "Job finished, but lock is not cleared"
sidekiq-unique-jobs 7.1.12
sidekiq 6.3.1

Job:
[code]

Config:
[code]

After upgrading sidekiq and sidekiq-unique-jobs I run `100.times { Job::TestJob.perform_async }` in rails console and check /sidekiq/locks. The problem is, when the job has finished the lock stays there and I cannot enqueue more jobs:
[code]
It will eventually expire after `lock_ttl`, but I want `lock_ttl` to be high enough for

[2022-01-14 07:20] olegantonyan commented on #677
Here's more info after I did a bit of debugging.

1. in rails console:
[code]
2. look at http://localhost:3000/sidekiq/locks - one lock  "uniquejobs:182d12d729164fb2ca154c1fcfad8ac3" with locked JIDs "f8425f0ad00c164ac0daab4c"
3. the job has finished
4. `Locksmith#unlock!` called twice.
5. First time argument `key.to_a`:
[code]
argument `job_id`:
`d10585f2dfe7bb0f2433d0ac`
6. Second call argument

[2022-01-14 08:38] olegantonyan commented on #677
Nevermind
I messed up client and server midlewares

[2022-01-14 08:38] #677 closed

[2022-01-16 22:18] ishields opened #678 "after_unlock callback is not executed when using until_and_while_executing"
**Describe the bug**
It seems as though the after_unlock_callback is never called when using the until_and_while_executing callback.  The callback works as expected when using :until_executed

**Expected behavior**
I expect the callback to fire when the lock is released (after execution)

**Current behavior**
Callback does not fire.

**Worker class**

[code]

**Additional context**
 sidekiq-unique

[2022-01-17 14:09] richkettle commented on #676
@mhenrixon How do you want me to proceed with this? Would a failing spec be something you can work from?

[2022-01-20 11:41] richkettle commented on #676
So I had a go at trying to replicate this with a spec but didn't do so well. But I downgraded to v6.0.0 and it is working as intended. Further investigation shows that the behaviour changed between 6.0.7 and 6.0.8. It seems to be this change that causes the issue: https://github.com/mhenrixon/sidekiq-unique-jobs/commit/12924de4365acca15b8d51aa510b660a67258d6f#diff-c1471768d58ee2883363280a6054208c1

[2022-01-20 12:42] richkettle commented on #676
I've read https://github.com/mhenrixon/sidekiq-unique-jobs/issues/359 and it seems to suggest there are issues with redis filling up with keys which is why there is the 5 second expiry. So a permanent fix would be good.

[2022-02-11 23:03] cgunther commented on #630
I think I'm hitting something similar, using v7.1.12. (I've peeked at what's changed since up to v7.1.15 but nothing seems like it'd affect this)

Here's my worker options:
[code]

I used the reflections API to subscribe to `debug` to try to better understand the locking steps and spot a difference between when the issue is hit and when it's not:
[code]

Here's the results for a bad job execution

[2022-02-14 23:30] cgunther commented on #630
I dug further into this and believe I worked up a reproduction script:
https://gist.github.com/cgunther/718379c4786e445e75a4e62ce612a9ee

I think it's a latency issue. Using [toxiproxy](https://github.com/Shopify/toxiproxy) with just 20ms latency I can reliably reproduce the issue via that script, just be sure toxiproxy is running first (`toxiproxy-server`).

Setting a 1 second lock time (`Sidekiq

[2022-02-15 15:49] jkhulme opened #684 "10X increase in read ops/sec after upgrade from v6 to v7"
**Describe the bug**
We upgraded from 6.0.24 to 7.1.12 (alongside upgrade sidekiq from 6.1.2 to 6.4.0)

Before the upgrade we were seeing ~300 reads/sec, and ~300 writes/sec
After the upgrade we are seeing ~3000 reads/sec, and still ~300 reads/sec

This is a very big increase to see happen, and is proving to be quite expensive with our redis provider

**Expected behavior**
Not to see a 10x increas

[2022-02-16 16:10] mhenrixon commented on #684
Sorry about the trouble, you can tweak the reaper settings to cut the reads a bit.

Most of the work (apart from the reaper) is done in Lua so shouldn't cause too much trouble.

[2022-02-16 16:14] mhenrixon commented on #630
Thank you for the detailed report and the reproduction script. There are some rare situations that I haven't been able to completely solve.

I'll see if I can dig into this later this week.

[2022-02-16 17:19] cgunther commented on #630
Thanks!

I ended up setting `SidekiqUniqueJobs.config.lock_timeout = 1` and after a day and a half in production, I've seen drastically fewer conflicts. My hunch is that's now higher than any latency I'm seeing?

I saw a single conflict since, but it appears it resolved itself on the first retry (as opposed to waiting for the `lock_ttl` to expire before succeeding on retry), so it may have been a

[2022-03-02 12:04] rgaufman opened #686 "locksmith.rb:327: NoMethodError: undefined method `+' for nil:NilClass"
**Describe the bug**
I am getting the following exception.

**Expected behavior**
It should not throw an exception

**Current behavior**
Throws an exception

[code]

**Worker class**
All

**Additional context**
These are the parameters that AirBrake captured:

[code]

Any ideas please?

[2022-03-04 17:24] francesmcmullin commented on #684
Hi 👋🏻  For context, @jkhulme  and I both work on the same application which depends on your gem (thank you!). We have different deployments with different scales, but a lot of our usage patterns look similar.

I took some time today to examine our Redis Reads and I believe you're right that the largest increase is coming from the reaper. It fails while our sidekiq queues are full, but once they cl

[2022-03-05 12:08] mhenrixon commented on #684
If you have any suggestions for how to improve performance I am wide open for it @francesmcmullin. The only thing that is extremely important is to make sure that redis version compatibility isn't broken without a major release.

I'm open for increasing the required redis version but I am not sure I have test coverage for various versions.

[2022-03-09 10:09] ArturT opened #687 "Run jobs in sequence (run 1 job at a time)"
Is there a way to run 1 job at a time no matter what are the job's arguments?

**Here is the use case.**
I'd like to create multiple invoices via external API. They must be created in sequence to avoid duplicated invoice numbers.
The worker class creates 1 invoice based on arguments passed to `perform` method.

**Current problem:**
If many workers run concurrently then there is a risk that concurr

[2022-03-09 10:59] francesmcmullin commented on #684
Thanks for the pointer! I foolishly ignored the version number of `ZDIFFSTORE`. I don't think it would be appropriate to require redis version 6.2.0 (and therefore a gem bump to sidekiq unique jobs 8) only to fix this issue, elegant though that solution would be.

I have [a very rough changeset with passing specs here for reducing the SSCAN and LLEN calls](https://github.com/francesmcmullin/sideki

[2022-03-09 13:50] mhenrixon commented on #687
Should be fixed by #682

[2022-03-09 13:50] mhenrixon commented on #686
Should be fixed by #682

[2022-03-12 01:53] schwern opened #691 "Locks not being released after Heroku dyno restart"
**Describe the bug**
I have some workers which are meant to run continuously. I'm using Heroku which restarts every 24 hours. I've noticed after the restart there will be locks for JIDs which are no longer running. The reaper eventually clears them, but I'd expect the locks to be cleared when the workers are killed by the restart.

**Expected behavior**
When a restart kills running workers their l

[2022-03-14 15:09] arekk commented on #686
+1 for this

[2022-03-14 18:22] philipbeber opened #692 "Conflict resolution documentation"
**Describe the bug**
The paragraph in the introduction describing conflict resolution stops mid-sentence: `By default, only one lock for a given hash can be acquired. What happens when a lock can't be acquired is governed by a chosen [Conflict Strategy](https://github.com/mhenrixon/sidekiq-unique-jobs#conflict-strategy) strategy. Unless a conflict strategy is chosen`

**Expected behavior**
It woul

[2022-03-18 14:00] fwolfst opened #694 "Improve README slightly"
I will craft a PR with some minor README improvements, probably best read commit by commit.

[2022-03-20 18:29] #694 closed

[2022-03-23 17:52] francesmcmullin opened #696 "Most recent changelogs are removed first"
**Describe the bug**
When changelog history is restricted using `max_history`, the most recent entries are removed instead of older ones.

**Expected behavior**
The oldest changelog entries should be removed, so I can review for e.g., the 1,000 most recent entries.

**Current behavior**
Changelog entries are removed most recent first. Here's the relevant line:

https://github.com/mhenrixon/sidekiq

[2022-03-31 17:28] ClearlyClaire opened #697 "concurrent-ruby has dropped support for TimerTask timeouts"
`concurrent-ruby` 1.1.10 has dropped support for `TimerTask` timeouts: https://github.com/ruby-concurrency/concurrent-ruby/pull/926

However, `TimerTask` timeouts are in use in `sidekiq-unique-jobs`.

This leads to sidekiq regularly outputting the following in the logs, but beyond that, I don't know what are the exact implications:

[2022-04-01 11:24] mhenrixon commented on #697
Thanks for the report @ClearlyClaire!

I've seen the warnings in one of the projects I am working on. I have some concerns about this since I actually fixed the timeouts to not leak threads so maybe I force a downgrade of concurrent-ruby.

I am afraid that the timeout won't be respected anymore which would really cause problems for people using this gem.

[2022-04-02 06:02] #675 closed

[2022-04-02 06:02] #686 closed

[2022-04-02 06:02] #697 closed

[2022-04-02 10:30] #696 closed

[2022-04-02 11:12] #670 closed

[2022-04-06 17:19] oneandonlymike opened #701 "concurrent-ruby 1.1.10 spikes volume of jobs"
**Describe the bug**
When using `concurrent-ruby` 1.1.10, the gem does not behave as expected. For the application we are implementing in,  after upgrading to `sidekiq-unique-jobs 7.1.16` we started getting alerts about a higher than normal volume of calls going out to a service that was approaching our rate limit. Attempting the upgrade again with `concurrent-ruby` dropped to `1.1.9` had no issue

[2022-04-09 13:08] mhenrixon commented on #701
https://github.com/mhenrixon/sidekiq-unique-jobs/pull/702 I wish they would have taken my suggestion and fixed the issue instead of making the issue permanent...

[2022-04-09 13:12] #701 closed

[2022-04-09 13:13] mhenrixon commented on #701
Released as v7.1.19

[2022-04-12 02:23] schwern opened #703 "Ambiguity about `death_handers`"
The README says...

Is "In version 7" referring to version 7 of sidekiq or sidekiq-unique-jobs?

In other words, if I'm using sidekiq >= 5.1 and sidekiq-unique-jobs >= 7 I *do not* need a death_handler?

[2022-04-13 14:09] oneandonlymike commented on #701
Something seems to still be wonky with the way this gem performs on the newest concurrent-ruby. On the below chart you can see our job patterns get really wonky and don't have the natural hourly drop in volume like they normally do when concurrent-ruby is at `1.1.10`:
![image](https://user-images.githubusercontent.com/38082514/163198485-e73dcd11-e7f6-42a1-ab92-3b75bf94174d.png)

Through my testing

[2022-04-15 19:39] mhenrixon commented on #701
I hear you, I'll write my own timeout functionality then and hopefully it won't matter which concurrent version you are having.

Frigging dependencies aye?

[2022-04-19 13:53] oneandonlymike commented on #701
Really appreciate that!

Haha yup

[2022-04-19 22:44] rgaufman opened #705 "DEPRECATION WARNING: default_worker_options is deprecated and will be removed from Sidekiq 7.0 (use default_job_options instead) (called from notify_agents at /Users/hackeron/Development/Tether/timeline/app/models/user.rb:303)"
Latest version throws this deprecation warning:

[code]

[2022-04-22 14:42] mhenrixon commented on #705
Yes, it’s coming from sidekiq and shouldn’t be a problem I think but I’ll look into it.

[2022-04-22 19:14] mhenrixon commented on #701
@oneandonlymike see if v7.1.20 works better for you

[2022-04-23 09:43] #705 closed

[2022-04-23 09:44] mhenrixon commented on #705
If someone could try out the master branch that would be brilliant.

I did a bunch of renaming of worker to job. Seems that's the way sidekiq is heading.

[2022-04-23 18:34] rgaufman commented on #705
Tried master and the deprecation warnings are gone, so far so good! - Will report back if I notice any issues.

[2022-04-25 06:17] mhenrixon commented on #691
Unfortunately, that isn't a problem I can solve directly. That's why I added the orphan reaper to help mitigate it.

The locks should stay unless Sidekiq fails to put the job back on the queue. Otherwise, you'd end up with duplicates, rendering the gem completely useless.

The issue in this situation is the `while executing` part of your job that could sometimes delay the processing of this job sl

[2022-04-25 19:03] oneandonlymike commented on #701
v7.1.20 seems to have done the trick! Thanks!

[2022-04-30 13:27] axos88 commented on #394
Rewiving this old one. This is still an issue on 7.0.4.

Any jobs that are in the failed queue will not take part in validation.

Steps to reproduce:

[code]

Execute the following in for example a rails console, while the sidekiq worker is running:

[code]

Expected: The job should not duplicate
Actualk: Is does.

[2022-04-30 13:34] axos88 opened #708 "Reviwing: Failed jobs waiting to be retried are not considered when fetching uniqueness"
Rewiving #394. This is still an issue on 7.0.4. Feel free to close this one, and reopen that one so that the conversation is in one place.

Any jobs that are in the failed queue will not take part in uniqueness validation.

Steps to reproduce:

[code]

Execute the following in for example a rails console, while the sidekiq worker is running:

[code]

Expected: The job should not duplicate
Actual:

[2022-04-30 17:15] #708 closed

[2022-05-01 15:26] mhenrixon commented on #394
I guess I should at the very least try to put the lock back. I'll look into it.

This type of lock will never be hundred percent perfect though since the lock is already released when the server starts processing.

The only thing I can think of is to maintain my own sidekiq fetcher that handles the queues differently so that a job like yours would be preferred over a job that came in later but bot

[2022-05-02 16:41] ArturT commented on #687
I used to have this idea. To achieve sequential jobs I could use semaphore ( https://github.com/dv/redis-semaphore )
 so that if 2 jobs are running at the same time only one has mutex and can process work (do request to external invoicing API). The 2nd job needs to wait for the 1st one to be completed (so that 1st job releases mutex).
But this has a downside. If the invoicing API has a timeout the

[2022-05-04 10:46] axos88-da commented on #394
Yes, putting the lock back in would already help a lot in my case.

[2022-05-04 11:47] #394 closed

[2022-05-04 11:54] mhenrixon commented on #394
Released as `v7.1.22` https://github.com/mhenrixon/sidekiq-unique-jobs/releases/tag/v7.1.22 @axos88 @axos88-da

[2022-05-09 08:27] baka-san opened #711 "Unexpected behavior with until_and_while_executing"
**Describe the bug**
I'm not sure if this is a bug or if I'm misunderstanding the documentation/usage of `:until_and_while_executing`. While `:until_and_while_executing` properly locks jobs which are queued but haven't started executing (e.g. `perform_in(1.hour, ...)`), it does not seem to correctly lock through execution of the job.

**Expected behavior**
From reading the documentation, I'd expec

[2022-05-20 21:36] axos88 commented on #394
@mhenrixon , I think the exceptions are now swallowed. lib/sidekiq_unique_jobs/lock/until_executing.rb:35 should rethrow the exception, should it not?

[2022-05-23 09:51] mhenrixon commented on #394
@axos88 indeed it should, PR coming up!

[2022-05-23 13:59] glennfu commented on #418
@mhenrixon I was finally able to upgrade this and simultaneously replace ActiveJob with Sidekiq::Worker (in most places) about a month ago. So far it's been smooth sailing. Thanks for your hard work on this!

[2022-05-24 10:26] mhenrixon commented on #684
@francesmcmullin, there is nothing per se keeping us from having all the digests in one place. I have the digests set to give some insight into what's going on without having to loop through all keys.

I'll give this some thought. Would be pretty sweet to use a more efficient reaper. Perhaps you could contribute one suitable for your use case and we can prefer that when the redis version is approp

[2022-06-30 06:49] mhenrixon commented on #684
@francesmcmullin I'd love to get some improvements in to the gem. Did you do any more improvements? Any PR you could open? I appreciate your support!

[2022-06-30 12:21] francesmcmullin commented on #684
Hi @mhenrixon  👋🏻  Thanks for the nudge! I'll open a few PRs today, please treat them as suggestions only, I won't mind if they need more work or don't fit with the gem's broader use cases etc.

[2022-07-01 07:57] mhenrixon commented on #684
@francesmcmullin you just really inspired me. I will reduce the complexity considerably and create different lua scripts for different locks and also different sets for different locks.

I believe you just made v8 happen :)

[2022-07-07 15:58] holstvoogd commented on #687
@ArturT We use Sidekiq::Throttled to enforce concurrency. Not sure if that is sufficient for you use case,  as it will not enforce the sequence of jobs, but will ensure only one job happens at a time & will not lock up workers.

[2022-07-07 16:10] ArturT commented on #687
Thanks @holstvoogd It looks like `Sidekiq::Throttled` could enforce one job at a time.

[2022-07-11 15:17] mhenrixon commented on #637
There was some work being done in #724 which will help greatly for you as well.

[2022-07-12 09:07] mhenrixon commented on #637
When #725 is merged it would be great to get some feedback on how it performs for you @fotinakis. Any insights into this would be greatly appreciated. Preferably before I release it as we changed how the expired keys are stored.

[2022-07-12 20:50] fotinakis commented on #637
@mhenrixon @francesmcmullin

Test results: unfortunately, saw similar results for memory leaks under load with `:until_expired` locks under the latest main branch.

Setup:
* Job lock options:
[code]
* sidekiq (6.5.1)
* sidekiq-pro (5.5.1)
* sidekiq-unique-jobs (`main` @ https://github.com/mhenrixon/sidekiq-unique-jobs/commit/b999c8b646b5471e12b182ff6c3565133a2d3787)

Result:

* ~800k unique jobs r

[2022-07-13 10:15] mhenrixon commented on #637
Awesome! I'll get on those lingering keys then!

[2022-07-14 18:37] fotinakis commented on #637
Great, thanks @mhenrixon! Do you have any thoughts on an ETA for fixing this – we're using at such a scale that I'm somewhat blocked on turning on a big system until this particular issue is resolved or we work around it.

We've also just joined as as a GitHub sponsor! 💯 Really appreciate your work on this fantastic open source project.

[2022-07-15 06:01] mhenrixon commented on #637
@fotinakis I'll get started first thing on Tuesday.

This week I have off to spend some quality time with my wife. Our kids are in Sweden with my parents and yesterday was our fifth wedding anniversary!

Sincerely appreciate the support and the kind words 🙏.

Gets me very excited about fixing problems ❤️

[2022-07-15 06:22] mhenrixon commented on #637
@fotinakis Monday I'll get started! Just had a look in the calendar and my birthday isn't until Tuesday so have the whole of Monday to look at those dangling keys.

[2022-07-19 19:28] michaelegregious commented on #643
@saiqulhaq , did you ever find a solution to this issue?

[2022-07-19 22:33] fotinakis commented on #637
Hey @mhenrixon — appreciate it. No rush from our end, we have implemented a workaround in the meantime. 👍 Will be good to fix that orphan cleanup whenever you get to it.

[2022-07-20 07:24] mhenrixon commented on #637
@fotinakis I have a PR (#726) that should hopefully fix the problem. Would appreciate help battle testing the change. I am a little unsure about the potential effect of concurrency here.

[2022-07-21 07:50] mhenrixon commented on #643
@michaelegregious I believe you should upgrade sidekiq unique jobs. There was a change in how the arge look in newer sidekiq versions.

[2022-07-22 14:06] ezekg commented on #630
@cgunther did setting `lock_timeout = 1` solve your issue, or is it still happening? I did the same and am still seeing occasional jobs conflicting with themselves, but less frequently. Currently trying `lock_timeout = 5`.

[2022-07-22 15:14] saiqulhaq commented on #643
I never got this issue anymore

[2022-07-22 16:39] cgunther commented on #630
I don't believe it solved it outright, but I do believe it's greatly improved. I've since bumped it up to `lock_timeout = 2` and seeing fewer conflicts. The conflicts are so rare, I haven't really dug into whether they're genuine conflicts, or this same root issue.

I rarely see them hit the dead queue, but I also set a `lock_ttl` on these jobs to help ensure they're not locked indefinitely, which

[2022-07-22 18:56] ezekg commented on #630
Thanks for the additional info. I actually think I'm going to try to switch to an `until_executing` locking strategy, since that seems to make more sense in my case, and perhaps it will resolve my issue here. Can't afford to lose these jobs.

@mhenrixon, I sponsored the repo on behalf of @keygen-sh. If you have time to look into this, LMK.

[2022-07-23 05:27] mhenrixon commented on #630
@ezekg I'll see about adding toxiproxy and reproduce this in a test. There was a ton of work going into stabilizing the gem and this is one of the few problems I never got to the absolute bottom of.

I'll make it my main priority in the next week.

[2022-07-25 07:11] selivandex commented on #589
Still happening in v7.1.25, sidekiq 6.4.2

[2022-07-25 10:15] mhenrixon commented on #589
I will have another look at this.

[2022-07-25 10:48] mhenrixon commented on #589
I have test coverage for this saying it should be working and when I try it out locally it also works as expected:

<img width="1265" alt="CleanShot 2022-07-25 at 12 46 50@2x" src="https://user-images.githubusercontent.com/106795/180759941-bb489ab3-9831-4e2d-b366-0a18dd1463e5.png">

@selivandex @blanchma can you provide some more information about your setup? Can't seem to replicate the problem.

[2022-07-27 19:10] marclennox opened #727 "Disable logging in Rails testing"
I'm getting a lot of log messages when running Rails specs from this gem.  Is there a way to disable these logs in testing?  The only solution I found was to change from the Sidekiq logger to the Rails logger, but in your documentation you don't recommend changing this configuration.

[2022-07-27 19:13] mhenrixon commented on #727
My recommendation was more for production environment.

It is common to disable logging for test environment which is totally fine.

Perhaps you can configure logging based on which rails environment it is?

[2022-07-27 19:14] marclennox commented on #727
Cool thanks.  Is there a way to disable logging entirely with this gem?

[2022-07-27 19:16] mhenrixon commented on #727
From the top of my head: no. It seems like a very nice feature to have.

Perhaps something like:

[code]

[2022-07-27 19:17] marclennox commented on #727
That would work, or alternatively

[code]

[2022-07-27 19:18] marclennox commented on #727
[code]

[2022-07-27 19:20] mhenrixon commented on #630
So I haven't managed to break anything yet. I made sure that toxiproxy waits for way longer than any timeout but my locks still succeed. Perhaps `toxic` isn't the right one?

Anyway, tricky bug 🐞 to track down.

[2022-07-27 19:33] ezekg commented on #630
Did you try @cgunther's reproduction case [here](https://gist.github.com/cgunther/718379c4786e445e75a4e62ce612a9ee)? Fails locally for me with `toxiproxy`.

[2022-07-27 19:57] mhenrixon commented on #727
I'm not even sure it works without a logger, try it first. Otherwise

[code]

Should do the trick, I'll see if I can add a way to just silence logging also.

[2022-07-27 19:59] mhenrixon commented on #630
https://github.com/mhenrixon/sidekiq-unique-jobs/pull/728/files#diff-2237c3b9fde8071dcf3d26aee337339194f7a141e90801bf3d9c06fe81e96ff8 I have no previous experience with `toxiproxy` so might be doing something wrong. If one of you could give me any pointers on replicating this in RSpec, that would be greatly appreciated.

[2022-07-27 20:53] cgunther commented on #630
I think it's a sidekiq issue, not a toxiproxy issue.

First, I think you need sidekiq to actually perform the job inline, not just enqueue (the default when including "sidekiq/testing", ie. `fake!`):
[code]

I believe the root bug is around job execution, not job enqueueing, hence the importance of actually performing the job. The errors I saw in my application were always when sidekiq tried to pe

[2022-07-27 21:02] marclennox commented on #727
Perfect, thanks

[2022-07-28 04:27] mhenrixon commented on #630
Thanks a bunch for that additional information! Managed to replicate the problem now.

[2022-07-28 10:29] #637 closed

[2022-07-28 10:38] mhenrixon commented on #711
Please checkout v7.1.26 https://github.com/mhenrixon/sidekiq-unique-jobs/releases/tag/v7.1.26 as it has quite a few fixes for until and while executing

[2022-07-28 10:39] mhenrixon commented on #637
Please checkout v7.1.26 https://github.com/mhenrixon/sidekiq-unique-jobs/releases/tag/v7.1.26 as it has quite a few fixes for until and while executing and also until expired

[2022-07-28 10:43] mhenrixon commented on #630
Please check out v7.1.26 https://github.com/mhenrixon/sidekiq-unique-jobs/releases/tag/v7.1.26 it should hopefully render this a non-problem @ezekg @cgunther.

I believe what happened was that redis does something silly with `0.04` ao it endsup being `0` for timeout as it only accepts integers.

I am not entirely done with the problem. I want to get to the bottom of it but it fixes the problem so

[2022-07-28 11:05] #727 closed

[2022-07-29 15:39] marclennox opened #730 "Unique Jobs Not Running with Version 7.1.26"
I tried updating to 7.1.26 and now no unique jobs are actually running.  Reverting to 7.1.25 resolves the issue.

[2022-07-29 17:24] mhenrixon commented on #730
For me it is working fine:

[code]

[2022-07-29 17:31] mhenrixon commented on #730
Could you share some information about your setup @marclennox?

[2022-07-29 17:32] marclennox commented on #730
I'll provide more detail when I get back to this, but my jobs defined as follows are not running in the newer version, but fine in the previous.

[code]

[2022-07-29 17:32] marclennox commented on #730
They are all just going to the Dead queue

[2022-07-29 18:21] mhenrixon commented on #730
Thanks for that, I'll try and replicate it in a local project!

[2022-07-29 19:13] cgunther commented on #630
I deployed v7.1.26, so will keep an eye on things and report back.

For now, I left `SidekiqUniqueJobs.config.lock_timeout = 2`, which probably negates the improvements you made in #728, as it seems that effectively ensured there was a timeout for the Redis call, even if no timeout was configured.

If all goes well, I'll try without the `lock_timeout` config being set to really exercise the change

[2022-07-29 19:29] cgunther commented on #730
@marclennox any chance you're using `redis-namespace`?

I think the changes in v7.1.26 (namely #728) introduce a conflict with namespacing.

In v7.1.25, with no `lock_timeout` config set, when `Locksmith#primed_async` calls `pop_queued`, the `wait` was `nil`, so then `pop_queued` called `rpoplpush`.

In v7.1.26, `pop_queued` likely gets a `timeout` of 1 in the default scenario, thus triggering `br

[2022-07-29 20:06] mhenrixon commented on #730
Uff, redis-namespace strikes again... I can replicate the problem locally but fixing it I'm not even sure it is possible.

[2022-07-29 20:17] mhenrixon commented on #730
This is the error message: `Hash can't be coerced into Float`

It seems like `redis-namespace` isn't compatible with newer redis versions. The redis-namespace uses the old version which took a float. Newer redis versions removed that argument:

[code]

I don't want to use deprecated values if I can avoid it

[2022-07-29 20:20] mhenrixon commented on #730
@cgunther @marclennox see if https://github.com/resque/redis-namespace/issues/204 will be taken care of. There isn't that much I can do more than that.

[2022-07-29 22:35] marclennox commented on #730
Indeed I'm using redis namespace.  So I should abandon this to get around the problem?

[2022-07-30 07:12] mhenrixon commented on #730
Mike Perham recommends strongly against redis namespace so I have come to work around it.

I'll see if I can fix it but given the type of error; I wonder how many other hidden errors are because of keyword arguments and redis namespace.

[2022-07-30 08:58] #730 closed

[2022-07-30 09:00] mhenrixon commented on #730
Released as https://github.com/mhenrixon/sidekiq-unique-jobs/releases/tag/v7.1.27

[2022-07-30 09:01] mhenrixon commented on #711
Also, if you are still having trouble: https://github.com/mhenrixon/sidekiq-unique-jobs/releases/tag/v7.1.27 (especially if you are using redis-namespace).

[2022-07-30 09:57] mhenrixon commented on #637
Version v7.1.27 should be even better, especially if you are using redis namespace.

That said, redis namespace is not recommended. It was discovered it is not up to date with redis-rb's keyword arguments.

Who knows what else is failing silently with it.

[2022-08-01 14:02] sqbell commented on #684
Probably unrelated (since Reaper is disabled for us), but we just upgraded from v6.0.25 to 7.1.27 and saw huge increase in `evalsha` and `hexists` operations:
![sidekiq_unique_jobs_upgrade_02](https://user-images.githubusercontent.com/795266/182161807-69d4e728-9cf5-4794-9817-174f6e3cb95f.png)
![sidekiq_unique_jobs_upgrade_01](https://user-images.githubusercontent.com/795266/182161814-05532290-5832

[2022-08-09 15:16] masterkain opened #733 "spammed by `Nothing to delete; exiting` during spec"
[code]

I'm getting spammed by this on STDOUT (or STDERR?) for each test and I believe it's coming from here https://github.com/mhenrixon/sidekiq-unique-jobs/blob/10d08bdd53dab0b26d260bfa5c445655a56f1e0c/lib/sidekiq_unique_jobs/testing.rb#L129

I have `require 'sidekiq_unique_jobs/testing'` in my `rails_helper.rb`

Any way to suppress this output? thanks

[2022-08-09 16:10] mhenrixon commented on #733
See readme about logging in for example rails test environment.

[2022-08-09 16:41] mhenrixon commented on #733
https://github.com/mhenrixon/sidekiq-unique-jobs#uniqueness

[2022-08-09 16:41] #733 closed

[2022-08-18 01:47] joshmn commented on #637
@fotinakis similar throughput as you and similar issues. we're on 7.1.27. what were your workarounds? i woke up to a nightmare :(

[2022-08-30 16:21] daapower opened #734 "Jobs are being allowed to run even though there is a lock"
**Describe the bug**
I'm not sure if I am doing something wrong. The unique jobs used to work but recently upgraded sidekiq and unique jobs.

Below is a job that is supposed to be locked until and while executing but as you can see there are 2 of them
["worker.1:3:9598347b346b",
  "14frb",
  {"queue"=>"default",
   "payload"=>
    {"retry"=>false,
     "queue"=>"default",
     "backtrace"=>true,

[2022-08-30 16:35] daapower commented on #734
I don't fully understand, are you saying 1 is running, the other 6 are waiting for that one to finish before running?

If I execute from the console, unique jobs usually prevents them from running it would just say "start" then immediately "done" so that only 1 job is running.

![image](https://user-images.githubusercontent.com/16138603/187491688-55b2b155-215d-47fe-905e-3c5384d4ae26.png)

[2022-08-31 03:44] mhenrixon commented on #734
You would probably be better off using `until_executed`. It looks like you might be hitting a weird edge case.

Is it a problem if a subsequent job is dropped when another is already on the queue waiting to be picked off by the sidekiq worker?

[2022-08-31 04:54] daapower commented on #734
I think I used to have it until_executed but it was still queueing the jobs so I changed it to until_and_while_executing.

I'm going to try installing another Redis, perhaps something is messed up with my jobs.

In the meantime I added this code to check if there is already a Sidekiq job with my process name, if there is I don't run the code in the worker

 workers = Sidekiq::Workers.new
    worke

[2022-09-08 11:01] DCrow commented on #734
Not sure if this is the same bug, but it is a `until_and_while_executing` lock bug.

I am able to reproduce this behavior like so
[code]

Sample app [here](https://github.com/DCrow/sidekiq_bug)

[2022-09-11 08:30] mhenrixon commented on #734
@DCrow That actually does not reproduce anything. Your sidekiq process isn't running and since you have configured a global TTL of 1 hour the reaper would just consider the lock as active after 5 seconds.

[2022-09-12 10:07] DCrow commented on #734
@mhenrixon  Sorry if I wasn't clear. Prior to executing this script, sidekiq process should also be running.
After executing sidekiq process should output to stdout something like this
[code]

[2022-09-28 20:51] JeremiahChurch opened #735 "Locks can't be found in UI?"
**Describe the bug**
1. Attempt to queue a job
2. Receive an error that the job can't be enqueued because an existing lock exists.
3. search web UI for cited lock - Locks, Expiring Locks, & Changelogs - nothin'

Attempting to run down some unexpected lock behavior. Turn logging up. Plenty of locks are shown in the UI component. But I guess not *all* of them?

**Expected behavior**
Expect to be abl

[2022-09-29 20:40] kirsha2 commented on #649
any update here ? :)

[2022-09-30 13:57] JeremiahChurch commented on #735
further debugging: "Delete All" on the web UI - locks are shown as cleared out on the UI. However the job still reports that the same key already exists.

[2022-10-04 16:43] Earlopain opened #736 "Incompatibility with Sidekiq 7"
Sidekiq recently released a beta version of their new major release.

https://www.mikeperham.com/2022/09/27/sidekiq-7.0-beta-now-available/
https://github.com/mperham/sidekiq/blob/main/docs/7.0-Upgrade.md
https://github.com/mperham/sidekiq/blob/main/docs/internals.md

The current version of this gem is not compatible with the new version, since there were large amounts of internal changes.

[2022-10-12 07:32] lemboywp commented on #735
We had the exact same problem today.
[code]

[2022-10-16 10:11] mhenrixon commented on #736
Sidekiq 7 unfortunately will require a complete refactor of my gem and I just haven't been able to figure out why.

Almost every single test fails against sidekiq 7.

[2022-10-24 17:12] johntrandall commented on #736
oof. Sounds like this is blocked for now then...

We could always use SideKiq Enterprise, which includes these features natively, rather than this 3rd party SideKiq-Uniq, but SideKiq it is expensive.

[2022-10-26 12:34] jpcamara commented on #736
@mhenrixon I am working on changes for compatibility with Sidekiq 7. I'll open a PR with a fix for https://github.com/brpoplpush/brpoplpush-redis_script today or tomorrow, and get at least an in-progress PR for sidekiq-unique-jobs within the next few days.

[2022-10-27 15:01] strika opened #738 "Job executed twice when reaper runs"
**Describe the bug**

When I schedule the example job and I run the reaper right after that, the job is executed twice:

[code]
The log:

[code]

**Expected behavior**

A job that's scheduled once should be executed only once.

**Current behavior**

A job that's executed when the reaper is executed is scheduled twice.

**Worker class**

[code]

**Additional context**

Ruby version: 3.0.4
Sidekiq v

[2022-11-01 03:42] pdkproitf commented on #735
Same problem here:
[code]

[2022-11-01 12:47] jpcamara commented on #736
There are some larger architectural decisions that may be made by @mhenrixon in response to the Sidekiq/Redis gem updates, so i'm not actively working on this atm

[2022-11-03 03:25] saiqulhaq commented on #331
should we close this issue?
since already fixed in the recent versions
![image](https://user-images.githubusercontent.com/1275215/199642064-1bddf312-42ca-4d8b-8b66-e04062641cbc.png)

[2022-11-04 06:54] pdkproitf commented on #735
My current solutions:
[code]

[2022-11-16 11:53] kriom opened #740 "Error "undefined method `redis_info' for Sidekiq:Module" on upgrade"
**Describe the bug**
I try to upgrade the gems sidekiq-unique-jobs to 7.1.27 and  sidekiq 7.01 using this [configuration ](https://github.com/mhenrixon/sidekiq-unique-jobs#add-the-middleware)

**Expected behavior**
sidekiq start

**Current behavior**
sidekiq fail to start with this erroer message
[code]

[2022-11-16 11:59] strika commented on #740
Maybe this https://github.com/mhenrixon/sidekiq-unique-jobs/issues/736#issuecomment-1279937963 is useful for you. It seems that sidekiq-unique-jobs is not compatible with Sidekiq 7.

[2022-11-16 13:44] kriom commented on #740
Thank you, at the moment, I will limit my upgrade to sidekiq (6.5.8)

[2022-11-16 13:44] #740 closed

[2022-11-18 17:09] edelauna opened #741 "Using rspec matcher and getting: `NameError: uninitialized constant SidekiqUniqueJobs::Lock::BaseLock::Validator`"
**Describe the bug**
Version: `sidekiq-unique-jobs (7.1.27)`
As per the readme, trying to validate options.

[code]

**Expected behavior**

    on_server_conflict: :replace is incompatible with the server process

**Current behavior**

     BadWorker is expected to have valid sidekiq options
       Failure/Error: specify { expect(described_class).to have_valid_sidekiq_options }

     NameError: