[2018-06-23 06:14] mhenrixon commented on #274
Sorry about that @darwin67 I realised a couple of issues with master after I wrote you. Will ping you when I'm done fixing

[2018-06-23 06:21] darwin67 commented on #274
No problem at all! Thank you for the great work!
Please let me know if I can help.

[2018-06-25 05:02] mhenrixon commented on #274
@darwin67 the version `v6.0.0.beta2` should work a whole lot better. Would be really cool if you could give it a spin. 😁

[2018-06-26 15:52] mhenrixon opened #280 "Legacy support"
Make sure this upgrade is smooth. We are using the API_VERSION now, have some type of fallback at least temporarily so that the old Lua scripts can be used when the API_VERSION is missing.

[2018-06-26 20:11] #280 closed

[2018-06-26 20:14] mhenrixon commented on #255
Check out `v6.0.0.rc1` @soundasleep @tmlee. Version 6 won't have this problem and it will take care of the upgrade automatically.

Keep an eye out on the README and CHANGELOG for more information about the changes.

[2018-06-26 20:14] #255 closed

[2018-06-26 20:15] mhenrixon commented on #261
Version 6 won't have this problem and it will take care of the upgrade automatically.

Keep an eye out on the README and CHANGELOG for more information about the changes.

[2018-06-26 20:15] #261 closed

[2018-06-26 20:15] mhenrixon commented on #257
Version 6 won't have this problem and it will take care of the upgrade automatically.

Keep an eye out on the README and CHANGELOG for more information about the changes.

[2018-06-26 20:15] #257 closed

[2018-06-26 20:17] mhenrixon commented on #254
In version 6 you will have to disable uniqueness for testing since supporting all sidekiq versions with various monkey patching is just too complicated. You will have to trust the gem or test similarly as I do in the gem if you truly care.

I'm closing this for now

[2018-06-26 20:17] #254 closed

[2018-06-26 20:20] mhenrixon commented on #250
Version 6 won't have this problem and it will take care of the upgrade automatically. `lock_expiration` should really not be used for anything at all since the keys WILL be removed. Maybe I should remove that option for all jobs except `UntilExpired`

Keep an eye out on the README and CHANGELOG for more information about the changes.

[2018-06-26 20:20] #250 closed

[2018-06-26 20:21] mhenrixon commented on #249
I've updated the readme. I hope it makes more sense how I word it since the recent changes. Please let me know if not.

[2018-06-26 20:21] #249 closed

[2018-06-26 20:22] mhenrixon commented on #246
Thanks, I've updated the README.

[2018-06-26 20:22] #246 closed

[2018-06-26 20:32] mhenrixon commented on #234
Sorry about version 5 everyone. This will be fixed in version 6. The gem should automagically just work after an upgrade and this won't be a problem anymore. There are so many improvements in v6.... everything should just work now. I will delete all gems on version 5 when version 6 is released.

Terribly sorry about version 5 everyone. I'm closing this now because version 6 is just around the corn

[2018-06-26 20:32] #234 closed

[2018-06-26 20:35] mhenrixon commented on #245
Unfortunately older versions were less than good enough. I've decided not to support versions older than 6 and rather focus all my efforts on making version 6 work really well.

I hope you don't mind and find it possible to upgrade redis so that you can use the new stuff (or create a PR for the branch `v4.x`).

[2018-06-26 20:35] #245 closed

[2018-06-26 20:36] mhenrixon commented on #226
I've clarified this a little better in the README. Will close this issue now but just ping me if you have any further questions.

[2018-06-26 20:36] #226 closed

[2018-06-28 09:04] kammerer commented on #274
I think I have the same use case, I use `until_and_while_executing` (also `unique_args`). I tried `6.0.0.rc2` and it actually works a lot better than `5.x`, but I get some behaviour I don't expect:

1. Without `lock_timeout`: first job is started, the following job is dropped immediately. I expected the second job to wait in the queue for the first one to finish.
1. With `lock_timeout`: first job

[2018-06-28 09:11] mhenrixon commented on #274
Thanks a bunch for trying it out @kammerer. Just to clarify, you only expect one job at a time being enqueued right? Also only one job running at the same time?

My attempts to integration test this is clearly not the same in a multiprocess real world scenario: https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/spec/integration/sidekiq_unique_jobs/lock/until_and_while_executing_spec.rb#L

[2018-06-29 21:38] mhenrixon commented on #274
@kammerer that was a difficult one to track down but... it should hopefully be working as expected now. It is difficult to really test this in a sane manner except opening up two different consoles and test manually.

You should not see the behaviour you described since `v6.0.0.rc3`

[2018-06-30 05:19] mhenrixon commented on #247
Thanks for reminding me about the scheduled set @glennfu :) I almost forgot about that for v6!

[2018-06-30 09:40] mhenrixon commented on #247
@glennfu @amclaughlin-valetude I had a look into this. The problem only occurs when there isn't a lock for the specific item arguments anymore. This would for instance occur when the lock is created with an expiration. Keep in mind that any keys that are set to expire will do so at the given expiration regardless. Unfortunately older versions of the gem used a default expiration of 30 minutes whic

[2018-06-30 18:37] #253 closed

[2018-07-02 17:50] mhenrixon commented on #274
@darwin67 you would have to raise an error and retry the job or if we reject running jobs. The think is if you provide `lock_timeout: 5` the server process will wait 5 seconds before discarding this job. If you specify `lock_timeout: 0 # is the default` the job will just be skipped when the `Sidekiq::Processor` picks it up and passes it through the server middleware.

[2018-07-14 21:01] florrain opened #289 "Locking with retries"
Hello,

The latest version does not seem to keep the lock after an exception is raised from a worker. Is that on purpose, and if so is there a way to keep the lock and release it only if the job has successfully run in a `:until_executed` lock type for example?

Thanks

[2018-07-15 06:03] mhenrixon commented on #289
Just let me clarify, you are referring to the `v6.0.0.rc5` version right @florrain? That is not how I intended it to work, it might be that my tests miss the case when the lock yields and an error is raised in the worker. I'll see if I can find out what is going on.

[2018-07-15 06:06] mhenrixon commented on #289
Found the problem and will fix it and release a new gem version in half an hour or so.

[2018-07-15 07:48] #289 closed

[2018-07-15 07:49] mhenrixon commented on #289
@florrain fixed in `v6.0.0.rc6`

[2018-07-15 12:43] florrain opened #291 "Making the GEM compatible with Ruby < 2.3"
Hey @mhenrixon

I would like to use the latest version in a Ruby 2.1 application. Loading the GEM with that version does not work because of the new safe navigation operator `&.` in the BaseLock class. There's also the use of the `Integer#positive?` that was added in 2.3 that makes the client middleware to explode.

I personally don't think helper methods should prevent the usage of your GEM, woul

[2018-07-15 12:45] mhenrixon commented on #291
Please go ahead! You are so right in that the helper methods used shouldn’t prohibit the gem from being used.

Check the Sidekiq requirements though. I think in later Sidekiq versions 2.1 might not be usable.

[2018-07-15 14:11] florrain commented on #291
Great will have that PR up hopefully later today or early next week. Good idea, will double check on that 👍

[2018-07-15 14:19] florrain commented on #291
Another question for you -- do you have an estimated release date for the final v6?

[2018-07-15 15:10] mhenrixon commented on #291
I was hoping to get some people to test it out first and check that everything is working ok. Any time someone suggests everything is working as advertised I'll cut a final v6.0.0.

The gem has been installed a few times now and since I haven't had that many complaints I'd say it is pretty fine for release.

[2018-07-16 16:03] mhenrixon commented on #291
I'm closing this for now, ping me on gitter if you need any help with the Ruby 2.1 work.

[2018-07-16 16:03] #291 closed

[2018-07-17 10:34] nocivus opened #293 "Not unlocking automatically (version 6.0.0rc5)"
**Describe the bug**
Getting this in the sidekiq console when running an unique job:
[code]

**Expected behavior**
Expected the lock to be released so i could enqueue further jobs after this one is finished

**Current behavior**
No further jobs can be queued.

**Worker class**

[code]

[2018-07-17 11:15] mhenrixon commented on #293
Interesting! If you have a look at #289 and #290 the problem with `v6.0.0.rc5` was that jobs was always unlocked when a worker error was raised.

Using the else clause now only unlocks the error if the worker does not raise an error. What you are experiencing seems to be the opposite of that. If you try `v6.0.0.rc6` that won't exactly help. The problem seems to be that Sidekiq shuts down in the mi

[2018-07-17 12:41] nocivus commented on #293
Well, the job does finish, and sidekiq does not crash :(

[2018-07-18 06:58] mhenrixon commented on #293
I can't replicate that behaviour @nocivus. I'll keep investigating but this should not be happening unless your worker raises an error, sidekiq is shutting down or the job can't be unlocked. It might be that the job refuses to get unlocked for some reason.

Would be helpful to get some more information on the key that sits in Redis specifically it's `ttl` for instance. Might I ask why you are usin

[2018-07-18 09:36] laoshucheng opened #294 "Unique Job not work while play with crontab"
**Describe the bug**
1. here is my uniq job:
[code]

2. and here is my crontab file:
[code]
This will trigger TestJob every minute

**Expected behavior**
The second job will perform when first job is done

**Current behavior**
The second job performed while first job is doing

**Sidekiq Output**
![image](https://user-images.githubusercontent.com/3971407/42873133-fe4b63fa-8ab0-11e8-953d-4929f950152

[2018-07-18 12:22] mhenrixon commented on #294
Which version of the gem are you using?

[2018-07-18 12:41] laoshucheng commented on #294
sidekiq (5.0.5)
sidekiq-unique-jobs (5.0.10)

[2018-07-18 12:42] mhenrixon commented on #294
Could you try `v6.0.0.rc6` instead? Version 5 is not working very well.

[2018-07-18 12:45] laoshucheng commented on #294
OK, Let me have try

[2018-07-18 12:52] mhenrixon commented on #294
Keep in mind that the way sidekiq works `while_executing` is only run on the background process that runs the sidekiq jobs. This means any number of jobs will started simultaneously. Only one will actually execute. The others will wait until `lock_timeout` is reached (default is 0 don't wait at all). So what you should see is that the jobs get started but then only the first one completes.

[2018-07-18 12:54] laoshucheng commented on #294
What's version of rails that the version 6.0.0.rc2 dependent on?
![image](https://user-images.githubusercontent.com/3971407/42882944-b7f870c0-8acc-11e8-9f5c-ff7d8c7038bf.png)

[2018-07-18 12:56] mhenrixon commented on #294
It is the ruby version actually, ruby 2.3 (since ruby 2.2 isn't officially supported anymore I decided to also not support it). The `&.` instruction is a built in ruby way of only calling a method if the object the method belongs to isn't nil. Instead of `obj && obj.method_name` you just do `obj&.method_name`

[2018-07-18 12:57] mhenrixon commented on #294
There was a recent discussion about older ruby versions in #291 & #292

[2018-07-18 16:56] lephyrius commented on #293
I also get this error when I only have:
`sidekiq_options unique: :until_executed`

[2018-07-18 17:14] mhenrixon commented on #293
Thank you for the feedback @lephyrius. I will dig into this right now and see if I can replicate it using some real world code.

[2018-07-19 03:49] laoshucheng commented on #294
Thank you very much.

[2018-07-19 04:18] laoshucheng commented on #294
Thanks, @mhenrixon . I install 6.0.0.rc6 and patch #291 feature(because we're using
 ruby 2.2.5 in production, upgrade to 2.3 is dangerous without enough test cases). It works! Which means when crontab trigger the job, It won't start at the same time. It's perfect!

But, I find It not same behavior before like this:

In fact, it looks like the second job is not waiting. It will run and check if fi

[2018-07-19 06:02] mhenrixon commented on #294
It is not the same behaviour indeed. Before v6 unfortunately it didn't work reliably. The way it works now is that you need to specify `lock_timeout: 101` to make the next job to run successfully. Right now with the default value of `lock_timeout: 0` the second process attempts to lock, waits for 0 seconds and then just exists.

Unfortunately there is no way to do this properly. It would be pretty

[2018-07-20 16:22] mhenrixon commented on #293
I really can't replicate the behaviour. The only time this would happen to me is when the worker crashes or sidekiq shuts down which is a required behaviour. When the worker crashes the job will be retried, when Sidekiq shuts down we don't really know if the worker completed or not and we will have to figure this out ourselves.

I'll think of a way to make cleaning up these jobs or marking them as

[2018-07-23 03:15] laoshucheng commented on #294
I set config of `lock_timeout` ,and it works perfect! Thanks @marclennox . And we plan to upgrade our ruby version as your suggest. :)

[2018-07-23 03:15] #294 closed

[2018-07-23 17:04] MaicolBen commented on #256
@mhenrixon It happened to me as well, the server version is 4.0.10 which is the lastest currently.

[2018-07-23 17:16] mhenrixon commented on #256
@MaicolBen would it be at all possible for you to upgrade to `v6.0.0.rc7`? It does require ruby > 2.3. If you can I would strongly recommend an upgrade.

[2018-07-23 17:22] MaicolBen commented on #256
@mhenrixon what are the major differences? `unique` got renamed to `lock`, I'm asking because I have tons of jobs using `unique`

[2018-07-23 17:32] MaicolBen commented on #256
The error in version 5 isn't exactly the same, it throws `Problem compiling acquire_loc`, in the version 6 now it throws `Problem compiling create. Message: ERR unknown command 'script'` with `unique` and `lock`. It didn't work the first time, so I don't think I have to the delete jobs manually.

[2018-07-23 17:37] MaicolBen commented on #256
If you don't know what is the problem about, can I achieve the same behavior of `until_executed` with another one and a hack?

[2018-07-23 17:40] mhenrixon commented on #256
To me it looks like there is something off with your Redis installation somehow. Admittedly I have only tested on redis 4.0.10 but I've never seen any of the above errors. I'd need more details to help like what OS you are on? How did you install redis? What version of the redis gem? what version of the sidekiq gem?

[2018-07-23 17:44] MaicolBen commented on #256
sidekiq: 5.0.5
redis gem: 4.0.0
Mac OS High Sierra 10.13.6
redis server: 4.0.10 (installed with brew)

Remember that this only happens on the specs (test environment)

[2018-07-23 17:47] mhenrixon commented on #256
I know this sounds silly but would you mind uninstalling and then installing the redis server again? I just want to make absolutely sure that it isn't a borked installation.

How do you configure the REDIS_URL that sidekiq uses? Are you using different urls for testing and development?

[2018-07-23 17:55] EPecherkin commented on #76
This comparison doesn't work here. It is all about a vendor-lock, which it is always bad for a big business

[2018-07-23 17:58] MaicolBen commented on #256
It's happening in Circle CI (ubuntu) as well. The url was configured as follows:
[code]

I have the following configured in the rails helper:
[code]

And I have the `rspec-sidekiq` installed

What could differ between `while_executing` and `until_executed` in testing?

[2018-07-23 18:06] mhenrixon commented on #256
Ah! Did you see the section about testing in the README for v6? I recommend you do

[code]

You do not want to be testing uniqueness really.

[2018-07-23 18:35] MaicolBen commented on #256
yeah but I didn't know it wasn't in the 5 version, after adding that in v6 fixed the issue, thanks!

[2018-07-24 06:57] mhenrixon commented on #223
Since `v6.0.0.rc7` there are two ways of achieving this:

[code]

Both of these will get you the same result, one of them will push back the job 5 seconds and the other one will put the job on the retry queue. Let me know how that works for you guys.

[2018-07-24 06:57] #223 closed

[2018-07-24 17:47] #177 closed

[2018-07-25 20:44] mhenrixon commented on #293
@lephyrius @nocivus I've added a more convenient way of dealing with this situation using a custom tab for Unique Digests but I still haven't been able to create a scenario where your problem happens.

[2018-07-25 23:00] nocivus commented on #293
Hi Mika, don't sweat it. Ended up doing a database based :) locking
mechanism for my simple purposes :)

Thanks again!

Pedro

On Wed, Jul 25, 2018 at 9:44 PM Mika Hel <notifications@github.com> wrote:

[2018-07-27 14:35] #256 closed

[2018-07-27 22:07] aharpervc opened #303 "Question about until_timeout with 6.0.0"
Formerly with 5.0.10 I had a job that did this:

[code]

It's a little unclear but looking at the updated readme & pr's, the correct options in 6.0.0 is:

[code]

The goal is to have a job that will execute not more often than once a minute, given identical args. Eg,

[code]

Is that correct?

[2018-07-27 23:05] mhenrixon commented on #303
That is correct

[2018-07-28 11:04] mhenrixon commented on #303
Unless you have any other questions regarding this configuration I am going to go ahead and close this issue?

[2018-07-30 14:20] aharpervc commented on #303
I can't actually get things to work that way in real life.

Here's my repro. In a rails app, I added:

[code]

Then I ran `flushall` in redis to make sure I was working with a clean slate. Then I started sidekiq. Then in a rails console, I ran:

[code]

Per my above post, I would have expected the output to be

[code]

(or approximately... I'm not concerned about sleep being _exactly_ 1 second or

[2018-07-30 20:55] MaicolBen opened #304 "If the job dies, it doesn't remove the lock"
**Describe the bug**
This happens with `until_executed` because the job needs to be executed

**Expected behavior**
The lock should be released

**Current behavior**
The lock persists forever

**Additional context**
Gem version: 6.0.0.rc7

[2018-07-31 04:23] soundasleep opened #306 "ArgumentError: sidekiq_unique_jobs/web breaks sidekiq Retries page"
**Describe the bug**
If you add `sidekiq_unique_jobs/web` to routes.rb, the Retries page on Sidekiq no longer works. It crashes with the following trace:

[code]

It looks like the `filtering` helper you define is already in use with sidekiq.

**Expected behavior**
The Retries page doesn't crash when using sidekiq_unique_jobs/web.

**Additional context**
Latest sidekiq (5.1.3)
Latest sidekiq_uniqu

[2018-07-31 05:11] mhenrixon commented on #304
That is expected behaviour. You mean the job was retried any number of times configured like retry and not completing? I'll add info in readme how to deal with that.

[2018-07-31 05:25] mhenrixon commented on #304
See this section @MaicolBen https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/README.md#cleanup-dead-locks

[2018-07-31 05:26] #306 closed

[2018-07-31 06:10] #293 closed

[2018-07-31 15:06] aharpervc commented on #303
@mhenrixon any thoughts?

[2018-07-31 15:12] mhenrixon commented on #303
I’ll get back to you a little later. Currently dealing with some family business.

[2018-07-31 16:09] mhenrixon commented on #303
@aharpervc found the bug. The UntilExpired was missing some coverage unfortunately, I'll have it fixed shortly.

[2018-07-31 16:42] MaicolBen commented on #304
I can use `sidekiq_retries_exhausted`, but if I add`until_executed` lock, it doesn't enter to `sidekiq_retries_exhausted` code after moving it to the dead queue. This doesn't happen with `until_executing`

[2018-07-31 16:59] chadrschroeder opened #309 "Sidekiq Web Pagination Broken"
When there are more than 100 digests to display on the Sidekiq Web Unique Digests page, the following error occurs:

[code]

I think this is because the `@current_page` value is `nil`.  Sidekiq Web [expects this variable in its paging partial](https://github.com/mperham/sidekiq/blob/master/web/views/_paging.erb#L6):

[code]

Also, when are these unique digests purged?  They remain in Redis after m

[2018-07-31 17:05] mhenrixon commented on #309
Regarding the first question, should not be a problem with sidekiq/web as I am not paging it yet. Would be cool to know the exact line number it goes wrong.

Regarding the second question. They should be removed upon completion or when deleted from the sidekiq web extension. BUT... I found a bug, I try to delete the wrong ones. I'll have a fix for that shortly.

[2018-07-31 17:06] mhenrixon commented on #309
This line https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/redis/signal.lua#L12 should say: `redis.call('SREM', unique_keys, unique_digest)`

[2018-07-31 17:12] chadrschroeder commented on #309
For the first question, the issue is because `@count` defaults to `100` [here](https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/lib/sidekiq_unique_jobs/web.rb#L26) and that causes us to render the paging partial [here](https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/lib/sidekiq_unique_jobs/web/views/unique_digests.erb#L10).

[2018-07-31 17:14] mhenrixon commented on #309
Cool, I'll add support for pagination as well while I'm at it then. Thanks for reporting

[2018-07-31 17:14] chadrschroeder commented on #309
Thanks for the quick response.

[2018-07-31 17:43] MaicolBen commented on #304
Well after some time, I got that the callbacks calls with `retry: 0`, the documentation is outdated, the method is `del` instead of `delete_by`. But it seems the lock is somewhere because isn't fired again:
[code]

[2018-07-31 18:51] mhenrixon commented on #304
Ah yes! I put the wrong method in the documentation. Will update it in the next PR!

[2018-07-31 19:02] MaicolBen commented on #304
I did it on #311, do you know why is still locked if the digest doesn't exist anymore?

[2018-08-01 18:59] mhenrixon commented on #304
So I was looking into this @MaicolBen. It seems Redis is just not very reliable with the seconds. In my tests a sleep outside the map block seems to work fine but it is unreliable. You probably want something like 1 minute or so for the lock_expiration to make it more robust and reliable.

[2018-08-01 19:04] mhenrixon commented on #309
Should be fixed in `v6.0.2` @chadrschroeder! Thanks again for taking the time to report the issue.

[2018-08-01 19:04] #309 closed

[2018-08-01 19:28] aharpervc commented on #303
I updated to 6.0.2 but I'm still seeing the same output in my above test case... the first job is executed but all subsequent jobs are marked as dupes until flushing redis.

Are you getting something different?

[2018-08-01 21:27] mhenrixon commented on #303
I don't see that problem but I also don't attempt to use your `.map` version as it isn't a realistic scenario.

[code]

[2018-08-01 21:34] tommytcchan opened #313 "Why is lock_timeout: nil VERY DANGEROUS?"
I'm using a cron sidekiq plugin that schedules a job every 5 minutes, but I want that job to be unique (ie. only one instance ever is running at a time, so naturally I'm thinking of using `while_executing`. However, as per the comment here in the README:

[code]

I am seeing that later in the README it is using this configuration as an example:

[code]

It seems that the job is still running multi

[2018-08-01 21:39] mhenrixon commented on #313
Good question @tommytcchan. WhileExecuting only locks in the server process and when the server picks the job off the queue. This means that any other server processes that attempts to run a job that has the same unique digest will wait for however long you specified `lock_timeout` for. It there for appears to be allowing multiple jobs to run simultaneously but in fact the other processes only wai

[2018-08-01 21:44] tommytcchan commented on #313
Okay got it @mhenrixon -- I'll try out `until_and_while_executing` !

[2018-08-01 22:25] aharpervc commented on #303
Maybe I'm missing something. Your worker is using `:until_executed` whereas my problem case is with `:until_expired`.

In any case, I am interested in finding out what the proper options are to throttle job execution (by their args) so that they do not run often than the configured time period (1 minute in my original post, 3 seconds in our example workers).

Based on your example this is what I t

[2018-08-01 22:31] aharpervc commented on #303
I made a mistake but I'll leave it rather than editing it; I thought that `INFO: start` meant the job was executing but that's not the case.

Here's the sidekiq log with `warn "executed #{jid} with #{some_args}"` added to `perform`:

[code]

I think that means it's doing: execute, skip, skip, skip, skip, skip

[2018-08-02 13:09] mhenrixon commented on #303
Sorry if I confused you with `:until_executed`. For the client push it should not matter if it is until expired or until executed. The client just tries to achieve the lock. It doesn't actually remove any locks.

The lock gets removed from the server process after the expiration in the case of an expiring job. It gets removed when the job is successfully executed in the case of until_executed.

Co

[2018-08-02 14:04] aharpervc commented on #303
Okay, I have a new example that does not use `sleep`, in case that was affecting the expiration logic.

Not using unique args:

[code]

In `rails c` I just hit `up arrow` and `enter` once per second for a few seconds to re-run the perform_async on a cadence:

[code]

sidekiq:

[code]

The output is the same: execute, skip, skip, skip, skip, skip. I'm not super concerned about precise millisecond e

[2018-08-02 15:44] mhenrixon commented on #303
The weird thing is that expiration takes place in Redis and should have nothing to do with the sleep in the ruby layer. I am honestly baffled by the result of that. As far as I know with my pretty extensive experience the first `.map` example you had should work even if it isn't realistic.

I'll do some more digging on this one...

By the way, for this lock it would probably make sense to only add

[2018-08-02 15:56] mhenrixon commented on #303
You are totally right! A subsequent call with the same arguments prolongs the expiration. I'll see about getting that fixed @aharpervc!

Can't thank you enough for you detailed investigation ❤️

[2018-08-02 16:25] mhenrixon commented on #303
With the changes in #316 I now get the following:

[code]

[2018-08-02 16:25] mhenrixon commented on #303
Will release `v6.0.4` when the builds are done

[2018-08-02 16:52] #303 closed

[2018-08-02 16:58] mhenrixon commented on #303
Alright @aharpervc I released a version with the fix. You are looking for version `6.0.4` if you want this working properly. Thanks again for your contribution.

[2018-08-02 17:17] aharpervc commented on #303
Huge, I'll give it a look soon, thanks for working on this

[2018-08-03 06:14] #313 closed

[2018-08-06 21:36] ivanovv commented on #84
Hm, logging is good, but what if I want to notify the user that the action they have tried failed? I mean, checking returned `jid` is fine if it is the recommended way. But maybe there is another way to check?

[2018-08-07 06:56] thomey commented on #234
@mhenrixon With 6.0.4, when are the hashes supposed to be deleted? Immediately after unlocking? After upgrading sidekiq-unique-jobs and deleting all the hashes manually, we're still seeing hundreds of hashes being created and never deleted in our app, which eventually will cause OOM on our Heroku Redis...

[2018-08-07 07:02] mhenrixon commented on #234
@thomey can you be more specific, please? Sounds like your jobs are not being unlocked. There should be no leftovers anymore.

[2018-08-07 07:03] mhenrixon commented on #84
@ivanovv could you elaborate on your needs? It is possible to use the `sidekiq_retries_exhausted` for some things. Also, the `death_notifications` in sidekiq could be used for some things.

[2018-08-07 07:58] thomey commented on #234
Sure :)

[code]

All `sidekiq-unique-jobs` settings are defaults. We also added this according to the docs to see if it would help:

[code]

All the workers where we want locking we use the same lock mode:
`sidekiq_options lock: :until_executed, log_duplicate_payload: true`

Many of the jobs are recurring jobs using `sidekiq-cron`, running e.g. every 5 mins.

The locks seem to be released, as we c

[2018-08-07 08:49] mhenrixon commented on #234
could you post what keys are left? It is the extension I am after like what is after the last `:` `uniquejobs:arandomdigest:GRABBED`. Maybe I need to delete something that isn't used.

[2018-08-07 08:50] mhenrixon commented on #234
It would be nice to map this to the jobs in the scheduled set somehow. I'll see about finding orphaned locks for a next version.

[2018-08-07 09:03] thomey commented on #234
Almost all of them are `AVAILABLE`, `EXISTS` and `VERSION`:
`uniquejobs:UNIQUE_HASH:AVAILABLE`
`uniquejobs:UNIQUE_HASH:EXISTS`
`uniquejobs:UNIQUE_HASH:VERSION`

I also had two that are just `uniquejobs` and `uniquejobs:UNIQUE_HASH:GRABBED`

[2018-08-07 10:08] mhenrixon commented on #234
The keys you are mentioning are a combination of the keys needed for a successful lock. That they are there is a sign there is an active lock in redis which is nothing to worry about unless you have logs with level fatal saying. `"the unique_key: uniquejobs:randomdigest needs to be unlocked manually"`

[2018-08-07 11:48] ivanovv commented on #84
@mhenrixon sure!

We have a process that uses external API to buy a resource for a company. Company has many users and one resource. We don't want users to be able to start a buying process if there is already one scheduled or running. At the same time we would like to notify a user that their attempt to buy a resource has failed. Make sense?

[2018-08-07 12:02] mhenrixon commented on #84
Well if there is no jid returned then the job was most likely a duplicate and you could inform the user about the duplicate. Regarding how to do that exactly (I suppose you would like to mention what user is currently using the API) that is not something easily achieved with Sidekiq.

[code]

If you want to keep track of who checks out the API then I recommend to use some type real database where

[2018-08-07 12:05] mhenrixon commented on #234
Ah, I see what you mean @thomey. Right now the gem is signaling to release the locks but they are kept around unless expiration is set. I don't recommend you use `lock_expiration`. I'll see what is involved in hard deleting the locks instead. I guess the lua script should delete the keys if no expiration is set and set expiration on the keys if expiration is provided.

While I'm at it I will creat

[2018-08-07 13:45] ivanovv commented on #84
Thanks a lot @mhenrixon!
I don't really care about the user holding the lock, simple notification that the operation is in progress will be sufficient.

Will create a PR with changes to README later as it was quite a task to find that information in the repo :)

[2018-08-07 14:12] mhenrixon commented on #234
@thomey I just released v6.0.5 which deletes all the keys unless they are set to expire. Tell me how that works for you.

[2018-08-07 14:13] mhenrixon commented on #234
#317

[2018-08-07 15:30] thomey commented on #234
Looks good so far: all keys are deleted when unlocked. Thank you for the quick solution! 👍

[2018-08-07 23:20] soundasleep opened #319 "Unique UntilExecuted not working while the job is executing?"
**Describe the bug**
I have a unique job set up like with the following options:

[code]

I'm not sure how, but it seems in 6.0.5 this job can now actually run multiple times simultaneously. It was working fine in 5.x. Screenshot of Sidekiq UI:

![duplicate unique jobs](https://user-images.githubusercontent.com/3889656/43807494-ceceac70-9afc-11e8-9a81-d48627af9dc5.png)

The Sidekiq log:

[code]

*

[2018-08-07 23:39] soundasleep commented on #319
Never mind, this was due to a bug I had introduced in the UntilExecuted code (using `unless` instead of `if`).

[2018-08-07 23:39] #319 closed

[2018-08-08 14:32] smock commented on #261
This seems to still happen on version 6 when a worker process dies -- is that expected?  What's the recommended way to handle?

[2018-08-08 15:20] smock commented on #261
I do have the handler set up, and it works perfectly for jobs which generate an exception.  However, whenever I stop or start workers I see many messages like:

`FATAL: the unique_key: "som unique key" needs to be unlocked manually`

For further context, I don't retry jobs (but I do have retry set to 0 in sidekiq, not null, which triggers the death handler appropriately on exceptions), so I'm not

[2018-08-08 15:40] mhenrixon commented on #261
Thanks for the info @smock I'll add some coverage later today.

[2018-08-09 22:50] aharpervc opened #322 "Job never requeued after raising unhandled error with until_and_while_executing?"
This is with sidekiq 5.1.3 & sidekiq-unique-jobs 6.0.6

**Describe the bug**

It appears that if a worker throws an exception with `lock: :until_and_while_executing`, that it won't ever be re-queued.

**Expected behavior**

I'm not 100% on my expectations, but I think I would expect that the lock is released if the job fails, so it can be re-run later.

**Current behavior**

`TestWorker.perform_as

[2018-08-10 05:58] mhenrixon commented on #322
Unless you specify `retry: false` Sidekiq will retry your jobs 25 times. There is no way of really knowing where the job is without searching for it. If I removed the job and it was retried you would end up with infinite number of duplicate jobs because they would all be on the retry queue.

I believe that is a situation you would want to avoid so the locks need to stay in the case of an error. Mo

[2018-08-10 05:58] #322 closed

[2018-08-10 13:37] aharpervc commented on #322
As you can see, I did specify `retry: false`, so I am not expecting the job to be automatically re-run.

The case I'm concerned about is when a job throws an exception (due to external reasons), then the external reasons are fixed, and the job is resubmitted, but rejected (due to a lock?). I don't think the lock ought to be held if the job throws an exception in this case, because the implication

[2018-08-10 14:10] aharpervc commented on #322
Back on 6.0.6, I tried adding a death handler to manually clean up the job per your recommendation, however, it does not seem to be called when the job dies. (Should this be a separate GH issue?)

Here's my initializer, which I have confirmed is otherwise working. I expect to see something in the logs or my breakpoint hit, but nothing seems to happen.

[code]

[2018-08-10 14:28] mhenrixon commented on #322
@aharpervc it is not a regression it is a bug that got fixed. If you read my initial reply you would come to the conclusion that the only reason your scenario worked like you want it to in v5 was because any number of duplicates would be allowed in those same scenarios. The lock was ALWAYS removed even when it was retried meaning unlimited number of the same job could potentially execute simultane

[2018-08-10 15:07] aharpervc commented on #322
Ha, I'm never going to be mad about fixed bugs. I meant that in v6, `until_and_while_executing` keeps lock(s) even when not queued and not executing, which is different than v5 and that is very surprising. This is particularly concerning with `retry: false`, since sidekiq will not fire a death handler in that case.

I have a proposal; for `retry: false` and `lock: :until_and_while_executing`, inte

[2018-08-13 12:20] dbenjamin57 opened #323 "Removed default lock from workers?"
Hey, I just read the new documentation re the removal of the default lock from workers.
This sounds risky and wrong.

I am referring to this piece of the documentation:

This means that if a job is ever deleted from the queues (for any reason) or a user manually deletes a job from the queue - the key will be locked FOREVER. How can this be the correct solution?  I've never seen a locking system th

[2018-08-13 13:31] smock commented on #261
Just wanted to check in on this, any updates?

[2018-08-13 13:53] mhenrixon commented on #323
Glad you asked @dbenjamin57. First of all my apologies for your situation. In all honesty, this was something I did not anticipate. I really did my best to make sure it was a painless upgrade.

The default lock expiration was always set. This means that all jobs were locked from the second they are created until 30 minutes after creation. I had a ton of complaints because some people had extremely

[2018-08-13 14:04] mhenrixon commented on #261
@smock I did add some coverage and couldn't find any problem. The error message is generated from here: https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/lib/sidekiq_unique_jobs/lock/base_lock.rb#L102

What it means is that when the server is executing the workers `#perform` method it receives the exception `Sidekiq::Shutdown` which means the job was not done executing when we had to ab

[2018-08-14 08:30] erated commented on #323
Hey Mika, thanks for the detailed answer and good luck with the move!

You wrote the following:

I thought this is already what is happening when a job is completed (until_and_while_executing) ?

As I see it its very simple, unique jobs limits enqueue for a specific certain of default time which is highly likely to cover most cases and some people that have long running jobs (also us) can lock the

[2018-08-14 08:38] mhenrixon commented on #323
@dbenjamin57 @erated if you have any suggestions how to handle this change in lock expiration without causing people problems, I am all for just getting it done.

What I am afraid of an why I haven't done it yet is because people will all of a sudden expire their locks way later than they thought. How can I communicate this to the people who upgrade?

Upgrade note in the gem, readme, changelog? It

[2018-08-14 08:47] erated commented on #323
It was already a breaking change in v6 as default lock was half an hour and now its indefinite...

[2018-08-14 08:52] mhenrixon commented on #323
Fair point @erated I wish I had someone to pair with sometimes... I'll see about getting it done then. Can't make any promises on exactly when but it should be soon.

Sorry about the trouble and thank you all for the input.

[2018-08-14 13:08] erated commented on #323
no worries! Happy to help further. I'll try and get into the code a bit further this weekend and not just into the documentation.

[2018-08-14 22:00] adeubank commented on #261
@mhenrixon  To add some more context to this, somehow the jobs are never re-queued when Sidekiq is shutting down. Hopefully this is helpful.

It seems that my job with `lock: :until_and_while_executing` doesn't get re-queued correctly if it's in the middle of processing and the server shuts down. The worker that does not have any unique options gets re-queued just fine.

Here is what I have on the

[2018-08-14 23:50] mhenrixon commented on #261
According to all that I can find the job _should_ be pushed back on shutdown: https://github.com/mperham/sidekiq/blob/master/lib/sidekiq/manager.rb#L128 I haven't confirmed what is happening exactly. I think it might be that the first lock needs removal but I would have to add some test cases for this.

Will let you know what I can find!

[2018-08-16 11:58] tsauerwein opened #325 "Conflict strategy "update"?"
**Is your feature request related to a problem? Please describe.**
There is the new conflict strategy `replace`, which removes jobs with the same `unique_args` from the queue and adds a new job. The problem is that this new job is added to the end of the queue. In my particular case this might create a situation where the job for a particular entity will never be executed because it's always added

[2018-08-16 12:14] mhenrixon commented on #325
Hi @tsauerwein and thanks for the suggestion. This definitely sounds like a good addition, I'll take it into consideration.

[2018-08-16 13:31] tsauerwein commented on #261
I also had these errors today, when I made some existing queues unique. We are doing a rolling-update. So, while there were still some clients (without the unique configuration) pushing jobs, workers with the unique configuration were already trying to process these jobs. Once all clients and workers were running with the same configuration, the error did not pop up anymore.

I don't know if it's

[2018-08-16 14:41] mhenrixon commented on #261
I need to improve the logging...

[2018-08-17 16:14] mhenrixon commented on #261
It isn't an error. I am changing this to warning level because in most cases it is just a warning (sidekiq pushes the job back to the queue).

[2018-08-18 10:41] ivanovaleksey opened #326 "Confused with UntilExecuted documenation"
Hello, thank you for the awesome library!

I am going to use it in a project to ensure a uniqueness for slow & long running jobs.
While choosing a proper lock type for my case I noticed that documentation for `UntilExecuted` and `UntilExecuting` about unlocks seems to be the same though as I can see it should be slightly different.

https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/lib/

[2018-08-21 06:36] mhenrixon commented on #326
Sorry about that, looks like a sloppy paste @ivanovaleksey. I'll get it fixed, the until executing does indeed unlock before yielding to the worker.

I'm really happy that someone is reading the documentation though :) Means the effort of writing it wasn't all a waste.

[2018-08-21 08:04] #326 closed

[2018-08-21 17:20] mhenrixon opened #328 "Suggested configuration changes"
Been thinking a little on the way the worker is configured. There was a suggestion on how to rather than use the `UntilAndWhileExecuting` lock that two separately configured workers with different conflict strategies would be appreciated. The only two ways I can think of doing this would be something like below:

[code]

They both have their advantages and drawbacks. Personally I lean towards the

[2018-08-24 16:24] LouisLoode opened #331 "Number of retry on conflict reschedule"
First, thanks for your work :)
**Is your feature request related to a problem? Please describe.**
We have a worker how create or update one of our model with external webhooks, we want to reschedule once or twice the job, not more. Actually we have some of our jobs who have infinite looping in our sidekiq.

**Describe the solution you'd like**
Just permitte to define max retry for lock option :whi

[2018-08-28 16:01] joe-salomon commented on #274
@mhenrixon thanks for your work. Are these changes working in the latest v6.0.6 release? Thanks!

[2018-08-28 21:25] adeubank commented on #261
Just wanted to loop back around to this as I probably confused some of the options that are available in this gem with my specific worker requirements.

I have a specific worker that actually needed to be unique until it's executing (`:until_executing`) but only allow one to execute at a time. Until executing fails my specific requirement of only one executing at time. If my application enqueues a

[2018-08-29 07:46] mhenrixon commented on #261
@adeubank you don't need the extra gem. All you need to do is change your lock type to `lock: :until_and_while_executing`

[2018-09-03 09:39] dareddov opened #332 "Problem when job failed and is retrying"
**Describe the bug**

When a job is failed and goes to retry queue, then unique key is not being cleared.

**Expected behavior**

I think, the unique key should be cleared on failing jobs. If I'm wrong, let me know 👍

**Current behavior**

When the job failed and try retry we got an error: 'SidekiqUniqueJobs::Conflict: Item with the key: uniquejobs:a24c05f9d1e2933fc6e32640a3b06b4c:RUN is already s

[2018-09-03 10:03] mhenrixon commented on #332
This is not a bug it is a feature. Since you ask for uniqueness the gem provides it. If we didn't keep the lock you might end up in a situation where multiple jobs are executed at the same time.

[2018-09-04 18:07] skalb commented on #332
I'm seeing a similar issue happen to us after upgrading to version 6.

Is there a short term fix or config change possible here?

For now, I'm thinking of just adding a lock expiration since our jobs aren't long running.

[2018-09-08 10:46] mengqing commented on #196
Any reason why support for namespace has been dropped? We run our sidekiq server on a namespace and currently this doesn't work (eg: when specifying replace when on conflict, the existing job doesn't get replaced)

[2018-09-09 07:45] mhenrixon commented on #196
Partly because doing so means supporting a bad way of doing the Redis thing, partly because I am lazy.

- http://www.mikeperham.com/2015/09/24/storing-data-with-redis/

[2018-09-16 17:54] mhenrixon commented on #332
@skalb yes that is correct. That was my intention or duplicates would be allowed to run, but I am currently reconsidering this strategy.

[2018-09-16 17:55] mhenrixon commented on #331
Thanks for reporting @LouisLoode, I will consider this for the next patch release.

[2018-09-26 12:51] Benjamin-Dobell commented on #332
I'm on 6.0.6 and also seeing issues with locks never releasing, I'm using:

[code]

When the job fails due to a raised error, the lock is never released:

[code]

Thus all subsequent jobs are skipped with:

[code]

[2018-09-26 12:52] Benjamin-Dobell commented on #332
I should probably have noted, my job is specifically not _retrying_. So I think the scope of this issue is slightly larger than indicated in the title of this issue.

[2018-09-26 12:57] mhenrixon commented on #332
@Benjamin-Dobell this is a known issue. If you set to `retry: 0` you have less problems. You still need to clean up keys that are moved to the dead queue. See https://github.com/mhenrixon/sidekiq-unique-jobs#cleanup-dead-locks. The suggested solution does not work with `retry: false` for some reason.

[2018-09-26 13:54] Benjamin-Dobell commented on #332
Thanks for the tip, PR submitted:
https://github.com/mperham/sidekiq/pull/3980

[2018-10-01 22:13] macmartine opened #334 "lock: :until_and_while_executing not working for scheduled jobs"
**Describe the bug**
Duplicate jobs are getting run when scheduling jobs using perform_at

**Expected behavior**
When a job is scheduled to be run in the future, and a job with the same arguments gets called, it shouldn't be added to the schedule.

**Current behavior**
Duplicate jobs are added and run.

**Worker class**

[code]

The jobs are getting executed with:

[code]

[2018-10-04 13:53] slhck opened #335 ""payload is not unique", but cannot find digest or scheduled job"
**Describe the bug**

I am trying to schedule a job:

[code]

**Expected behavior**

I expect the job to be scheduled and executed.

**Current behavior**

The job is not scheduled; instead it returns:

[code]

When I filter the digests in the web view for `uniquejobs:07f59da973638b67cf8d63abaff6968c`, nothing is returned.

[code]

I also don't see it schedule:

[code]

**Worker class**

[code]

[2018-10-04 13:57] mhenrixon commented on #335
Interesting, I think every 1 second is not such a good idea with uniqueness but I have to try it out before I give a definite answer. It seems like anything below 5 seconds would be giving you shady behavior.

[2018-10-04 13:58] slhck commented on #335
Thanks for the quick answer. The `1.second` I did just for testing. It's not like I want to run this every second :)

I think I remember that the job initially crashed and I restarted Sidekiq after that, now something got stuck.

[2018-10-04 14:11] slhck commented on #335
Just for clarification: the job is supposed to run every hour. I only did the `1.second` for testing whether I can queue it. Running `.perform_async` also fails with the same error.

I already tried restarting Sidekiq and the web server.

[2018-10-04 14:16] mhenrixon commented on #335
https://github.com/mperham/sidekiq/pull/3980 this is related to your initial problem. You might want to change to `retry: 0` for now and add a death handler to prevent this issue. In the future sidekiq will treat `retry: false` the same way as `retry: 0` and call the death handler. See: https://github.com/mhenrixon/sidekiq-unique-jobs#cleanup-dead-locks

For now you should always get the same key:

[2018-10-04 14:17] slhck commented on #335
In the meantime I “fixed” it by deleting all `uniquejobs` keys from Redis. Seems to run again.

Thanks for your quick help, and good luck with the move!

[2018-10-09 08:59] guillaumedenece commented on #323
Some of our jobs are also getting locked forever.
We are using AWS elastic beanstalk with a CI / CD process. What I noticed is that when we push new code and automatically deploy it, our job get stopped. Since the retry option is set to false, the job never is retried but the digest still is present, resulting in an endless dropping of this particular job when enqueued.

We of course use that conf

[2018-10-09 18:36] mhenrixon commented on #323
@guillaumedenece see https://github.com/mperham/sidekiq/pull/3980#issuecomment-425140239 for more information. This has been changed in Sidekiq but you'd have to upgrade it. If you can't do that right now I suggest you change your `retry: false` to `retry: 0`.

[2018-10-09 18:37] mhenrixon commented on #323
Also @ketiko ☝️

[2018-10-10 06:50] software-project commented on #234
@mhenrixon The issue that @thomey described before reoccured. Now all the jods are EXISTS and GRABBED. Any idea why?

[2018-10-10 09:43] guillaumedenece commented on #323
Thank you very much for your help @mhenrixon !

[2018-10-10 15:12] gdgp opened #336 "Using :until_and_while_executing not yielding expected results"
Using sidekiq-unique-jobs 4.0.18, redis 3.2.4, sidekiq 4.2.10, rails 4.2.7.1, ruby 2.3.7.

According to my understanding (reinforced in [previous issue](https://github.com/mhenrixon/sidekiq-unique-jobs/issues/249)), when using the `sidekiq_options unique: :until_and_while_executing` I should be able to enqueue `Job A with arg X`, then if while it is enqueued I try to enqueue another `Job A with ar

[2018-10-16 13:38] #336 closed

[2018-10-18 09:20] rept commented on #334
I seem to have the same problem but with until_executed.

I'm running version 6.0.6 of the gem and have created a test job like this:

[code]

I use the whenever gem to plan to run this every 2 minutes, however, it should only queue or run this is it's not already queued or running.

Unfortunately it doesn't seem to do anything to prevent the double execution:

[code]

[2018-10-26 10:03] alexandrebini opened #337 "Using a different Redis instance"
Hi there,

Is there any way of using a different Redis instance for sidekiq-unique-jobs or does it really need to use `Sidekiq.redis`?

Thanks!

[2018-10-26 10:11] mhenrixon commented on #337
Would be a bit hard to use a separate instance. Some of what the gem does works with the queues directly using Lua.

[2018-10-26 10:21] alexandrebini commented on #337
@mhenrixon Alright, thanks!

[2018-10-26 10:21] #337 closed

[2018-10-31 04:12] everaldo opened #338 "Passthrough has been deprecated and will be removed in redis-namespace 2.0"
Please, update the gem to remove this warning

Passing 'script' command to redis as is; administrative commands cannot be effectively namespaced and should be called on the redis connection directly; passthrough has been deprecated and will be removed in redis-namespace 2.0 (at $HOME/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sidekiq-unique-jobs-6.0.6/lib/sidekiq_unique_jobs/scripts.rb:57:in `

[2018-11-02 02:43] mathieujobin opened #339 "lock remains after job not properly finish"
**Describe the bug**
We have had this issue with one specific job, where the unique lock would remain in redis after the job has crashed or did not finish properly

is this the intended behavior?

**Expected behavior**
the lock should be cleared after the job finish, regardless of the status

**Current behavior**
new jobs gets schedule and are discarded indefinitely

**Worker class**

[code]

**Ad

[2018-11-02 02:47] mathieujobin commented on #338
I recently noticed a similar warning got removed after PR #275 got merged.
maybe the method `script_sha` needs similar update

hope this helps

[2018-11-02 02:50] mathieujobin commented on #339
oh, this is exact duplicate of https://github.com/mhenrixon/sidekiq-unique-jobs/issues/332

[2018-11-02 02:53] mathieujobin commented on #339
reopening, I'd appreciate some insight as to know if `lock_expiration` or `lock_timeout` could help ?

[2018-11-04 09:31] mhenrixon commented on #339
Lock expiration definitely will help. The timeout is just how long we wait for a lock to be achieved

[2018-11-05 07:55] mathieujobin commented on #332
I think I will downgrade to 5.x until you figure this one out
it really does not work for us

[2018-11-05 13:14] pacoguzman commented on #338
I've just reached this problem through:

`redis-namespace` 1.5.2

[code]

After upgrade to `redis-namespace` 1.5.3

[code]

So based on the last warning message, I think it cannot be easily solved on `redis-namespace` as it seems it cannot be effectively namespaced, I wouldn't expect `redis-namespace` will remove that warning so I think it needs to be addressed on `sidekiq-unique-jobs`, I'm alread

[2018-11-05 22:49] kapso opened #340 "concurrent-ruby 1.1.1 is causing this gem to break"
[code]

[2018-11-06 15:07] Slike9 commented on #340
@kapso Seems your project uses https://github.com/railsconfig/config gem which defines `Config` constant in global space. The pr https://github.com/ruby-concurrency/concurrent-ruby/pull/776 fixes the problem.

[2018-11-06 20:48] aaronmtate opened #342 "Job will not enqueue even with no existing match"
I tried enqueueing several jobs. The uniqueness limitation worked for jobs that would enqueue at all. Others simply would not add to the queue no matter what. The enqueuing method would return nil. No other job with the same parameter existed in the queue at the time.

**Worker class**

[code]
[code]

We do use ActiveJob for most other jobs. My assumption regarding the mentioned incompatibility wa

[2018-11-08 22:22] #340 closed

[2018-11-13 05:50] mathieujobin commented on #339
thanks

[2018-11-13 05:50] #339 closed

[2018-11-13 14:34] chadrschroeder commented on #332
I also think that jobs in the dead queue should never prevent new jobs from being enqueued.

For example, say my worker class has a bug that crashes the job during the `perform` step and sends the job to the dead queue.  Then I deploy a fix and call `perform_async` from the console to try to re-enqueue it.  The behavior in version 5 is to re-enqueue and execute the job.  The behavior in version 6

[2018-11-13 14:42] chadrschroeder opened #345 "Version 6 Ignores Jobs Enqueued in Version 5"
When upgrading from version 5 to version 6, any jobs that were enqueued on version 5 are removed from their Sidekiq queues and marked as processed in the Sidekiq log but they aren't actually executed.  I think this is because the `GRABBED` key doesn't exist on the jobs that were enqueued on version 5 and SidekiqUniqueJobs silently exits before yielding to the worker.

If possible, it would be nice

[2018-11-13 17:11] tahanson commented on #328
My vote would be something like your first suggestion. Maybe something like this:
[code]
I assume this change would mean only 3 types of locks are needed?
(`until_executing`, `while_executing` and `until_executed`)

What about changing the lock names?
* `while_queued` (formerly `until_executing`)
* `while_queued_and_executing` (formerly `until_executed`)
* `while_executing` (same as before)

[2018-11-13 17:44] chadrschroeder opened #346 "Version 5: Job ID Hash Entries Not Removed if Unique Key Expires"
Job ID entries in the `uniquejobs` hash are not removed if the job is picked up after the `unique_expiration` time has passed.

To recreate the issue:

1. Stop Sidekiq.
2. Set up a worker with a test expiration that is verify small like `unique_expiration: 10.seconds`.
3. Submit a job.  This will produce a `uniquejobs:85d...` key and an entry in the `uniquejobs` hash.
4. Wait 10 seconds for the `u

[2018-11-13 18:02] mhenrixon commented on #328
Great suggestions @tahanson ! I'm so glad I've awaited some feedback on this

[2018-11-14 20:33] mhenrixon commented on #345
I actually have tests saying this should work but it is pretty hard to to test this in an automated way. Have a look at: https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/spec/integration/sidekiq_unique_jobs/legacy_lock_spec.rb I even kept some of the old files to make sure the transition is smooth (and that I can create the same locks as v5 did). Any ideas what I am missing?

[2018-11-14 20:37] mhenrixon commented on #342
It is super difficult to say exactly what is going wrong. There are a lot of different factors that could contribute to this.

I take it you are on a rails project?
Which environment is this happening for?
Which redis version are you on?
Which sidekiq version?
Which redis driver version?
Are you running in containers?
Is the REDIS_URL the right one?
Is the worker actually processing the right queu

[2018-11-16 13:04] jwg2s commented on #342
@mhenrixon gotcha - was just one thing we're doing but otherwise were experiencing the exact same issue @aaronmtate describes. We recently upgraded to 6.0.6 (2 days ago) and noticed that in many cases, the jobs for these users had not run for exactly the amount of time since the upgrade.

I don't want to hijack this thread if our circumstances are different @aaronmtate - have you recently upgraded

[2018-11-19 05:01] mathieujobin opened #349 "Version 5&6: uniqueness not respected for Job without params"
**Describe the bug**
We just found out a job without any params would be allowed to run concurrently
although we have the following options enabled

**Expected behavior**
jobs without argument with unique constraint should not run concurrently

**Current behavior**
we had jobs running concurrently

**Worker class**

[code]

**Additional context**

I will try to come up with a better example to rep

[2018-11-19 06:12] mathieujobin commented on #349
Added this
[code]
no changes

12 minutes of processing within 6 minutes timeframe

![image](https://user-images.githubusercontent.com/99191/48689374-95fe4880-ec0d-11e8-9899-0bbb9a4b0701.png)

[2018-11-19 06:40] mathieujobin commented on #349
switch the lock type to

[code]

[code]
it ran concurrently as many time as I ran it...

![image](https://user-images.githubusercontent.com/99191/48690302-4d488e80-ec11-11e8-9dcc-2eb7aac29137.png)

[2018-11-19 09:47] mathieujobin commented on #349
I tried adding the unique_args method call back and a lock expiration.

jobs still runs in parallel

[code]

looks like the lock holds for 1minute, then 2nd job starts, I can't queue 3rd right away, but about 90 seconds after scheduling the first two, I can schedule one more, which will start exactly 2 minutes after the first one

![image](https://user-images.githubusercontent.com/99191/48698868-8

[2018-11-19 10:01] mathieujobin opened #350 "getting a crash using lock_expiration on v6.0.6"
**Describe the bug**
trying to find a solution for #349
decided to give v6.0.6 another try

and I me hitting a crash using lock_expiration and calling with `perform_async`

[code]
 "error_message": "no implicit conversion of Fixnum into String", "error_class": "TypeError", "processor": "venuenext-dev-loyalty-i-067aa11d2edb2503c:15812", "failed_at": 1542621305.267033, "error_backtrace": [ "/var/lib

[2018-11-19 19:52] mhenrixon commented on #345
Are you guys using redis namespace by any chance?

[2018-11-19 20:02] mhenrixon commented on #346
Released as v5.0.11

[2018-11-19 20:02] #346 closed

[2018-11-19 22:00] mathieujobin commented on #349
![image](https://user-images.githubusercontent.com/99191/48737449-6133d500-ec91-11e8-9b2f-7e21a69301ca.png)

for the sake of completeness it behaves as expected with 6.0.6, but we're afraid to hit that problem described in #332

[2018-11-19 22:21] mathieujobin commented on #349
confirmed, perform without params or unique_args callback will ignore unique lock

[code]

runs as many jobs in parallel as I scheduled them
on 6.0.6

[2018-11-19 22:31] mathieujobin opened #351 "Version 6: lets you schedule job with missing arguments"
**Describe the bug**
when perform as required arguments, sidekiq normally returns an error when calling `perform_async` without any arguments, this is no longer the case with sidekiq_unique_jobs 6.0.6

**Expected behavior**
the `ArgumentError` should be raised in the process calling `perform_async`

**Current behavior**
jobs is sent to sidekiq to crash.

**Worker class**

[code]

[2018-11-20 00:20] mathieujobin commented on #349
problem is caused by run lock timeout, which we can override

[code]

[2018-11-20 00:20] #349 closed

[2018-11-20 10:43] mhenrixon commented on #351
This one is interesting, I thought I had tests for this. Would it be possible for you to provide a failing test for this?

[2018-11-20 10:49] mhenrixon commented on #342
Are you also using redis-namespace @jwg2s? The gem don't officially support redis namespace anymore. I removed it to be able to make the locking more reliable. Version 5 allowed too many duplicates to be processed and version 6 is way more strict. I needed to remove the test extensions, redis mock dependency, active job support and redis-namepsace support to achieve reliability. Now the error is o

[2018-11-20 14:10] aaronmtate commented on #342
Ah, that might explain it, then:
[code]
I'll see if I can stick with version 5 to at least get everything queued, even at the risk of an occasional duplicate job.

[2018-11-21 15:58] mensfeld opened #352 "First job never unlocks the lock / Endless waiting"
**Describe the bug**

I have a simple worker (as presented below) that I run in the following way within the example app context):

1. I start the `rails s` to see sidekiq and I see empty queues (`flushall` just in case)
2. I run the `rails c` and run following command: `10.times { BlockedWorker.perform_async }`
3. I start sidekiq with `bundle exec sidekiq`

**Expected behavior**

I expect jobs to

[2018-11-21 20:15] chadrschroeder commented on #345
No, we aren't using redis namespace.

In version 6, when I call `perform_async` the client middleware asks the `SidekiqUniqueJobs::Locksmith` to lock the job.  This runs `touch_grabbed_token` which sets the `GRABBED` key.  The `GRABBED` key must be present in order for `locked?` to be true and for the job to run:

[code]

But version 5 didn't set this `GRABBED` key when `perform_async` was called.

[2018-11-23 01:06] ramontayag opened #353 "Pinpointing issues with unique digests not being removed"
I noticed that there are some unique digests that remain even after all the jobs are done running. I'm looking for help -- could you point me to the right direction to figure out what may be causing this?

Scenario:

I'm using this with [sidekiq-cron](https://github.com/ondrejbartas/sidekiq-cron) to enqueue jobs at fairly rapid pace (quickest is every 5 seconds). Sometimes, the jobs take longer th

[2018-11-26 11:58] mensfeld commented on #352
The specs fail but when the `LPUSH` in `unlock.lua` is moved as the last element:

[code]

things seem to work fine.

[2018-11-26 14:51] jwg2s commented on #342
Yep that is likely the culprit, we're using redis-namespace as well.

Would would go into supporting that? If you could point me in the right direction, high level, I could attempt a PR

[2018-11-26 16:01] mhenrixon commented on #342
@jwg2s @aaronmtate I think it might be in master already. I received some PR for this a while ago. Not sure if it solves all the problems and to be honest I've not even sure it is possible to solve all problems but we can try. I'd love to support redis-namespace if people want it but this is actually the first time anyone misses it. Been years since I dropped it if I am not mistaken.

[2018-11-26 16:01] mhenrixon commented on #342
I was mostly removing things to be able to get the uniquness reliable at the time.

[2018-11-28 18:02] jwg2s commented on #342
@mhenrixon could you point us to that PR? I couldn't find anything or anything in the master code that indicates it's been addressed, but I could be missing it.

This is definitely a critical problem for us and since redis-namespace is pretty popular, compatibility would provide a pretty big benefit to the community.

[2018-11-28 18:12] scottrblock commented on #342
@mhenrixon I'm working to solve the same problem @jwg2s described. Would configuring the initializer to clean dead locks as described in https://github.com/mhenrixon/sidekiq-unique-jobs#cleanup-dead-locks fix the problem:

[code]

[2018-11-28 19:38] mhenrixon commented on #342
Indeed @scottrblock especially if you are on a newer sidekiq version. If your sidekiq isn't the latest and greatest make sure your use `retry: 0` instead of `retry: nil`. In older sidekiq versions `retry: 0` would allow death handling but not false or nil. This has been addressed in later sidekiq versions.

[2018-11-28 19:39] mhenrixon commented on #342
@jwg2s https://github.com/mhenrixon/sidekiq-unique-jobs/pull/348 was someones contribution to help with redis-namespace.

[2018-11-29 16:14] mhenrixon commented on #352
Of course! Nice find @mensfeld and many thanks for the detailed investigation. I will cut a new version right away. Just have a couple of tests to fix first!

[2018-11-29 16:15] mensfeld commented on #352
Anytime. It seems the `LPUSH` and `DEL` just after conflict with the unlocking on the `BRPOP`

[2018-11-29 16:16] mhenrixon commented on #352
Indeed! Can't believe I didn't see this until you pointed it out! No wonder people have been complaining

[2018-11-29 16:18] mensfeld commented on #352
This is interesting anyhow as it seems to be a problem with the LUA library (or ruby client) because when I do the same directly from `redis-cli` things work. That is I do a blocking pop and then I do a lpush with a del after within a single executioin flow and the `brpop` gets unlocked.

[2018-11-29 16:19] mhenrixon commented on #352
Yeah, they still haven't managed to make this super smooth. If we use the ruby layer on the other hand performance suffers greatly. It is a fine balance between performance and reliability. I had other similar situations as well

[2018-11-29 17:05] #352 closed

[2018-11-30 20:23] fabioperrella commented on #353
I think I have a similar issue. In production, some jobs are locked forever. Looking at redis, it seems like some keys are not being deleted, example:

[code]

After removing these keys and running perform again, the job is processed!

[2018-11-30 20:40] fabioperrella commented on #342
@mhenrixon what about adding a note in README about not using the gem `redis-namespace` because it is not supported? I could send a PR with this.

[2018-11-30 20:42] mhenrixon commented on #342
I thought it was in there @fabioperrella... I used to have a section in the readme about redis-namespace. Was I dreaming that? So weird...

[2018-12-01 11:34] fabioperrella commented on #353
I'm using the redis-namespace gem. I will try to remove it to see if the problem is resolved.

[2018-12-04 18:29] glister opened #355 ":until_and_while_executing not processing queued jobs after executing"
**Describe the bug**
Job takes ~15 seconds to complete

1) T-0 - Queue job with params `ABC`
2) T-5s - Queue job with params `ABC`
3) T-10s - Queue job with params `ABC`

**Expected behavior**
- First job immediately starts
- Second job queues but doesn't start
- Third job doesn't queue
- Second job starts after first job completes

**Current behavior**
Each job starts as soon as queued, job 1 act

[2018-12-05 11:05] fabioperrella commented on #353
After upgrading from 6.0.6 to 6.0.7 the problem was fixed for me!

[2018-12-05 13:53] mhenrixon commented on #353
Yes exactly! Thanks for confirming @fabioperrella, I should go through the rest of the issues and close them too! Close by `v6.0.7`

[2018-12-05 13:53] #353 closed

[2018-12-05 13:55] mhenrixon commented on #355
This should be fixed by `v6.0.7`, let me know how the new version is working out for you.

[2018-12-05 13:56] mhenrixon commented on #342
This should be fixed by `v6.0.7`, let me know how the new version is working out for you.

[2018-12-06 17:23] scicco opened #357 "Delete all locks button"
**Is your feature request related to a problem? Please describe.**
I'm still experiencing locks and jobs that stops being scheduled.
I've updated the gem version to 6.0.7 but I'm still seeing the count of uniquejobs raising time after time.
I usually check with this:
`redis-cli --scan --pattern 'uniquejobs:*' | wc -l`

**Describe the solution you'd like**
I'm currently cleaning my environment perf

[2018-12-07 10:58] fabioperrella commented on #357
After updating from 6.0.6 to 6.0.7 I feel there are fewer problems comparing with the previous version, but I keep seeing locks stuck in Redis. I think it is something related to scheduled  + retry queues + failures.

For example, we have a worker A which enqueue other workers B. These workers B can re-enqueue it selves to run again after 1min if they are in a pooling state, and sometimes these jo

[2018-12-10 11:54] fabioperrella opened #358 "Strange behavior using strategy "reject" with "until_executed""
Using the version 6.0.7, I think it is only possible to use the strategy `on_conflict: :reject` with `lock: :while_executing`.

But I was trying to use it with `lock: :until_executed` and I expected when trying to schedule the same job again, that this jobs would be not enqueued, but it is!

Example (with sidekiq not running):
[code]

But when looking in sidekiq web http://localhost:3000/sidekiq/q

[2018-12-10 12:10] mhenrixon commented on #358
Reject is incompatibel with while executing. It has been documented both in readme and in the wiki. Reject only works from the client. WhileExecuting doesn't perform any locking when the client runs only while the server picks it up for running so this would be expected behavior.

[2018-12-10 12:10] #358 closed

[2018-12-10 15:36] fabioperrella commented on #358
I think you wanted to say `is compatible`, ins't it?

@mhenrixon ok, so it is not a bug!

But do you think it would be possible to add a feature to reject the enqueue of a new job which is already enqueued?

Is this a bad idea?

In my app, there is a worker in crontab to retry the jobs which didn't finish and this worker is enqueueing the same job many times if this job is already in sidekiq queue

[2018-12-10 19:12] mhenrixon commented on #358
Sorry, I was confused!

There isn't really a need to reject jobs when the client middleware runs @fabioperrella. The default behaviour of UntilExecuted is that a lock will be attempted and if a lock can't be achieved the job won't be put on the queue. I can't remember exactly from the top of my head but I think WhileExecuting crashed with time out error in some cases and this allows the job to sil

[2018-12-13 10:51] scicco commented on #357
Hello @fabioperrella I have the same behaviour:

[code]

[2018-12-14 18:46] axlekb commented on #331
I'm experiencing something very similar to this with:
`sidekiq_options lock: :until_and_while_executing, on_conflict: :reschedule` just not working at all.

When I run `5.times { MyThreeSecondJob.perform_async(my_param) }`, I have ended up with 116 (!?!) new scheduled jobs that are stuck because there is a digest that seems to never get removed.

Might have something to do with the original call (

[2018-12-15 20:06] jagthedrummer commented on #357
I'm seeing this same thing.

[2018-12-17 22:08] zvkemp opened #359 "(6.0.7) `uniquejobs:{digest}:AVAILABLE` keys never expire"
**Describe the bug**
`uniquejobs:{digest}:AVAILABLE` keys never expire. Given an unbounded set of unique arguments, this will fill up redis.

**Expected behavior**
In version 6.0.6, these keys don't outlive the execution of their jobs.

**Current behavior**
`AVAILABLE` keys are not cleaned up (introduced in https://github.com/mhenrixon/sidekiq-unique-jobs/pull/354).  If there's a purpose to persis

[2018-12-18 10:11] mainameiz opened #360 "Low quality peace of shit"
I just started an upgrade from v3 to latest version in my project and can't find anything useful from changelog or readme.

---

From [Changelog](https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/CHANGELOG.md#v400)

[code]

What was broken between v3 and v4? What was changed?

---

Which parameters are passed to `unique_args` proc/method, just job arguments or worker_class+queue_name+ar

[2018-12-18 10:53] mainameiz commented on #360
Could you follow suggestions about changelog written [here](https://keepachangelog.com/en/1.0.0/) and improve the readme file?

[2018-12-18 21:17] lichtamberg commented on #332
I'm also experiencing this bug, but with version 5.0.10, didn't have time to try out the newest version until yet.

For us it would be absolutely necessary, that a newly enqueded worker performs again, cleaning up the locks manually is major bug for us.

[2018-12-19 09:04] lichtamberg commented on #342
As far as I saw it, there is no mention of redis-namespace.

It would be also nice to display a warning on server startup, if both gems are loaded?

[2018-12-26 17:54] andrewls commented on #357
+1

[2018-12-29 14:18] mainameiz opened #361 "Infinite lock using until_and_while_executing after sidekiq restart"
**Describe the bug**
`until_and_while_executing` does not on sidekiq restarts.

**Expected behavior**
I expect that job will be retried when sidekiq started after normal restart.

**Current behavior**
There are some lock keys in redis that prevents job from being retries.

[code]

**Worker class**

[code]

**Additional context**

Jobs are enqueued using `perform_async`.

`config/initializers/sidek

[2018-12-29 15:55] blarralde commented on #361
Confirming that jobs sometimes get stuck in locked state even after the last update.

[2019-01-03 15:54] henrik commented on #360
@mainameiz Wow, that's a very rude issue title. May I suggest you rephrase it?

Please realise that maintainers don't owe you anything. If I was the maintainer, I would go out of my way not to help someone if they expressed themselves this way.

[2019-01-03 15:57] henrik commented on #359
+1. I just came here to report the same thing. Our Redis on one project ran out of space, and literally 98.6 % of the keys are "uniquejobs:…" :)

[2019-01-05 11:00] Laykou opened #362 "Automatic unlock of jobs"
**Is your feature request related to a problem? Please describe.**
When sidekiq process is killed (SIGKILL) everything stays as-is in Redis. Sidekiq has mechanism of heartbeats to check if processor is still running or not. The same should apply for the unique jobs.

**Describe the solution you'd like**
I suggest some job that would periodically (e.g. every minute) check whether the *unique digest

[2019-01-09 08:58] Laykou opened #363 "Unique args in combination with sidekiq cron contains `_aj_symbol_keys`"
**Describe the bug**
When used together with [sidekiq-cron](https://github.com/ondrejbartas/sidekiq-cron), the hashes may include `_aj_symbol_keys` keys which then confuses `unique_arg` method.

**Expected behavior**
The job to be executed.

**Current behavior**
The job was created. I can see the unique digest is created and also [sidekiq-status](https://github.com/utgarda/sidekiq-status) creates

[2019-01-09 11:16] Laykou commented on #363
My workaround is:

- recursively stringify all the keys and values (because that's what deserializer can take)
- deserialize (which removes these ActiveJob keys)

[code]

[2019-01-10 15:40] jwg2s commented on #359
We're also seeing this - our total redis key count has been steadily rising since upgrading to v6.0.7

[2019-01-10 16:23] henrik commented on #359
@jwg2s Deleting the keys immediately might mean the plugin doesn't do what it should, i.e. doesn't ensure jobs are unique. Though I don't know if these specific keys are used for that.

What we did was something similar but instead set an expiration on the keys, e.g. `$redis.expire(key, 8.hours)`. Our Redis on that server (a staging server) uses the volatile-lru strategy when hitting max memory, s

[2019-01-10 18:03] jwg2s commented on #359
@henrik good point - I've updated my script in my comment to use that strategy instead

[2019-01-10 18:15] vitalinfo commented on #359
@jwg2s great workaround!

will be good to know why these keys are stuck in the redis?

[2019-01-10 18:46] mhenrixon commented on #359
The available key becoming available is crucial for new jobs to be able to be scheduled. Them living on forever is most likely a terrible side-effect. Fix one bug (jobs can be scheduled properly) and cause another (redis grows out of proportion).

They could be created/added with an expiry. The problem is when using Luna is that it _might_ be that the `LPUSH` needs to be last.

[2019-01-10 18:59] vitalinfo commented on #359
@mhenrixon what do you think, is it possible to fix, or we should leave with workaround that @jwg2s proposed?

[2019-01-10 19:17] mhenrixon commented on #359
I'll try something tomorrow morning @vitalinfo. Will keep you guys posted

[2019-01-10 19:56] mhenrixon commented on #362
This has been discussed to death (pun intended). There is absolutely nothing the gem can or should do about this. If the job is back in redis it should still be considered unique because it will be retried.

- https://github.com/mperham/sidekiq/pull/3980#issuecomment-424825264
- https://github.com/mhenrixon/sidekiq-unique-jobs/issues/353
- https://github.com/mhenrixon/sidekiq-unique-jobs/issues/14

[2019-01-10 19:56] #362 closed

[2019-01-10 19:58] mhenrixon commented on #362
If you feel like having a scheduled job to clear out jobs it is all on you :) I might create a better functionality for finding and clearing such jobs manually in the future but there needs to be manual intervention here. This is what Mike Perham does with the pro and enterprise versions of sidekiq.

[2019-01-10 21:53] #359 closed

[2019-01-10 21:57] mhenrixon commented on #359
Released with v6.0.8 @vitalinfo @jwg2s @henrik @zvkemp

[2019-01-11 09:18] henrik commented on #359
@mhenrixon Thanks so much ❤️ Would you recommend we do anything to expire existing keys, or will those automatically be handled when the gem is updated?

[2019-01-14 12:55] jchatel commented on #360
Nice, definitely someone with anger issues. But he probably didn't understand what it meant since he wrote Peace instead of Piece 🤣

[2019-01-15 04:34] jwg2s commented on #359
@henrik I updated the script to use `5.seconds` as well, so it should match the new behavior found in v6.0.8.

[2019-01-15 07:07] henrik commented on #359
Hm, that should be fine if locks aren’t needed for longer than 5 seconds. If one has much longer-running jobs then I guess there’s a risk that would stop locking those prematurely – assuming this key is important to keeping things locked. I think each person running it will need to figure out what expiry makes sense for them :)

I assume the lib only sets a 5 sec expiry after a job is done and the

[2019-01-23 03:20] jpatters opened #365 ":while_executing not working as described"
**Describe the bug**
When using `:while_executing` multiple jobs with the same arguments are running at the same time

**Expected behavior**
Only one job should be running

**Current behavior**
Multiple jobs are running

**Worker Class**
[code]

**Additional context**
To test this I have 2 sidekiq processes running with a concurrency of 1 each.

[code]
Watch the queue times on the busy page.
jobs

[2019-01-23 03:51] jpatters commented on #365
I've just tested a single process with concurrency of 2 and the result is the same.

[2019-01-23 21:22] BagpipesJohnson commented on #357
Also dealt with this. Had to go onto Redis and delete the keys myself before I was able to move on.

[2019-01-24 18:18] blarralde commented on #359
Unfortunately that doesn't seem to have fixed it. 1 week after updating the gem there are 200k uniquejobs keys in our redis.

[2019-01-24 18:31] blarralde commented on #359
Yes workers do restart a lot as we scale them up and down. They're scaled down only after jobs are done though so they should have time to clean up the queue?

[2019-01-24 20:17] mhenrixon commented on #357
I'll make it happen sometime soon!

[2019-01-25 10:40] lairtonlelis commented on #351
Sidekiq never had that behavior. `perform_async` doesn't raise `ArgumentError`, even when called with a different number of arguments. The error actually occurs when the job is executed and `perform` is called.

[2019-01-29 11:06] elliotb commented on #361
We're also seeing this issue after upgrading from 6.0.4 to 6.0.8. Jobs (with `until_and_while_executing`) will enqueue for the first time, but then queueing them again with `perform_async` returns nil even after they have finished executing.

It seems that when this occurs, `SidekiqUniqueJobs::Digests.all` returns an empty array, but `Sidekiq.redis { |r| r.keys }` returns many keys prefixed with `

[2019-02-07 18:09] john-denisov commented on #360
@mainameiz You need to have a *piece* of mind :trollface:

[2019-02-08 11:42] collimarco opened #368 "Prevent memory leaks (many locks stay in memory)"
This is more a question than a real bug report. The problem is that we were investigating a high memory usage of Redis and we found that more than 90% of the keys (~15M) were:

    uniquejobs:abcd...efgxyz:AVAILABLE

And most keys were without a TTL. I can't say if the keys were leaked now or in an old version.

However I have a question... **In order to avoid all these memory leaks in the future,

[2019-02-08 14:38] collimarco commented on #368
Now I have deleted all the `uniquejobs:*` keys. What I have noticed is that although I set  `lock_expiration` (see example above) the following keys are created in Redis **without a TTL**:

    uniquejobs:abcd...efgxyz:GRABBED

Is that normal? **Can you consider settings an expiration (TTL) also on those keys?** I think that setting a TTL for all keys is a good practice to protect against (expensi

[2019-02-08 18:12] mhenrixon commented on #368
I'll slap something together this weekend! Thanks for reporting

[2019-02-08 20:38] interlinked opened #369 "Can a duplicate queued job be completely deleted (not moved to Dead)?"
I may be misunderstanding how this gem works (which is quite likely :-) ), but I'm wondering if this is possible:

I'd like any queued jobs that are duplicates to simply *disappear*...completely deleted.  Is that possible, or do they have to go into the Dead "queue"?

[2019-02-08 23:09] mhenrixon commented on #369
Dead queue is only used by the death handlers. What you are asking for is how it is supposed to work! 🤓

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-08 23:34] interlinked commented on #369
Got it @mhenrixon, thanks.  I guess I was hoping that this gem would prevent duplicate jobs from being queued _at all_.  I coded something like that in the past, but it was messy.

[2019-02-09 09:35] mhenrixon commented on #369
Just like you are writing; the job won't end up in the queue at all. It will just be silently dropped if the client middleware finds out the job isn't unique.

[2019-02-10 07:57] #357 closed

[2019-02-13 12:01] #369 closed

[2019-02-13 17:41] ZhekaV commented on #368
I have the same issue.
Sometimes not all keys removed from digests array, after a couple of days thousands of keys in this array.

As a temporary workaround, I made the next in workers
[code]
i'm not sure will it help in my case or nor, but i'll keep an eye on digests array now.

If somebody knows a better solution - please let me know.

[2019-02-13 21:41] ZhekaV commented on #368
I think I know what was the problem in my case.
There was a queue with enqueued jobs in it, queue was deleted, but the key was not removed from SidekiqUniqueJobs::Digests.

If it's possible - then sorry for disturbing.

[2019-02-13 22:05] mhenrixon commented on #368
@ZhekaV unfortunately I think it would be really hard to detect that but I’ll have a look at it. Thanks for letting me know. Those comments are gold for me.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-14 16:46] interlinked commented on #369
Hey @mhenrixon, thanks for the quick responses, by the way...

I just want to flog this "dead horse" one more time.  I forked this repo, and then made the following commit, which removed the code that puts the duplicate job into the Dead Queue: https://github.com/interlinked/sidekiq-unique-jobs/commit/8f4d18fd165243b86ffc28098d4e50468191a87e

Is this something that might be useful as another on-co

[2019-02-14 18:50] mhenrixon commented on #369
I really don't want to come off as rude or anything @interlinked but the code you linked to is pointless. If you don't want any conflict resolution you don't have to do anything and the job will just be rejected. on conflict rejected is there for that specific purpose (to move the code to the dead queue.

If you rather just drop the job - don't use a conflict resolution.

[2019-02-14 18:57] interlinked commented on #369
Sorry (and thanks for the response).  I thought conflict resolution was required for the gem to work.  That's exactly what I was looking for.  I just didn't understand.

[2019-02-18 05:12] lcpriest opened #372 "Unsure of sane defaults"
This might be a stupid question.

Is there a recommended default_worker_options for sidekiq-unique-jobs?

I've been testing a few different strategies and I'm still not sure what is the best strategy.

I have a bunch of jobs that should not be run at the same time, but can be run one after the other as there is some idempotency built-in. I have other jobs that run every day (fetching data from API

[2019-02-18 06:51] mhenrixon commented on #372
Great question @lcpriest ! This question just made me realize I totally approached the whole README wrong. Examples like you requested would have been a better README than what it currently is.

It is so individual, for most jobs I’d say while executing is the most appropriate but unfortunately it behaves seemingly weird. Since the lock is handled as the server is processing the job and not when t

[2019-02-18 07:09] lcpriest commented on #372
I really appreciate the in-depth response!

Totally reasonable, more often than not you get tickets from people with edge cases, so you will write a README that gives as much detail as possible.

I have currently settled on  until_executed, though I think I will need to regularly wipe out the unique keys as I have had instances of keys remaining in Redis after the job has long finished. I assume t

[2019-02-18 07:09] #372 closed

[2019-02-18 14:33] ZhekaV commented on #368
Something is definitely wrong here:

[code]

[code]

Job enqueued:

[code]

[code]

[code]

Job is done:

[code]

But key still in Redis:

[code]

But digests is blank in Sidekiq UI and here:

[code]

Anyway job will not be enqueued any more:

[code]

Then if try to delete this digest from console:

[code]

It works again:

[code]

But not for long because key is there again.

[2019-02-24 20:05] mhenrixon commented on #368
Thanks for the reports @ZhekaV and @collimarco I will get this fixed tonight!

[2019-02-24 21:51] mhenrixon commented on #338
You'd have to give me more information for me to help you on this @pacoguzman @everaldo. That line doesn't provide enough information for me to act.

[2019-02-24 21:54] mhenrixon commented on #342
http://www.mikeperham.com/2015/09/24/storing-data-with-redis/ I'm happy to review and merge any PRs on the redis-namespace topic. Just don't have the capacity to dig into it at the moment.

[2019-02-24 22:04] mhenrixon commented on #365
The thing is that the while_executing lock is 100% while the server is processing the job. The other jobs lock when the client pushes the job (before it is picked up by the server process).

Given your configuration you risk locking each worker for 1200 seconds that happens to pick up your job. Since you allow the server process to wait for 1200 seconds before considering it a failure to create th

[2019-02-24 22:09] #342 closed

[2019-02-24 22:09] #355 closed

[2019-02-24 22:09] #361 closed

[2019-02-24 22:09] #368 closed

[2019-02-24 23:04] mhenrixon commented on #345
Sorry it took so long @chadrschroeder, not sure if you still need it for an upgrade but it is now fixed and will be released with the next version.

[2019-02-24 23:05] #350 closed

[2019-02-24 23:08] mhenrixon commented on #350
Fixing the README

[2019-02-24 23:10] mhenrixon commented on #351
I'm closing this one to stay compatible with Sidekiq.

[2019-02-24 23:10] #351 closed

[2019-02-24 23:12] mhenrixon commented on #332
This should be greatly improved with #374

[2019-02-24 23:12] #332 closed

[2019-02-24 23:14] #345 closed

[2019-02-25 13:57] everaldo commented on #338
I'm sorry, @mhenrixon , but it's been a long time since I don't work on this project anymore. But I believe this bug (warning) happens in any project using the gem.

[2019-02-26 00:22] thaiden commented on #365
I am experiencing similar issue.

my configuration were something like this
[code]
What I am trying to achieve is to make sure that there are no parallel job running for some given resource and so that resource ID is a key contributor to value returned by `unique_keys`

Scheduling
[code]

Unique key gen
[code]

[2019-02-26 01:18] ramontayag commented on #332
I ended up defining an expiry time that's longer than I expect the job to run, just in case something goes wrong (even the Sidekiq process exiting prematurely). This way, the job will not be blocked forever.

[2019-02-28 19:12] ccleung opened #377 "we are receiving SidekiqUniqueJobs::ScriptError "Problem compiling convert_legacy_lock" after upgrading from 5.0.10 -> 6.0.11"
**Describe the bug**
* upgraded gem from 5.0.10 -> 6.0.11
* changed all `unique: :until_executed` => `lock: :until_executed`

**Expected behavior**
* no exceptions are thrown

**Current behavior**
* exceptions are thrown

`vendor/bundle/ruby/2.5.0/gems/sidekiq-unique-jobs-6.0.11/lib/sidekiq_unique_jobs/scripts.rb:72:in handle_error': Problem compiling convert_legacy_lock. Message: ERR Error runnin

[2019-02-28 19:57] mhenrixon commented on #377
Let me see if I can fix this real fast for you @ccleung. Which redis version are you on?

[2019-02-28 20:00] mhenrixon commented on #377
A crap, you must be on redis < 3.2. It doesn't support `HSET` without replicate_commands. I completely forgot about that.

[2019-02-28 20:09] ccleung commented on #377
thanks @mhenrixon - added some more info in the "additional context", we are on redis `redis_version:3.2.11`

[2019-02-28 20:15] mhenrixon commented on #377
Thanks for the additional info @ccleung. Weird... If I recall correctly redis.replicate_commands() is only available for the redis version you are on and later. The least supported redis version for the gem can't use it yet. I'll pass a timestamp into the script instead.

The PR you linked to actually fixes the problem for later redis versions I suppose. If you know how I could test against differ

[2019-02-28 20:57] #377 closed

[2019-02-28 20:58] ccleung commented on #377
thanks for the fix! did a quick google search myself but i haven't been able to find out how to run travis ci against multiple redis versions

[2019-02-28 21:03] mhenrixon commented on #377
Released in `6.0.12`

[2019-03-04 18:38] blarralde opened #379 ":until_executed jobs get stuck every now and then"
**Describe the bug**
New unique jobs can't be added to the queue despite the last one being complete and no other similar job being in the queue. This seems to be related to the keys not being properly cleared.

The jobs in question are from the CRON and ran every minute. The issue happens at random; sometimes spaced by a week, sometimes multiple times in a day.

Our way to go around this is to wi

[2019-03-04 22:27] mhenrixon commented on #379
Could it be because of restarts or removal of queues? Some people reported that...

Would be helpful if you could share what versions you are on.

[2019-03-04 22:28] blarralde commented on #379
Workers are scaled depending on load so yes this would be possible.

[code]

[2019-03-05 17:27] mhenrixon commented on #379
That is a tough nut to crack @blarralde. I'm not sure I can do much about that. It would be helpful what is in your logs around the restart. If the worker is killed right before unlock it would leave a key.

Also bump the gem one or two more versions. I solved some duplicate key problems in the last release. Not sure if it is theone you have there.

[2019-03-05 17:28] mhenrixon commented on #379
You have the correct version there, should be as fine as I have been able to make it for now.

[2019-03-05 17:35] blarralde commented on #379
Thanks @mhenrixon, I'll try to bump the version...

Shouldn't this normally take care of deleting keys when workers are shut down?
[code]

[2019-03-05 18:55] mhenrixon commented on #379
The death handlers are for jobs that run out of retry. In newer versions of sidekiq even for jobs that have retry 0, false. Sidekiq _should_ put the job back on the queue if it crashes but unfortunately in some situations like when restarting a worker it can't if it gets sigkill (`kill -9`) in the end.

I am sure there are still things I need to improve in the gem. Version 6 really tries hard to p

[2019-03-06 17:29] mhenrixon commented on #379
It should _normally_ the problem is if the job really gets killed right before the unlock runs. There isn't much I can do about that.

Like I said, the logs from sidekiq would be super helpful.

[2019-03-08 18:27] blarralde commented on #379
Here's a quick and dirty garbage collector, let me know what you think:
[code]

[2019-03-08 21:50] ccleung commented on #379
would adding a `lock_expiration` help in the interim? i think we may be experiencing the same issue, and on v6.0.12 - the issue is intermittent

[2019-03-09 07:34] mhenrixon commented on #379
@ccleung it will help in some cases but not all. The problem is more to do with never reaching the unlock for a job.

It could be that the job is deleted but that the unlock never happens or maybe like I said before, sidekiq krasches (worker restarts) before unlock is done.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-09 07:40] mhenrixon commented on #379
@blarralde that looks really promising! I didn't even know about that I could find the busy jobs/digests like that.

The only problem with that is that it would have to be in Lua I think. Right now when you run this code from one millisecond to another something might change. That isn't the case with Lua, Lua is like a database transaction lock. During the script execution, nothing can be changed

[2019-03-13 07:16] Laykou opened #380 "Documentation - Diagram - Redis keys"
I'd like to ask if there already is or if you could add documentation about Redis keys and maybe a flow chart?

E.g. what is "AVAILABLE", "EXISTS" and "GRABBED" keys in Redis?

Sometimes we have problems that digest is not anymore under `unique:*` but there are locks under `uniquejobs:*` and we need to manually delete the keys via RedisCommander I thought these two should be synchronized...

Anywa

[2019-03-14 10:15] mhenrixon commented on #380
I am currently working on adding some transparency and rethinking logging which would also help. Not able to cut out as much time as I would like but I appreciate your suggestion.

As for the the digests being split between `unique:*` and `uniquejobs:*` it sounds like a bug... Do you have multiple services/workers against the same redis instance?

[2019-03-15 16:13] ccleung commented on #379
@mhenrixon  - just to double check - would implementing something like this help with the issue we have here? https://github.com/mhenrixon/sidekiq-unique-jobs#cleanup-dead-locks

On another note - apparently one of my colleagues downgraded to 6.0.8 and the problem hasn't manifested for their project anymore - could this have been an issue introduced between that version and the latest?

[2019-03-15 17:35] mhenrixon commented on #379
I’ll have a look at the diff early next week but if you look at the previous issues the updates since 6.0.8 attempts to improve this situation.

[2019-03-22 15:49] mainameiz commented on #360
Ok guys, sorry, I was in rage when I wrote it.
But I really think that this gem has a poor quality and code. I tried to update this gem through several major versions (from 3.x version to 6x) And there was no way to check what was changed. The only way was to read all the code and commits made for a years.

[2019-03-25 08:30] #360 closed

[2019-04-08 12:53] matiasgarcia commented on #379
@mhenrixon any news on this? we have just run with this issue in our project

[2019-04-09 05:53] gommo commented on #334
Anyone find a solution to this?

[2019-04-10 02:23] maleksiuk commented on #379
We stopped using sidekiq-unique-jobs for the particular job that we were having problems with and are now using redlock-rb which is behaving well and provides a lock expiration in case things go wrong. This is a job that runs frequently (once every couple of seconds). It reenqueues itself and we have a Sidekiq cron gem that will enqueue it every minute in case it happened to stop.

As far as I can

[2019-04-10 22:50] JacobEvelyn opened #381 "unique_until_and_while_executing without hanging on threads?"
**Is your feature request related to a problem? Please describe.**

We just came across this project—it looks awesome! Thanks so much. We're hoping to use something like `until_and_while_executing` to prevent duplicate jobs from running or getting enqueued too many times, but we're worried about jobs hanging when they get picked up.

**Describe the solution you'd like**

I think the behavior we're

[2019-04-12 18:17] mhenrixon commented on #381
Thank you for taking the time to add some valuable feedback! You are spot on, this is exactly the direction I want to take the gem. I also want to make some parts of the gem usable directly in the worker.

Would something in https://github.com/mhenrixon/sidekiq-unique-jobs/issues/328 help you?

[2019-04-12 18:43] JacobEvelyn commented on #381
Ah, thanks @mhenrixon, I hadn't seen #328. That looks like exactly what we're looking for! Syntax-wise I don't think I've used this gem enough to have a preference among the options you listed there. Is there anything we can do to help with development or testing of this change (with the caveat that this gem and codebase are totally new to us)?

[2019-04-13 08:50] mhenrixon commented on #381
The problem I have right now is that I don't know how to write tests for the problems people are experiencing. If anyone could provide a failing test example I can fix the problem but I've only ever managed to run into this from exploratory testing.

I bet you guys are amazing developers and I've reached out to people in the past about pairing on this problem to get it properly fixed but still no

[2019-04-13 12:13] mhenrixon commented on #379
@maleksiuk maybe the performance is the problem for you? I'll see if I can add some performance tests/benchmarks for the locks.

I am also planning on rewriting the internals after adding some better coverage. I can replicate the problem in a console but I cannot for the life of me replicate the problem with a test :(

In your case it could be something with sidekiq-cron causing problems as well.

[2019-04-13 14:40] mhenrixon commented on #334
@rept might be a stupid question but... Did you setup the middleware?

[2019-04-13 16:22] mhenrixon commented on #334
@macmartine I can't replicate the problem for your example either:

[code]

Looks like everything is working fine to me...

[2019-04-13 16:23] mhenrixon commented on #334
@gommo happy to have a look at your problem too but you need to provide something to go on otherwise I am closing this issue.

[2019-04-13 16:26] mhenrixon commented on #365
@thaiden I would need to have more of a full example to help you get to the bottom of it. Preferably open a new issue because I will close this since I didn't hear back from the person who opened the issue.

[2019-04-13 16:30] mhenrixon commented on #331
@axlekb partly because of a bug in removing keys. I would not use reschedule with `until and while executing`. I obviously need to do some more work on this one.

[2019-04-13 16:43] mhenrixon commented on #323
I am closing this because expiration now only happens after the server is done processing the job.

[2019-04-13 16:43] #323 closed

[2019-04-13 17:10] mhenrixon commented on #338
Well since Mike won't support redis-namespace neither will I ->   https://github.com/mperham/sidekiq/issues/3366#issuecomment-284270120

[2019-04-13 17:10] #338 closed

[2019-04-14 11:21] jpatters commented on #365
The described behavior is the behavior I want. I wasn't expecting that the duplicate jobs would each consume a worker.
I also wasn't expecting it to allow two job with the same key to execute at the same time. If you note the last line of my original message you will see that jobs `c` and `b` finished at the same time, which indicates that they were executing at the same time.
Sorry for my late re

[2019-04-14 15:32] mhenrixon commented on #365
The reason job b and c completes at the same time is because they both timeout at the same time because of the lock timeout you set.

Thanks a bunch for coming back to me. In your case what actually happens is that you have a misconfiguration more than anything. Maybe the lock timeout was a bad idea when it happens in the server process. The conflict strategy would solve the problem so might remov

[2019-04-14 19:36] mhenrixon commented on #363
I don't plan on supporting ActiveJob at all. Neither `sidekiq-status` nor `sidekiq-cron` has anything to do with the `_aj_symbol_keys`. That is all ActiveJob and I strongly recommend you stop using it and start using Sidekiq directly. In your example you don't even use `ApplicationJob` or `ActiveJob::Base` anywhere so I really don't see why you are using ActiveJob at all. Use `MyWorker.perform_asy

[2019-04-14 19:36] #363 closed

[2019-04-14 20:19] mhenrixon commented on #381
@JacobEvelyn if you use `lock_timeout: 0` you don't have any problems. That way the middleware won't wait when it can't acquire a lock. The job will just be dropped, if you want to do something `on_conflict` you could use a specific strategy for that.

[2019-04-15 10:46] jpatters commented on #365
I'm still confused by this. I had the timeout set to `1200` seconds and the total job runtime for all jobs should have been `60` seconds. The most any one job should have had to wait was `20` seconds. How would a timeout have been possible? To me, it sounds like if there is another job that has the lock, it will wait the amount of the lock timeout in seconds to obtain the lock. In effect, waiting

[2019-04-15 11:36] mhenrixon commented on #365
My communication is still `[WIP]` obviously. Do you understand how Sidekiq works?

There are a client and a server. The client deals with `perform_async` and `perform_at|in` while the server deals with actually executing the `perform` method of the worker.

When the server process runs the server is already executing the code (running the workers perform method with the given arguments). There is

[2019-04-16 15:26] danpolyuha opened #384 "`while_executing` has problems at low concurrency"
**Describe the bug**
When lock type `while_executing` is used with `lock_timeout: nil`, sometimes the system fails to lock the jobs properly and jobs are being executed in parallel.

**Expected behavior**
The jobs never get executed in parallel.

**Worker class**

[code]

**Additional context**
Hi Mikael,
Thank you very much for your amazing work on this gem.

I believe I might have run into an is

[2019-04-19 11:19] simonoff commented on #379
Hello @mhenrixon i know a very easy way to reproduce it on production - put redis on another host and periodically made a disconnections between them.

[2019-04-19 11:32] mhenrixon commented on #379
@simonoff do you mean you have a multiserver redis setup?

[2019-04-19 12:22] simonoff commented on #379
No, we have a multi-server workers deployment, but Redis server only one.

[2019-04-19 20:11] mhenrixon commented on #384
@danpolyuha thank you so much for the detailed report! I will try and create some failing test cases for this scenario.

[2019-04-21 18:44] mhenrixon commented on #384
Using the latest released version I can't replicate the problem @danpolyuha.

Running 2 sidekiq worker processes with 25 workers each it seems to produce the expected results. Can you check your gem version, possibly upgrade if not on latest and either close the issue or provide some more details on your setup?

This is what my log looks like

[code]

[2019-04-22 10:32] danpolyuha commented on #384
@mhenrixon ,
I'm using the latest version of the gem (6.0.13) and Redis (5.0.4).
The issue is still reproducible.
For the cleanness of the experiment, can you try to run a single sidekiq process like
[code]
and check if everything still works fine on your side?
If it does, I can provide you with any details about my setup you need, just tell me what can be of help.

If we still can't reproduce it

[2019-04-22 14:52] mhenrixon commented on #384
If you check the configuration I tested with and let me know what is different that would be awesome:

- [config/initializers/sidekiq.rb](https://github.com/mhenrixon/sidekiq-unique-jobs/blob/8389d5d12efe9b9f36e711b9ed9bea286c00c0e3/my_app/config/initializers/sidekiq.rb)
- [config/sidekiq.yml](https://github.com/mhenrixon/sidekiq-unique-jobs/blob/8389d5d12efe9b9f36e711b9ed9bea286c00c0e3/my_app/con

[2019-04-22 14:56] mhenrixon commented on #384
What operating system and redis server version are you on? It could be that your redis server version has trouble with some Lua script feature maybe?

[2019-04-22 15:04] mhenrixon commented on #384
I've tried with a various number of sleeps but they all yield the expected results

[2019-04-23 10:16] danpolyuha commented on #384
@mhenrixon ,
I'm using the latest version of the gem (6.0.13), Sidekiq (5.2.6), and Redis (5.0.4) on MacOS 10.14.4.

I see that you're testing everything in Rails. Can you please try to run it in vanilla environment with nothing but Sidekiq and sidekiq-unique-jobs?

I have a folder with only two files:
`job.rb`
[code]

`go.rb`
[code]

Then I'm running Sidekiq:
`sidekiq -r ./job.rb`
and Ruby file:

[2019-04-23 11:51] mhenrixon commented on #384
It seems that by default sidekiq has concurrency 10 and I have it set to 25 in my `sidekiq.yml` if I lower it to 10 I can definitely replicate the problem.

Thank you for the investigation.

[2019-04-23 11:54] danpolyuha commented on #384
Great news.
Please let me know if I can be of any help.

[2019-04-23 13:04] mhenrixon commented on #384
Do you have any ideas on how to replicate this in a test?

[2019-04-23 13:42] danpolyuha commented on #384
Not really, unfortunately.

[2019-04-23 13:44] danpolyuha commented on #384
I believe it can be somehow replicated on the level of unit tests close to Lua scripts, but I don't have enough understanding about how your system works to do it.

[2019-04-23 14:53] mhenrixon commented on #384
Fascinating... I actually started writing tests against the Lua scripts yesterday

[2019-04-25 01:08] plentz opened #389 "Fix your paypal link in README"
**Describe the bug**
Pretty descriptive 😉

[2019-04-25 06:17] #389 closed

[2019-05-03 10:12] soma commented on #379
Don't know if this will help you guys find a fix for this but, I can +1 this issue. Just found a situation where an app running on Heroku got a maintenance (initiated by Heroku/Platform) restart and it failed to restart the process with SIGTERM and did SIGKILL.

For some reason, even after receiving a SIGTERM, sidekiq had jobs in queue, and continued to schedule jobs and it seems this ended up wit

[2019-05-03 10:18] mhenrixon commented on #379
@soma @simonoff @ccleung @blarralde I am working on fixing it once and for all. It is turning out to be quite an endeavor but i am getting there ever so slowly.

[2019-05-07 06:17] meenie commented on #384
I'm experiencing the same thing. I believe it's directly tied to the Sidekiq `concurrency` option set and how many jobs you add to the queue all at once.  I set the `concurrency` to 10 and added 10 jobs, it was fine. If I add 11 or more, it causes the issue described.

[2019-05-07 06:28] mhenrixon commented on #384
Which is the opposite of what I would expect, _c'est la vie_. Anyway, I'm working on fixing this problem once and for all.

[2019-05-09 17:29] tacticiankerala opened #391 "SidekiqUniqueJobs::UniqueArgs#create_digest is getting called twice"
**Describe the bug**

I have patched `SidekiqUniqueJobs::UniqueArgs#create_digest` in my project to support different tenants that I have. But, noticed that this method is getting called twice and the interesting bit is it is getting called the second time even when `unique_digest` is there in the job.

ps: Sidekiq worker we have does not take any args hence was unable to use `unique_args` option.

[2019-05-10 17:03] ccleung commented on #379
just an FYI, we were able to reproduce the issue on 6.0.8

[2019-05-14 14:56] miguelseguray opened #392 "Custom Locks with error"
Hello,

I define some custom lock and I make the call in your project startup:

[code]

[code]

[code]

but it does not work

[code]

[2019-05-14 20:44] JacobEvelyn opened #393 "Expiration for all locks"
**Is your feature request related to a problem? Please describe.**

I find it confusing that [lock expiration](https://github.com/mhenrixon/sidekiq-unique-jobs#lock-expiration) doesn't allow me to expire locks after some long period of time (for instance, 2 days) when using strategies other than `until_expired`. I'm worried that if something goes wrong and a lock isn't released (or a job is sudden

[2019-05-15 00:15] axos88 opened #394 "Failed jobs waiting to be retried are not considered when fetching uniqueness"
**Describe the bug**
If a job fails, and is waiting to be retried, adding a new job with similar arguments should trigger the conflict resolution mechanism.

I have an job which - based on its arguments - calculates and saves an expensive operation to the database, that I would not like to enqueue multiple times (since it's output is only based on the input, and I want to make the calculation as f

[2019-05-15 07:13] mhenrixon commented on #394
That is a really good point! I missed this, of course we need to catch any error and re-lock the job when any type of error is raised. There is a race condition though, it is possible then that another job has been scheduled in the meantime so it would be up to you to handle that with a conflict resolution.

[2019-05-15 11:12] mhenrixon commented on #393
The problems described is due to bugs in the scripts. It will not be a problem in the near future as there will be a cleanup running on `Sidekiq.on(:heartbeat)`. The locking mechanism is also getting some serious love in #387 and will further reduce this issue.

I'll hold off on your suggestion until that work is complete but I will leave this issue open until we see if the problem is solved in a

[2019-05-15 12:41] axos88 commented on #394
Yeah. I see two possible ways to solve that
a) handle the job being added to the retry queue the same way as a new job being added (with the drawback outlined above)
b) reschedule the failed job, and simulate what would happen if the new job would be added afterwards (basically the same as removing and readd the new job). This could cause issues if somebody hangs onto the job id of the new job.

[2019-05-15 13:05] mhenrixon commented on #394
There is already functionality to both replace and reschedule jobs but retry queue or not doesn't matter except in this particular case. All other job types keeps being locked until done.

[2019-05-18 09:28] jchatel opened #395 "until_and_while_executing + sidekiq retry mechanism"
This is more of a question that I didn't see addressed in the doc.

By default, Sidekiq will retry a job that fails with incremental delay.

I'm using this config:

sidekiq_options lock: :until_and_while_executing
, lock_expiration: 60*60
, unique_across_queues: true
, unique_args: ->(args) { [ args.first ] }
, on_conflict: :reject

...to ensure:

only 1 job is enqueued at max (to prevent accumula

[2019-05-20 17:43] mhenrixon commented on #395
Actually... `unqiue_accross_queues` is only relevant if you schedule the same job to multiple queues and want to enforce uniqueness on all of them.

retry and schedule are not regular queues but the job should be locked while there too.

[2019-05-21 12:03] looorent opened #396 "Constant SidekiqUniqueJobs::Web::Digests not found"
**Describe the bug**
On Sidekiq Web, accessing the "Unique Digests" (` /unique_digests`) page produces an error.

**Stacktrace**

[code]

**Additional context**

* Ruby 2.6.3
* sidekiq 5.2.7
* sidekiq-unique-jobs 6.0.13
* Alpine 3.9

[2019-05-31 18:02] mhenrixon commented on #391
I would really love to get to the bottom of this one. I am just right in the middle of finalizing the next version.

Since it seems like sort of an edge case I’ll leave it open until then. I’d be interested in digging into how apartment works at some point.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-31 18:05] mhenrixon commented on #392
Super weird issue, if you have a look at the bundles source code : `bundle open sidekiq-unique-jobs` does the method exist on the config class then? When not could you check that the version is correct in the source?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-02 17:14] mhenrixon opened #397 "Fix until and while executed and improve documentation"
**Describe the bug**
There are still some issues left with until and while executing. When having simultaneous hits with the same unique digest I see errors that the job could not be unlocked.

**Expected behavior**
There should be zero warnings logged

**Current behavior**
Warnings saying `couldn't unlock digest: uniquejobs:3e740c8d82ea72148a1261c51457b55b e76f9f956828e37e2295ed32` shows up in th

[2019-06-02 17:36] mhenrixon opened #398 "Validate sidekiq_options for each worker"
**Is your feature request related to a problem? Please describe.**
A lot of the bug reports etc will be avoided if the sidekiq worker options are validated as they are added.

**Describe the solution you'd like**
1. Remove any settings that are plain wrong to avoid problems in live environments
2. Implement something for testing that the worker class is correctly configured
3. Log validation error

[2019-06-02 17:44] mhenrixon commented on #393
This should be fixed now that #387 got merged. No release yet, still have a few things to work through first.

[2019-06-02 17:44] #393 closed

[2019-06-02 17:44] mhenrixon commented on #380
Thanks for the suggestion @Laykou. I'll see if I can whip together something for the v7 release.

[2019-06-03 11:08] mhenrixon opened #401 "Allow sidekiq_options to set lock_info"
**Is your feature request related to a problem? Please describe.**
Currently it is only possible to set lock_info globally. However, when debugging a certain worker it would be beneficial to set it for just that worker.

**Describe the solution you'd like**

Provide an option for the `sidekiq_options`

[code]

[2019-06-03 11:14] mhenrixon opened #402 "Allow worker to configure client and server strategies separately"
**Is your feature request related to a problem? Please describe.**
One current bug is in regards to `until_and_while_executing`. The client and server lock can't use all the same strategies and people run into stackoverflow exceptions.

**Describe the solution you'd like**
Introduce a new API with a fallback to the old one and use the worker options validation to give the user feedback about incom

[2019-06-03 16:46] #401 closed

[2019-06-05 09:08] mhenrixon commented on #396
Such a weird thing, maybe I need to fully qualify the class.

I’ll have a look at backporting this.

[2019-06-10 20:54] jadengore commented on #369
Is this default behavior explained in the docs? I had trouble finding it and didn't realize conflict resolution was optional.

[2019-06-10 21:16] mhenrixon commented on #369
@jadengore it isn’t explained properly in the documentation unfortunately. I’ll see about clarifying that for the next version.

[2019-06-13 01:28] #274 closed

[2019-06-15 07:12] mhenrixon commented on #395
This will be solved by #402

[2019-06-17 21:51] lairtonlelis opened #408 "Add support for on_conflict: :log for UntilExecuting lock"
When setting a worker with `on_conflict: log` configuration and the `until_executing` or the `until_and_while_executing` locks, like the worker below:

[code]

the logs are misleading, showing a message like this:

[code]

But the job is not skipped and gets executed by the sidekiq worker.

A possible solution would be to add support for `on_conflict: :log` configuration for the `until_executing`

[2019-06-19 12:26] mhenrixon commented on #408
Duplicate of #402

The log strategy is supported but since the server locks (the locks that create a unique lock as the server middleware is called) it isn't really that useful. That's why I decided to split the configuration to allow separate conflict strategies for the client and server.

[2019-06-19 12:27] #408 closed

[2019-06-25 08:09] jozefvaclavik commented on #334
@rept why do you have there `unique: :until_executed` instead of `lock: :until_executed` I can't see anywhere such option.

Was just implementing uniq lock for scheduled jobs and this works fine for me. `sidekiq_options queue: 'orders', unique_across_queues: true, lock: :until_and_while_executing`

[2019-07-01 10:05] danpolyuha commented on #384
Hi @mhenrixon,
I hate bothering you, but are you still working on this?
Thanks!

[2019-07-01 10:35] mhenrixon commented on #384
I sure am @danpolyuha. I believe it has been fixed already but the fix will be in V7 which is close to ready but not completely done yet. If you are feeling adventurous you could give the master branch a try and see if that fixes your problem.

[2019-07-11 13:26] denisj opened #410 "Syntax error on using the v6.0.13"
Hello everyone,

I'm currently using the v5.0.11 with Ruby 2.2.2 and Rails v4.0.13. And I'm trying to update to the v6.0.13. After the installation, when I'm opening a rails console, I get his :

sidekiq-unique-jobs-6.0.13/lib/sidekiq_unique_jobs/lock/base_lock.rb:125: syntax error, unexpected '.' (SyntaxError)  callback&.call

Is there a issue with Ruby 2.2.2?

Regards.

[2019-07-11 17:09] mhenrixon commented on #410
Looks like I have been writing ruby 2.3 code but the readme says I should be supporting 2.2. In all honesty, I'm not sure I want to support ruby 2.2 at this point since it isn't officially supported anymore. It feels a little weird to not do it on a version that is supposed to have support though.

Maybe I can be convinced in either direction... Any chance you could move over to ruby 2.3?

[2019-07-12 07:11] denisj commented on #410
Thanks for your reply.

We have plan to move to Ruby 2.3.x, but son"t know when. So when the move is finished, I will update unique jobs ;)

[2019-07-12 07:11] #410 closed

[2019-07-22 18:43] piton4eg opened #411 "until_and_while_executing with sidekiq pro `reliable_scheduler!`"
**Describe the bug**
The jobs doesn't really retry after failing when sidekiq pro option "reliable_scheduler!" is enabled, it silently starts and finishes without executing code.

**Expected behavior**
The job is retrying

**Current behavior**
The job runs and finishes

**Worker class**
[code]

**Additional context**
Gemfile:
[code]

Sidekiq initializer:
[code]

I've created repository with sample

[2019-07-27 00:19] ky1007 opened #412 "Jobs not pushed when using sidekiq-status"
**Describe the bug**
Job is deleted but lock remains (the Sidekiq queue the worker adds jobs to is completely clear and there are no scheduled jobs in Sidekiq for the worker or any retries for the worker either)

**Expected behavior**
Expect the lock to be cleared

**Current behavior**
The lock seems to still exist. Running `ExportDataWorker.perform_in 1.hour, some_id` returns `nil` instead of a j

[2019-07-27 12:50] mhenrixon commented on #412
Hi @ky1007 this is a known problem.

See https://github.com/mhenrixon/sidekiq-unique-jobs#cleanup-dead-locks for how to cleanup some situations that you might run into.

You can also refer to https://github.com/mhenrixon/sidekiq-unique-jobs#sidekiq-web for how to manually find and remove locks.

Lastly, the locking is complex. It is hard to describe since some locks are treated differently but in

[2019-07-29 14:50] KevinColemanInc commented on #412
If I wanted to manually add an release/unlock to the end of the job, how would we do that?

[2019-07-29 18:57] ky1007 commented on #412
Thanks for your response @mhenrixon!

I have the Sidekiq Web extension already setup so I can find and delete locks, but how I can find the unique digest from my deleted job? (so I can find which lock I can delete)

I noticed you had a `#create_digest` method that uses `Digest::MD5.hexdigest(Sidekiq.dump_json(digestable_hash))` (in the v6.0.13 we use) to create the digest so I tried to recreate th

[2019-07-30 16:51] metapraveen opened #413 "NoMethodError on setting global configurations"
**Describe the bug**
NoMethodError on setting global configurations

**Expected behavior**
Should return a configuration object

**Current behavior**
NoMethodError (undefined method `debug_lua' for #<SidekiqUniqueJobs::Config

**config/initializers/sidekiq_unique_jobs.rb**

[code]

Am I missing something basic? I tried inside the rails console too, with `SidekiqUniqueJobs.config.debug_lua` and got

[2019-07-30 21:25] metapraveen commented on #413
just saw the release tags and noticed these changes are yet to be released. 😸

[2019-07-30 21:25] #413 closed

[2019-08-02 07:52] metapraveen opened #414 "Duplicate job was pushed ( v6.0.13 )"
**Describe the bug**
We have 2 instances running sidekiq, I used this gem to avoid duplication but got duplication.
Gem version 6.0.13

**Expected behavior**
Jobs pushed should have been unique

**Current behavior**
I see 2 similar jobs getting pushed

**Worker class**

[code]

**Additional context**
I would like to debug the gem and see if I can get to the issue, but I may need a starting point t

[2019-08-02 10:46] mhenrixon commented on #414
@metapraveen that is a new issue. Version 6 was always pretty bad at keeping locks around for longer than necessary but I haven't had any complaints about duplicate locks.

Are you sure that you are not just seeing a log about duplication because of the `on_conflict`? If you add a sleep for a few seconds will there really be two jobs executing at the same time?

[2019-08-02 12:46] metapraveen commented on #414
My jobs supposed to make x number of HTTP calls, but it makes 2x in production which means the job is duplicated.
I tried to reproduce this in local by adding a lot of redis latency and pushing around 25 jobs at a time, but this gem seems to handle it perfectly and only one job is executed.
Wish I could replicate this in local easily :(

[2019-08-02 16:32] metapraveen commented on #396
@looorent Are you trying to mount the sidekiq route inside rails?
I faced the same issue when I tried to serve sidekiq web using rackup since it doesn't autoload the gem. Moving it inside rails routes solved it.

[2019-08-05 07:58] looorent commented on #396
@metapraveen Indeed, I should have said that I'm running Sidekiq Web inside using `rackup`. Here is my start ruby script:
[code]

@mhenrixon Do you think there is a way to support rackup?

[2019-08-05 08:12] mhenrixon commented on #396
Unless you are using something to autoload your gems you would have to first `require "sidekiq-unique-jobs"` to make it work @looorent .

[2019-08-05 10:05] looorent commented on #396
Thanks @mhenrixon, this solution works. Here is the `rackup` script:
[code]

[2019-08-05 10:05] #396 closed

[2019-08-05 11:39] serg-kovalev commented on #411
@piton4eg 💯 thanks for reporting this and for app sample
@mhenrixon have you had a chance to look at it?

[2019-08-05 11:51] mhenrixon commented on #411
@serg-kovalev it's been pretty crazy lately. I'm trying to get to a place where I can get some help from @piton4eg to debug this (I do not own a license of sidekiq-pro myself).

I am pretty sure it has to do with the reliable scheduler somehow but we need to find some time together to have a look. I'm sure it's something pretty simple though.

[2019-08-06 14:28] nononoy opened #415 "FIFO strategy"
Hi. I tried all the strateges, but didn't figure it out. What if I need to handle all jobs in strict order one after another. Job 1 -> Job 2 -> Job 3. Can I do such FIFO without custom locks?

[2019-08-07 08:38] mhenrixon commented on #415
That is how it works by default. You are looking for `:until_executed`

[2019-08-07 08:39] mhenrixon commented on #415
Oh no wait, the subsequent jobs will just be dropped. You probably have to look at someother gem for that. Think Sidekiq batches can achieve that

[2019-08-07 08:39] nononoy commented on #415
Unfortunatelly it not works with reschedule. "Stack level too deep" error if I bump second task when the first one is under processing.

[2019-08-07 09:24] #415 closed

[2019-08-12 18:19] jimbodude commented on #392
The custom lock stuff was added post-6.0.13 release, according to git history:
https://github.com/mhenrixon/sidekiq-unique-jobs/compare/v6.0.13...master#diff-a6cab90adb1364866afa90f4744c2cf5

[2019-08-12 18:35] mhenrixon commented on #392
I’m that case I will cut a new release tonight.

[2019-08-13 14:25] KevinColemanInc commented on #412
@ky1007

Are you using any sort of error reporting system? like bug snag or sentry? I am noticing that if a job throws an exception, the unique keys aren't being removed and we use sentry.

[2019-08-13 18:17] mhenrixon commented on #412
I’m not using any type of error reporting system, that is something I’ve been thinking about. Providing some type of error reporting implementation that can be hooked into. Also statistics like statsd but one thing at a time. Currently working on making sure that the locks are cleared up properly.

[2019-08-17 16:55] jacquescrocker commented on #412
I think I'm having this issue too. My async jobs are returning nil and not doing anything. Unique Digests is empty. Deleting SidekiqUniqueJobs got things running again

[2019-08-17 17:04] KevinColemanInc commented on #412
I noticed that the web UI for unique digest doesnt' actually show all of the unique digests. If you add [redis-browser](https://github.com/humante/redis-browser) to your project, you will still see digests in the db.

[2019-08-17 17:55] mhenrixon commented on #412
Thanks for the report @KevinColemanInc, would be great if you could provide an example project where this always happen. If not I'll look into it as soon as I wrap up v7.

@jacquescrocker can you provide some more details about your setup? Again an example project that show the problem would be super helpful.

[2019-08-19 05:53] piton4eg commented on #411
@mhenrixon let me know how I can help you to debug this. I've created the test repository to show the issue

[2019-08-27 19:26] #398 closed

[2019-09-03 08:27] dbackeus opened #416 "Is Sidekiq 6.0 supported?"
Though support appears implied by the README in that `>= 5.2` is recommended there has been no new release since the Sidekiq 6.0 release so thought it would be apt to ask if 6.0 is officially tested and supported.

[2019-09-03 08:42] kolo commented on #414
I spent some time trying to debug this issue and came to the following conclusion. The bug happens when there is a conflict and log strategy is called. The strategy uses `log_info` method which returns `true` value. This value becomes return value of the [`BaseLock#lock`](https://github.com/mhenrixon/sidekiq-unique-jobs/blob/v6.0.13/lib/sidekiq_unique_jobs/lock/base_lock.rb#L32) method. `Client::M

[2019-09-03 15:12] mhenrixon commented on #416
Should be working fine @dbackeus. Nothing changed in the interface with middlewares, only major difference was that the logging changed but that was tackled a long time ago.

[2019-09-03 15:12] mhenrixon commented on #414
Ah, I'll cut a new release @kolo ! Thanks a bunch for taking the time to both investigate and then present your findings.

[2019-09-04 07:10] dbackeus commented on #416
Thanks for the response 🙏

Feel free to close this or keep it open for other people wondering the same thing.

[2019-09-07 13:26] collimarco opened #417 "Keys without TTL"
**Describe the bug**
There are many `uniquejobs:` keys that don't have a TTL. For example:

[code]

If you delete all those keys, after a few minutes you have thousands of keys without TTL again.
Most keys are probably deleted in some other ways, because the number of keys without TTL doesn't increase too much over time. However, in order to **prevent memory leaks**, it would be useful to set a TT

[2019-09-10 20:04] cpiazza opened #418 "Jobs executing and immediately returning"
**Describe the bug**
We've had two instances in which we were using `sidekiq_options unique: :until_and_while_executing` on a worker and after some time, calling `.perform_async` on the worker would result in the job getting enqueued, a job ID assigned, picked up by a worker, and then exit immediately.

For example, we would see in the sidekiq.log
[code]
In all cases, there were no other instances

[2019-09-10 22:02] mhenrixon commented on #418
Pretty sure the problem is the following:

1. When the server process/worker (`bundle exec sidekiq`) picks the job of the queue, it runs through the unique middleware, which unlocks the queue and locks the worker from executing any more jobs with the same arguments.
2. The worker waits for some time to achieve the lock, decides it cannot get a mutex for that worker with the specific arguments and

[2019-09-10 22:04] mhenrixon commented on #392
I'm really sorry @jimbodude. Life has been really crazy with PSD2 deadlines, organizing the move to our new home and having two little girls 24 and 7 months old.

I'll get on it right away!

[2019-09-10 22:17] jimbodude commented on #392
No worries, I know where you're coming from.

[2019-09-19 14:59] zormandi opened #422 "Error in documentation"
This is a trivial problem but a very important one.

The documentation says that the option to set the TTL of the lock key is called :lock_ttl but it's actually called :lock_expiration (at least according to the code). If you're using the :until_expired strategy and setting :lock_ttl then your jobs are going to get stuck forever because :lock_ttl has no effect and the default is to not expire the

[2019-09-19 16:55] mhenrixon commented on #422
In that case you are viewing the wrong read me. There are links to your version of the readme in the very beginning somewhere.

[2019-09-19 16:55] #422 closed

[2019-09-20 06:18] zormandi commented on #422
You're absolutely right, we're using v6.0.13 (which is the latest version) and there's a link in the readme to documentations of older versions, like 6.0.13. Sorry for the confusion.

[2019-09-20 16:47] glennfu commented on #418
I'm having this problem as well using `:until_executed`, which is what I want to use. Switching to `:until_executing` fixed it for me, so thank you @cpiazza. For extra context, I have 2 apps, running different Rails versions, but both the same identical versions of `sidekiq` and `sidekiq-unique-jobs`, and both sharing the same Redis. Rails 5.0 app runs backend and sidekiq, Rails 5.2 app is my web

[2019-09-20 16:54] glennfu commented on #418
Also as an extra note, I'm not 100% confident in the order of my upgrading and when this started. It might have been before I upgraded the front end to 5.2.

[2019-09-24 21:35] korrs opened #423 "Typo in documentation"
Description about `lock_timeout` for `while executing` strategy [says](https://github.com/mhenrixon/sidekiq-unique-jobs#while-executing):

But if i run a simple test worker with option `lock_timeout: nil` many times
[code]
i see in console result(9 lines) from all executed jobs.
When i set `lock_timeout: 2` it works nice, i see result only from first job(3 lines).

**Worker class**

[code]

Seems

[2019-09-27 14:16] roman-melnyk opened #424 "incorrect `:until_and_while_executing` behavior"
**Describe the bug**
enqueue the job with `until_and_while_executing` lock policy 2 times with interval 1 second

**Expected behavior**
second job should be performed right after first job finished

**Current behavior**
second job is not performed

**Worker class**
[code]

**Additional context**
here is a log from 'sidekiq', '5.2.5' and 'sidekiq-unique-jobs', '5.0.10', second job has been performe

[2019-10-03 19:16] ArturT opened #427 ":until_executing does not schedule job in Sidekiq 6.0.1 at all"
**Describe the bug**
`:until_executing` works with sidekiq 6.0.0 but not in sidekiq 6.0.1. In sidekiq 6.0.1 the job is never added to queue.

**Expected behavior**
Below is a log from rails console in development.

My sidekiq background process (`bin/sidekiq`) is not started as I'm running below commands in rails console.

`:until_executing` flag works correctly for sidekiq 6.0.0 and it won't add

[2019-10-03 19:18] mhenrixon commented on #427
Yup, you can see that exact behavior in tests. Really not sure what they did but I also have completely broken test suite against sidekiq develop so they might be going through some rough times over on sidekiq

[2019-10-03 19:26] mhenrixon commented on #427
@ArturT see https://github.com/mperham/sidekiq/issues/4308 for an eventual fix.

[2019-10-04 23:13] kapso commented on #427
So whats the fix for `sidekiq-unique-jobs` breaking with Sidekiq 6.0.1?

[2019-10-05 01:10] mhenrixon commented on #427
Try v6.0.14

[2019-10-05 01:10] #427 closed

[2019-10-05 01:12] mhenrixon commented on #414
Fixed in `v6.0.14`

[2019-10-05 01:12] #414 closed

[2019-10-05 07:53] mhenrixon commented on #423
It seems to me that you might not understand how Sidekiq works. Let me try and explain it to you.

If you think of `WhileExecuting` as `WhilePerform` or `DuringWorkerPerfrom`  you quickly realize that the job isn't locked/prevented when it is pushed to sidekiq. Only when the `Sidekiq::Processor` is picking the job off the queue.

This means that if you set `lock_timeout: nil` each sidekiq worker w

[2019-10-05 07:53] #423 closed

[2019-10-05 07:55] mhenrixon commented on #412
@KevinColemanInc @jacquescrocker @ky1007 you might want to take `v6.0.14` for a spin. It fixed an old bug with duplicate jobs being allowed due to logger returning true. It also ensures compatibility with Sidekiq `v6.0.1`

[2019-10-05 12:20] ArturT commented on #427
@mhenrixon Thanks for the fix and new release. I've updated sidekiq-unique-jobs to 6.0.14 but now I see below error when call `MyWorker.perform_async`:

[code]

I've checked the directory with installed sidekiq-unique-jobs and it looks like there is missing `redis` directory.

[code]

I tried `gem uninstall sidekiq-unique-jobs` and then again install it with `bundle install` but the `redis` direct

[2019-10-05 12:24] mhenrixon commented on #427
Yup, will create a new release immediately! Sorry about that, I don't know an easy way to integration test this part.

[2019-10-05 12:34] mhenrixon commented on #427
Gem yanked and v 6.0.15 released. I built and installed it locally and the directory is there

[2019-10-05 13:03] ArturT commented on #427
@mhenrixon Thank you. It works well now. I've deployed the new version of your gem and new sidekiq to my production API https://knapsackpro.com :)

[2019-10-07 11:56] mhenrixon commented on #417
This is already fixed in v7 (unreleased). I'll see about cutting a version `7.0.0.beta1` today

[2019-10-07 15:33] KevinColemanInc commented on #412
The ruby version we are using for this project is 2.4 which isn't supported by sidekiq 6, so it maybe a while before we will be able to try out those changes :-/

[2019-10-07 16:56] mhenrixon commented on #412
Oh, you don’t need ruby 2.5 for this gem though. The gem is compatible with ruby 2.4, 2.5 and 2.6.

The new version includes some locking fixes in on top of sidekiq 6.0.1 compatibility but doesn’t remove compatibility with MRI 2.4 in any way.

[2019-10-07 16:58] KevinColemanInc commented on #412
Oh, I thought the latest version was only supporting Sidekiq 6.0. I will try it out!

[2019-10-07 18:16] alexanderbanks commented on #395
How does `lock_expiration` work with fails/retries? As in, if a job goes to the retry queue with a lock, but the `lock_expiration` has elapsed, does the lock get released anyway? Or does lock expiration only work with successfully completed jobs?

[2019-10-07 18:41] robinsingh-bw commented on #331
Getting the same 'stack level too deep' bug with `until_and_while_executing` and `on_conflict: :reschedule`.

@mhenrixon Where is this bug you are referring too, I could take a look and put together a PR unless its been fixed on master already?

[2019-10-07 18:57] robinsingh-bw commented on #424
I think the second job quits because the first job already has a lock on the 'running' key. I have the same issue, tried resolving it with the `on_conflict: :reschedule` strategy but ran into `stack level too deep`.

I have a job that should not be run simultaneously but if it gets scheduled while another instance of the same job is already running, it should wait for that instance to finish and t

[2019-10-07 20:16] mhenrixon commented on #331
@robinsingh-bw it should be fixed in master already. Thanks for the offer :)

[2019-10-07 20:37] mhenrixon commented on #424
reschedule doesn't work with the first part @robinsingh-bw. If you want, give `7.0.0.beta1` a try and see if that gives you better results.

Please in that case do try out the worker validation. v7 will allow you to configure the client and server conflict resolutions separately.

[2019-10-08 09:47] robinsingh-bw commented on #424
Tried the beta, the client/server conflict resolution doesnt seem to be fully implemented yet so had to create a hack:
[code]

Btw which keys does v7 use? I need to check if a unique job is scheduled, I am doing this atm:

`Sidekiq.redis{ |red| red.exists(uniq_id(user_id, ':RUN:EXISTS')) || red.exists(uniq_id(user_id, ':RUN')) }`

Should I continue checking for both keys or can it be replaced with

[2019-10-08 10:40] robinsingh-bw commented on #424
[code]

Reverted to v6 :p, might wanna update the readme for v7 btw as people running on heroku will likely run into the above error.

[2019-10-08 10:50] mhenrixon commented on #424
What redis version are you on @robinsingh-bw? I've been testing with the latest redis and it works fine locally at least and also on travis.

[2019-10-08 10:55] robinsingh-bw commented on #424
@mhenrixon I am using Redis Cloud on Heroku. Not sure which version it is, but the error has to do with permissions, user scripts are not allowed to run the `redis.call("INFO", "SERVER")` command.

[2019-10-08 10:57] mhenrixon commented on #424
That is a real bummer but I can certainly work around that. Will create a PR to fix it and I will get back to you on the other questions.

The `Sidekiq::Web` has been extended and if you use `config.lock_info = true` you will get detailed information about all the keys.

[2019-10-08 16:53] mhenrixon commented on #424
@robinsingh-bw https://github.com/mhenrixon/sidekiq-unique-jobs/pull/431 will fix the problem with scripts not being allowed to retrieve server info I hope. If not then you'll have to ask your provider nicely to enable such information for all the performance gains! :D

[2019-10-08 16:56] #424 closed

[2019-10-08 17:04] mhenrixon commented on #417
`v7.0.0.beta2` released just now, I'll have a look tomorrow if I can make the TTL work for v6 as well.

[2019-10-10 14:01] roman-melnyk opened #432 "incorrect `:while_executing` behavior"
**Describe the bug**
enqueue the job with `while_executing` lock policy and with uniqueness by the first argument 3 times with interval 1 second

**Expected behavior**
all jobs should be placed in the queue, second job should wait until first one is finished, and then third job should wait until second one is finished

**Current behavior**
all jobs are placed in the queue, but only first and secon

[2019-10-10 14:17] mhenrixon commented on #432
First of all, the while executing job was completely broken in 5.x.

Also, some things have changed between v5 and v7.

[code]

The default `lock_timeout` (seconds to wait for a lock) is zero and you are lucky any of your jobs are processed except the first one. :)

It looks like everything is working fine to me but there is a lot of information missing for me to truly be helpful:

1. What does yo

[2019-10-10 18:22] mhenrixon commented on #432
Thanks a bunch @roman-melnyk. It is quite possible `until_and_while_executing` isn't completely working yet.

I'm really happy while executing works for you guys on the older version. I think the locking was done thread locally back then so multiple threads would create problems but I might be wrong on that one. It has been a long time.

What I do know for sure is that you should avoid v6 and aim

[2019-10-11 18:30] roman-melnyk commented on #432
so, what I've found so far:
I'm using this file for testing
[code]
for `while_executing`, when I run 5 jobs  as
[code]
only 2 or 3 of them finishing,
and for `until_and_while_executing`:
[code]
when I'm trying to push jobs as
`5.times { |i| puts AJob.perform_async('a', i); sleep 1 }`
i'm getting 3 jobs finished instead of 2, and, what is more interesting, there is a delay after pushing 3th and 4th

[2019-10-11 19:14] mhenrixon commented on #432
Really nice of you to help debug this.

What happens if you set the concurrency either higher or lower? Do you get different results? What I discovered on v6 which led me to refactor away towards v7 was that given too high concurrency my jobs wouldn't complete. I would, in fact, run into complete lockdowns where everything stopped working.

All the workers were busy but not a single one processing

[2019-10-15 15:01] roman-melnyk commented on #432
for `until_and_while_executing` - tried concurrency 1 and 10 - still the same delay on job pushing,
for `while_executing` - yep, seems on concurrency 1 all jobs start, retry and finish properly, for 2 or more - some jobs disappear

[2019-10-15 16:17] mhenrixon commented on #432
@roman-melnyk the delay on push will be because you are having a lock timeout of 5 minutes. I strongly recommend against that but it shows the need for separating the lock timeout for client and server middlewares.

[2019-10-15 16:46] KevinColemanInc commented on #412
It is definitely still happening on the new version :-/ I will try to find time to create a test repo for you.

[2019-10-21 12:18] unlimit commented on #412
I faced with the same issue, but in my case reason was following:
Instead of passing class const here
`Sidekiq::Client.push('class' => MyWorker, 'args' => [1, 2, 3])`
I passed class string
`Sidekiq::Client.push('class' => 'MyWorker', 'args' => [1, 2, 3])`

Job will be performed in both cases, but lock will be removed only for class const.

[2019-10-21 12:19] mhenrixon commented on #412
@unlimit thanks! I will make sure the lock is always a string!

[2019-10-24 00:18] blarralde opened #436 "Timed out warning in rspec"
**Describe the bug**
Messages like `2019-10-24T00:13:30.832Z pid=38356 tid=ov5ssjgco uniquejobs=client =uniquejobs:7bfb0aeacb5a27f3f85cc74cfa565eb4 WARN: Timed out after 0s while waiting for primed token (digest: uniquejobs:7bfb0aeacb5a27f3f85cc74cfa565eb4, job_id: f32958f9c6cf8bf6a2f4ea4b)` output all over my tests.

**Expected behavior**
I'd prefer it doesn't.

**Worker class**
[code]

**Additio

[2019-10-24 20:10] mhenrixon commented on #436
The either set the Sidekiq logger, the sidekiq unique logger to nil or even better: read the README section about testing https://github.com/mhenrixon/sidekiq-unique-jobs#uniqueness. I recommend against testing for uniqueness in your project.

Let me know if you have any questions or feedback on that. I could turn it off automatically but not all projects have a rack or rails env and the default n

[2019-10-24 20:57] glennfu commented on #418
I'm running `v7.0.0.beta2` right now, and it seems to have actually solved this issue for me, and also another issue where I'd run `perform_later` and get no `provider_job_id` and the job wouldn't get enqueued. So far I'm really happy about all that, jobs are running and not being skipped. I'm back to using `:until_executed` which I want, but in the last 15 minutes I've gotten this error reported

[2019-10-25 00:32] glennfu commented on #418
More importantly, it seems that this problem gets worse over time until it kills all sidekiq processes permanently. Even my app instances are getting and throwing this error when attempting to enqueue jobs.

[2019-10-25 01:14] blarralde commented on #436
Thanks @mhenrixon, this did the trick:
[code]

[2019-10-25 01:14] #436 closed

[2019-10-25 03:56] mhenrixon commented on #418
@glennfu I know what the problem is. I honestly didn't consider multiple sidekiq instances so I will work on fixing that going live.

[2019-10-25 03:57] mhenrixon commented on #418
@glennfu basically what happens is that the orphan reaper is running on all processes and it runs lua from all three possibly then at the same time. I can imagine how that would cause problems.

[2019-10-25 04:22] glennfu commented on #418
Good to know. Also maybe some consideration into shutdown procedure. I scaled down to a single process, and I thought I was ok, but as I re-deployed, there's technically 2 running at the same time for a small amount of time. It would be nice if this also didn't cause the kaboom.

[2019-10-25 14:30] glennfu commented on #418
Also just FYI I've rolled back to 5.0.11 and everything seems good there.

[2019-11-06 22:47] amitsaxena opened #438 "Deletion of digest doesn't work from admin UI"
**Describe the bug**
When I try to delete a digest from sidekiq dashboard under `unique digests` tab, nothing happens and the digest stays. I am talking about this interface:
<img width="443" alt="unique_digests_1" src="https://user-images.githubusercontent.com/65611/68344433-47cca880-00ef-11ea-8eba-581864774f3e.png">

The digests I was trying to delete were some stuck locks preventing further job

[2019-11-13 11:56] joscal-nl commented on #411
@mhenrixon Is there any progress or status update for this report?

[2019-11-15 09:17] mhenrixon commented on #438
Super weird, are you using rails, sinatra, rack, grape? How do you run sidekiq web?

[2019-11-16 01:17] amitsaxena commented on #438
I am using `Rails 5.2.2.1`. We mount it as per the standard recommendation:
[code]

[2019-11-19 13:26] EGibbs87 opened #440 "Some jobs seem to be treated as duplicate despite empty queue"
I have a job that I want to run every hour on about 60 items, but a select number of those items (typically around 10 or 15) seem to be treated as duplicates, and thus won't send the job for processing.

[code]
I first verified, both on the GUI dashboard and in the console, that the queue is empty and there are no busy or enqueued processes:

[code]
When I manually run something like: `MyWorker.pe

[2019-11-20 13:36] tacticiankerala opened #441 "Redis is busy running script and script never terminates"
**Describe the bug**
I was trying to upgrade to v7-beta2 of this gem. After I've upgraded and restarted sidekiq, I've started getting Redis error. Upon investigating I found out that a script is blocking all Redis operations. I think it might be the lock migration script that is causing this. Here are the details of my current setup

OS: Mac OS High Sierra
Redis: v3.2.9
Sidekiq: v5.2.7
Sidekiq Uni

[2019-11-20 13:39] mhenrixon commented on #441
Hi @tacticiankerala thanks for the report!

Could you try to switch to the ruby version of the reaper?

[code]

There are other things you can do to control the reaper like `reaper_interval`, `reaper_frequency`, `reaper_timeout` to reduce the problem.

[2019-11-20 13:41] tacticiankerala commented on #441
Sure. Let me try this out!

[2019-11-20 13:58] tacticiankerala commented on #441
@mhenrixon changing it to `:ruby` reaper did not solve this. I've had only 4-5 uniquejobs keys in redis. They seems to have upgraded when I checked after killing the running script. See the keys below:
[code]

[2019-11-20 14:04] tacticiankerala commented on #441
Actually, I've modified the uniqueness key digest to make it play nice with different tenants we have. That could be messing this up as well. Could you confirm?
[code]

[2019-11-20 14:10] mhenrixon commented on #441
No, you are right. It must be the migration script then. I’ll have to think a little on this... baffled by it to be honest

[2019-11-20 14:45] tacticiankerala commented on #441
I think I was wrong and you are right about the source of problem is not the migration script. I see the following logs
[code]
[code]

Let me investigate a bit more and comeback. Meanwhile if you have any more pointers or any specific things I  should look for, please let me know.

[2019-11-20 14:48] amitsaxena commented on #438
I am not sure if it's related, but I also see warnings like this:
[code]

[2019-11-20 14:55] amitsaxena commented on #440
It could be that your lock is not getting released when the job finishes. Check that "Unique Digests" tab in Sidekiq admin to see if there are some digests which don't seem to go away? We have also seen an increase in orphaned locks recently and it might be pointing to some issue with the gem, but clearing those locks from redis manually (the delete button doesn't seem to work either: see https://

[2019-11-20 14:56] #440 closed

[2019-11-20 15:26] tacticiankerala commented on #441
I was able to narrow down the issue to `SidekiqUniqueJobs::Orphans::Reaper#belongs_to_job?`

[code]

this is what is causing the issue. I'll look into the exact script and let you know my further findings

[2019-11-20 15:36] serg-kovalev commented on #411
It still fails on `6.0.15`
[code]

[2019-11-20 21:45] amitsaxena commented on #393
@mhenrixon this has been happening a lot to us on Production recently and is breaking our crons (which use https://github.com/ondrejbartas/sidekiq-cron). It will be nice to disregard the lock after a specific amount of time and make it configurable. What's the recommended way to achieve this, instead of manually deleting the locks? If there isn't a way, I'll have to write a cron that looks at redi

[2019-11-21 11:31] mhenrixon commented on #393
@amitsaxena though it might not be a global setting `lock_expiration` is used for this purpose. In v7 there is also the `orphan reaper` that cleans out stale locks.

[2019-11-21 13:51] amitsaxena commented on #393
Ahh! That seems to be missing from `master` README. But anyways @mhenrixon I tried it, and it doesn't seem to work as expected. We have this in the job:
`sidekiq_options queue: :subscription, retry: false, lock: :until_executed, lock_expiration: 1.minute.to_i, on_conflict: :raise`

So I am expecting if there is a lock in redis for more than 1 minute and I schedule a new job, it should get added to

[2019-11-24 15:41] #441 closed

[2019-11-24 15:43] mhenrixon commented on #441
Try beta3 @tacticiankerala this problem should be no more 👍 thank you for taking the time to report

[2019-11-25 04:55] tacticiankerala commented on #441
Thank you so much for the quick turnaround! I'll try it out and report back.

[2019-11-25 06:36] tacticiankerala commented on #441
Redis is no longer getting blocked after upgrading to beta3. But, noticing the below exception in the logs:
[code]

[2019-11-25 06:40] tacticiankerala commented on #441
@mhenrixon : I think this line is causing it - https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/lib/sidekiq_unique_jobs/orphans/reaper.rb#L214

[2019-11-25 07:04] mhenrixon commented on #441
Ah, of course. Thanks @tacticiankerala I will fix it in a couple of hours!

[2019-11-25 08:13] mhenrixon commented on #441
@tacticiankerala `v7.0.0.beta4` fixes the last issue. Keen to hear how it is working out for you. Keep in mind that you can tweak the reaper to run more or less often, how long it should be allowed to run and how many orphans it should clean on every run.

Let me know how you get along with it!

[2019-11-25 19:16] mhenrixon commented on #411
@serg-kovalev @joscal-nl I'm looking into it right now

[2019-11-25 21:17] mhenrixon commented on #411
Another fix for until and while executing has been released. See #447 for the diff (new version v6.0.16). I will have to test this particular scenario as well (haven't done that yet) but it should be more reliable now even if this particular issue wasn't fixed.

[2019-11-26 10:56] mhenrixon commented on #438
Will be released as `v6.0.17` shortly

[2019-11-26 11:49] mhenrixon commented on #438
Released a fix as `v6.0.17`

[2019-11-26 11:55] mhenrixon commented on #418
@glennfu I will fix the issue with multiple reapers now.

[2019-11-26 12:39] #416 closed

[2019-11-26 12:58] mhenrixon commented on #412
@unlimit I can't replicate the problem you describe with passing constant vs passing string. I try both and my tests pass nicely. Could you provide a repo where this problem is show cased?

[2019-11-26 13:14] unlimit commented on #412
@mhenrixon unfortunately I can't provide you with a repo, but I can provide you with details:
ruby-v '2.5.1'
sidekiq '6.0.0'
sidekiq-unique-jobs '6.0.13'

Could you please show your test?

[2019-11-26 14:13] mhenrixon commented on #412
@unlimit you can see the tests here : https://github.com/mhenrixon/sidekiq-unique-jobs/pull/454/files there `push_client` uses `Sidekiq::Client.push` underneath the hood : https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/spec/support/sidekiq_unique_jobs/testing.rb#L777

[2019-11-26 14:26] mhenrixon commented on #235
Added to readme! Thank you for reporting

[2019-11-26 14:26] #235 closed

[2019-11-26 20:59] mhenrixon commented on #417
@collimarco the problem with your suggestion is that it might lead to duplicate jobs, which is precisely why v7 was created that takes a slightly different approach and automatically reaps orphaned locks (locks without a matching job).

When pushing a job it should be locked until the reaper detects that the lock is orphaned or the job completed.

In case you delete the job, the lock should also b

[2019-11-26 21:31] #412 closed

[2019-11-26 22:09] KevinColemanInc commented on #412
I am definitely still experiencing this problem as well. I don't know if it make sense to close this issue yet.

[2019-11-27 07:00] tacticiankerala commented on #441
@mhenrixon : Just got a chance to test this and it works great! Thank you so much for fixing the issues in no time. Really appreciate all your effort :)

[2019-11-27 09:55] mhenrixon commented on #412
@KevinColemanInc I’m sorry I wasn’t clear enough a out why I closed the issue.

These issues are or will be fixed in v7 which is also more robust. As much as I’d like to support v6 I just don’t have enough time in a day to do both.

I’ve rewritten the locking mechanism almost completely, added features and am working on some guides for using the various features.

I’d urge you to try out v7 and op

[2019-11-27 11:46] unlimit commented on #412
@mhenrixon please check this repo - https://github.com/unlimit/sidekiq_uniq_example. You will find details in readme.
I also think you shouldn't close this issue. v7 also may have it!

[2019-11-28 07:04] bunyan opened #457 "A worker with "While Executing" lock and "Reschedule" strategy is rescheduled forever"
**Describe the bug**
A worker with `lock: :while_executing` and `on_conflict: :reschedule` is being rescheduled in a loop after completion.

**Expected behavior**
Usual Sidekiq worker behaviour, i.e. job being removed from queue after execution.

**Current behavior**
"Reschedule" strategy runs after the worker code is executed scheduling it to be run again 5 seconds after completion.

**Worker cla

[2019-11-28 09:50] mhenrixon commented on #412
@unlimit upgrade to `v6.0.18`. The problem is no more

[2019-11-28 09:50] mhenrixon commented on #412
@KevinColemanInc same for you and @ky1007. Sidekiq changed a little in v6 :)

[2019-11-28 09:54] mhenrixon commented on #457
Which version of the gem are you using @bunyan?

[2019-11-28 10:39] bunyan commented on #457
@mhenrixon,
sidekiq-unique-jobs is 7.0.0.beta5
sidekiq is 6.0.1
Ruby version is 2.5.6

[2019-11-28 11:14] mhenrixon commented on #457
I'll get it fixed right away @bunyan

[2019-11-28 11:32] unlimit commented on #412
Yes, lock was properly removed for `v6.0.18`! Thank you!

[2019-11-28 12:25] mhenrixon commented on #457
Will be fixed in beta7 @bunyan. Should be released in 10 minutes or so

[2019-11-28 12:45] #457 closed

[2019-11-28 12:51] bunyan commented on #457
Great, thank you @mhenrixon!

[2019-11-28 12:51] mhenrixon commented on #457
Try the new version, now I also have a regression test for it!

[2019-11-28 12:58] bunyan commented on #457
Works fine now with the beta7 👍🏻

[2019-11-28 12:59] mhenrixon commented on #432
@roman-melnyk can you try to upgrade `sidekiq-unique-jobs` and let me know if you are still having trouble? I've released quite a few bug fixes since you posted this.

[2019-11-28 14:10] mhenrixon commented on #411
Version to test right now is `v6.0.18` if anyone could give it a try @serg-kovalev @joscal-nl @piton4eg

[2019-11-28 15:16] mhenrixon commented on #379
I am going to close this issue. It has been fixed on master (version 7) that no locks will keep being locked forever.

I'd like new fresh issues opened in the future so better be able to track and fix things on the fresh version. I hope you guys don't mind!

[2019-11-28 15:16] #379 closed

[2019-11-28 15:17] mhenrixon commented on #392
Later versions should have this added so closing this issue.

[2019-11-28 15:17] #392 closed

[2019-11-28 15:19] mhenrixon commented on #384
@danpolyuha there has been numerous releases of `v7.0.0.beta(n)` I suggest you give it a go and open new issues for any problems you encounter.

[2019-11-28 15:19] #384 closed

[2019-11-28 15:20] mhenrixon commented on #334
Closing due to inactivity. I requested more information and didn't get a reply.

[2019-11-28 15:20] #334 closed

[2019-11-28 15:22] mhenrixon commented on #365
Closing due to inactivity.

[2019-11-28 15:22] #365 closed

[2019-11-28 16:28] #402 closed

[2019-11-28 16:47] mhenrixon commented on #417
I'm going to go ahead and close this one. I'm going to focus on v7 as much as possible. If you have any issues at all with version 7 open a new issue and I will tackle it immediately.

[2019-11-28 16:47] #417 closed

[2019-11-28 16:49] mhenrixon commented on #391
You are right. I know what to do about this now. Thank you for reporting

[2019-11-29 08:17] tacticiankerala commented on #391
This is not a blocker by any means. But, a nice to have to be fixed. Let me know if you need anything.

[2019-11-29 16:20] KevinColemanInc commented on #379
I just updated to version `6.0.18` and I am still experiencing this issue dangling values. They seem to be expiring on their own, but not necessarily when the job finishes. This has the effect of "this jo can only be run every X seconds".

<img width="520" alt="image" src="https://user-images.githubusercontent.com/2381771/69881046-b984b600-1299-11ea-95e0-cbe836484eaf.png">

[2019-11-29 16:25] mhenrixon commented on #379
@KevinColemanInc is your problem also related to cron? If not could you open a new issue with all the details regarding your specific case?

[2019-12-03 09:01] joscal-nl commented on #411
@mhenrixon We tested it with out own application.
It works! Thank you for your effort.

`2019-12-03T08:47:44.682Z 82040 TID-owasvmh3s WARN: RuntimeError: BOOM!
2019-12-03T08:48:54.479Z 82040 TID-owasvb7hg StockItemWorkers::ValidatingStockItemWorker JID-9bd0e7c07d295a389ee20349 INFO: start
2019-12-03T08:48:54.485Z 82040 TID-owasvb7hg StockItemWorkers::ValidatingStockItemWorker JID-9bd0e7c07d295a389

[2019-12-03 09:12] #411 closed

[2019-12-03 14:04] serg-kovalev commented on #411
@mhenrixon thank you!
I just checked, the fix works! Well done!

[2019-12-09 09:30] amitsaxena commented on #438
This doesn't seem to be fixed for us. We are currently on version `6.0.18`.

[2019-12-09 10:33] mhenrixon commented on #438
Do you still have the same warnings in your logs @amitsaxena?

[2019-12-09 11:36] roman-melnyk commented on #432
@mhenrixon  hi! I've tested a latest version of `sidekiq-unique-jobs` `7.0.0.beta9` with `sidekiq` `6.0.3` with this slightly modified script
[code]
so, for the concurrency 1 it seems to work correctly:
[code]
[code]
jobs a0 and a1 have raised an exceptions, and have been retried after jobs a2, a3 and a4
but for cuncurrency 10 I get this
[code]
[code]
jobs a0 and a1 have raised an exceptions, and

[2019-12-09 13:25] mhenrixon commented on #432
@roman-melnyk is it a rails app? If so, for some reason Sidekiq doesn't do what it should... It is a Sidekiq bug related to rails reloading feature. The block that is supposed to execute your worker code isn't executed.

The problem is here: https://github.com/mperham/sidekiq/blob/master/lib/sidekiq/processor.rb#L131 the @reloader.call` is never called. That whole block is skipped UNLESS... you ad

[2019-12-09 23:17] amitsaxena commented on #438
@mhenrixon Yes I still see the same warning.

[2019-12-16 08:02] danilvoe opened #464 "Tasks run once, and then there is no launch"
1. I add a task.
2. It is scheduled
3. When the time comes for repeated execution it does not work, in the logs at this moment the inscription appears - the unique_key: uniquejobs:eb3c5540017ce14b28c087bb550569fb is not locked, allowing job to silently complete

If the tasks are launched through the sidekiq interface, then the launch occurs, but according to the schedule, the task does not start.

[2019-12-17 18:13] roman-melnyk commented on #432
@mhenrixon I've tried with `config.cache_classes = true` and `config.eager_load = true` - and got the same result

[2019-12-19 12:09] giddie commented on #440
This is happening very frequently for us - I have to wait for the queue to clear and delete all outstanding unique digests on a daily basis to ensure that jobs actually run. Is there something I should be looking into to mitigate / debug this?

[2019-12-19 12:39] EGibbs87 commented on #440
I'm not really sure what's causing the actual orphaned digests, but in case this can help you, this is the script I wrote to clear them, which runs every 10 minutes.  I'll note that in my case, I set it up to only clear the digests if there are currently no other workers running.  Naturally, I'm unsure if the nature of your applications affords you that luxury:

[code]

[2019-12-27 16:24] hiepdinhxxx commented on #464
I have the same issue :( I was bypass this issue by option `on_conflict: :replace`

[code]

[2020-01-08 20:28] glennfu commented on #418
I just tested 7.0.0beta8 on my staging server, and quickly this problem resurfaced. I even went into the UI to clear all the locks and test here. Here's some log output:

[code]

As you can see, uniquejobs spits out a warning, and then nothing enters the queue. If I run `HealthCheckJob.perform_now` it works fine. Sidekiq and app logs confirm no new job was entered or processed.

@mhenrixon any new

[2020-01-09 09:54] mhenrixon commented on #394
Not really @axos88, I've been out most of December due to back pain. Then before Christmas my wife had surgery and I've been taking care of the kids since then. This year I started a couple of new gigs so I haven't had a chance to dig into sidekiq unique jobs for a while.

I'll get there shortly though.

[2020-01-09 10:02] mhenrixon commented on #418
No new ideas yet. I'm struggling a bit with how to debug this. I found some issues while running things using pry but it is cumbersome to say the least. Locally I found that I have to use rails `config.cache_classes = true` and eager loading everything or sidekiq won't execute any middleware at all.

Then I was out with back pain most of December, my wife had surgery and I've not had a chance to d

[2020-01-09 10:20] axos88 commented on #394
Well I guess it's only upwards from there... Hang tight :)

[2020-01-09 15:01] glennfu commented on #418
My Staging is a mirror of Production, and I can reproduce the issue on both. `cache_classes=true` on both. I can reproduce it more easily on Production, where there's lots more jobs and activity.

Here's an interesting bit happening right now on Production (sidekiq_unique_jobs v5, although I can get similar behavior on staging with v7beta8): I have a job, let's call it `ThingSyncJob`. It takes 1 a

[2020-01-09 15:39] mhenrixon commented on #418
@glennfu hot tip is to `debug_lua: true`, `max_history: 10_000` and `lock_info: true` on v7 config. Those should give a little input. If possible for you to follow the redis log you can track all commands that are being sent. The logs contains the script name that is called eg. `lock.lua`, `delete.lua` etc.

[2020-01-09 15:47] glennfu commented on #418
I just tried with these settings:
[code]

Unfortunately, I instantly had a massive surge of duplicated jobs. I usually float around 20-40 jobs in queue at any given time, and after a few minutes I had 470 jobs. My clock kept crashing (no error in logs) and I didn't see any out put from sidekiq-unique-jobs in any of my log files, even though I'm watching everything, including the Sidekiq logs, wher

[2020-01-09 16:18] glennfu commented on #418
On the upside, the process of upgrading/downgrading cleared out my locks, which means `ThingSyncJob.perform_later(10)` works again for the time being. In v6+, the web ui has a way to list and delete locks. Is there a way in v5 I can say "delete all locks"? That would be super handy when this bug pops up on me again.

[2020-01-09 17:42] glennfu commented on #418
OK I felt bold and tried a bit slower. I deployed it again without my clock, and manually enqueued some jobs for testing. With `config.default_lock_timeout    = 10.minutes` it would literally wait until the considered job was finished and cleared the queue, and then enqueue the job again. With `3.seconds` it would wait 3 seconds, and then enqueue it again, despite the fact that the job was already

[2020-01-16 08:32] dbackeus commented on #379
@mhenrixon Could you post a reference to the commit / PR that fixed this issue?

[2020-01-22 11:51] sharq1 opened #466 "validate_worker! throws error"
**Describe the bug**
Testing using minitest and when calling `validate_worker!` I get an error. Test includes only this single line:
[code]

I don't require any of your test-related libs as it looks to me they're meant only for Rspec, as tests exit immediately with an error when I include `require "sidekiq_unique_jobs/testing"`:
```/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/sidekiq-unique-job

[2020-01-22 11:52] mhenrixon commented on #466
HAH! I obviously forgot that some people are not even using RSpec to test their code :)

Thanks for the reminder, I'll try and get a fix for this sometime this week.

[2020-01-22 12:00] sharq1 commented on #466
Wow, that's a fast response... Thank you!

[2020-02-06 14:31] axos88 opened #468 "until_expired is not setting TTL"
**Describe the bug**
  As far as I understand, this should create a lock with a TTL of 5 seconds, and allow the job to be enqueued every 5 seconds only. I'm not sure wether the counter should start from the time on enqueument, time it stated executing, or the time it finished. Anyways the job is pretty fast, so these are almost the same, but some documentation would be helpful.

**Expected behavio

[2020-02-07 12:35] mhenrixon commented on #468
Hi @axos88, thanks for the report. May I ask which versions you are on? Sidekiq, sidekiq unique jobs, redis ruby client, redis server etc?

Also would help if you could shed a light on any configuration you have for sidekiq like what other middleware are you using and so on and so forth?

[2020-02-07 17:22] axos88 commented on #468
Hah. Yeah, sorry :)

Ruby 2.7.0

[code]

No other middleware than the ones listed above.

[2020-03-08 20:29] blanchma commented on #468
Similar issue

[2020-03-08 22:07] blanchma opened #471 "With v6.0.18, Sidekiq doesn't run at all"
**Describe the bug**
The sidekiq process run but no jobs are processed.

**Expected behavior**
A job is enqueued. A job is processed.

**Current behavior**
No job is processed with or without unique locks.

**Worker class**

[code]

**Additional context**
sidekiq (6.0.4)
      connection_pool (>= 2.2.2)
      rack (>= 2.0.0)
      rack-protection (>= 2.0.0)
      redis (>= 4.1.0)
    sidekiq-uniqu

[2020-03-16 00:06] anson2590 opened #472 "undefined method `unique_args_enabled=' for #<SidekiqUniqueJobs::Config:0x00007faa65009828>"
I am getting an error that says "undefined method `unique_args_enabled='".
It was working till 5.0, I upgraded to 6.0.18 started getting this error when I start rails server.
can you please help what may be the fix for this

[2020-03-21 14:19] mhenrixon commented on #471
Seems related to https://github.com/mhenrixon/sidekiq-unique-jobs/pull/435

[2020-03-21 14:37] mhenrixon commented on #472
I need some more information from you to be helpful.

Are you for instance using the gem with ActiveJob? If so, I will not be supporting that moving forward. It has proven too hard to maintain a good solution for Activejob. I recommend you turn to using sidekiq directly instead.

[2020-03-21 18:26] mhenrixon commented on #471
If you change to `sidekiq_options(retry: 3, lock_expiration: 10, lock: :until_executing)` it should work properly @blanchma

[2020-03-21 19:15] mhenrixon commented on #471
Fixed in v6.0.19 and I also yanked the broken gems

[2020-03-21 19:15] #471 closed

[2020-03-21 19:23] mhenrixon commented on #468
@axos88 can you replicate this in a test? I tried the following but it seems to be working in the test suite at least:

[code]

This was tested on `v6.0.19`, I yanked .15-.18 because of a bug that was introduced in .15.

[2020-03-21 19:25] mhenrixon commented on #468
The only thing I can think of would be that one of the other gems are incompatible or misconfigured (in regards to how they relate to this gem).

[2020-03-21 19:54] #466 closed

[2020-03-21 20:01] mhenrixon commented on #466
The fix while simple unfortunately took a while. Released as `v7.0.0.beta11` a few minutes ago @sharq1

[2020-03-21 20:21] sharq1 commented on #466
Thank you very much!

[2020-03-21 20:40] mhenrixon commented on #438
@amitsaxena the problem is with redis-namespace preventing this. The way sidekiq wires up redis-namespace prevents this gem from working properly. If you have any suggestions I'm all ears but currently my commands won't work because I can't use redis-namespace with lua scripts and the gem is all about lua scripts.

[2020-03-21 20:46] mhenrixon commented on #438
This is documented here https://github.com/resque/redis-namespace#administrative-commands and I see no way to fix this in an easy way. I would have to manually namespace the keys somehow and I'm not sure I want to support that.

Mike Perham recommended strongly against using redis-namespace already back in 2015 https://www.mikeperham.com/2015/09/24/storing-data-with-redis/ and then went on to prov

[2020-03-21 20:47] mhenrixon commented on #438
Closing due to limitations in `redis-namespace`.

[2020-03-21 20:47] #438 closed

[2020-03-21 20:48] mhenrixon commented on #464
@hiepdinhxxx are you also using sidekiq-cron?

[2020-03-21 20:50] mhenrixon commented on #464
@danilvoe I'm not sure if you managed to get past the problem, I'd be interested in learning more about that setup. I've come across some situations with other sidekiq plugins/middleware causing problems for me.

[2020-03-22 02:54] ziguzagu opened #478 "Please keep some recent versions on rubygems.org"
**Is your feature request related to a problem? Please describe.**

Immediately after v6.0.19 was released, the latest version of v6.0.18 was removed, causing `bundle install` to fail and our deployment to begin to fail on the weekend...

**Describe the solution you'd like**

We want to keep some of the latest versions of rubygems.org, at least two of them.

Thanks for developing useful gem.

[2020-03-22 10:58] mhenrixon commented on #478
Sorry, it was late last night when I fixed some bugs. I was going to release new versions with a gem install warning but I forgot the last step.

Will fix immediately, sorry about that

[2020-03-22 11:18] mhenrixon commented on #478
Alright! All gems re-released with a post-install message as intended.

Please see:

1. https://github.com/mhenrixon/sidekiq-unique-jobs/issues/435
2. https://github.com/mhenrixon/sidekiq-unique-jobs/issues/471

For information about the issue (in case you are still using `unique: :lock_type`.

[2020-03-22 11:18] #478 closed

[2020-03-22 11:22] mhenrixon commented on #468
Sorry, I tested it on the wrong branch! Was a little late last night 🤔I can replicate it with this spec on branch `v6.x`. I cannot replicate the issue on `v7.0.0.beta11`

[2020-03-22 11:39] mhenrixon commented on #468
@axos88 it seems like you are using v7 configuration for v6. `lock_ttl` was introduced in v7 and the right key to use is `lock_expiration`. That said, it is a small thing to allow `lock_ttl` in the v6 branch so I added it in #479.

It will be released as v6.0.20 in 20 minutes or so.

[2020-03-22 12:14] #468 closed

[2020-03-22 12:48] mhenrixon commented on #418
@cpiazza I accidentally introduced a bug in 6.0.15 that prevented unlock from working when using `unique:` instead of `lock:`. This has since be fixed in 6.0.19 and 6.0.20 fixed another similar issue that people had with accidentally using `lock_ttl:` instead of `lock_expiration:`.

I've added a warning when installing said 6.0.15-18 by re-releasing the gem with a post_install message.

Out of cur

[2020-03-22 12:51] vitalinfo opened #480 "Yanked version"
what the reason to delete version from the rubygems which is 4 months old?

version 6.0.18

[2020-03-22 12:54] mhenrixon commented on #480
I needed to add a post install message that in a specific situation there was a bug preventing locks from being unlocked.

I just forgot to re-release the gems because it was late and I was exhausted.

They are all back now with a post install message recommending to either change the configuration or upgrade to a later version.

[2020-03-22 13:00] vitalinfo commented on #480
@marclennox I've added workaround to our Gemfile
`gem 'sidekiq-unique-jobs', git: 'https://github.com/mhenrixon/sidekiq-unique-jobs', tag: 'v6.0.18'`

because for us is to risky to update production servers with newer version with the nearest weeks

[2020-03-22 13:01] mhenrixon commented on #480
@vitalinfo there isn't any need anymore, the gems have now been re-released. See #478 for more information.

[2020-03-22 13:07] mhenrixon commented on #480
Oh, sorry, I must have misread something. Yanks are irreversible, sorry about that @vitalinfo. I was under the impression I could just change the post install message and release it again.

[2020-03-23 09:00] gogiel commented on #480
On Rubygems there's version `6.0.20` released. It's not mentioned in the changelog. Which version is current?
Thanks

[2020-03-23 09:03] mhenrixon commented on #480
@gogiel it just contains a backport for a v7 configuration option that some people mistook for active in v6. v6.0.19 contains a bug fix for unlocking logs (similar fix as for 6.0.20). Both are 100% safe to upgrade to, I update the changelog now.

[2020-03-23 09:05] mhenrixon commented on #480
Unfortunately, I run into rate limits in my script to update the changelog so need to figure that out first.

[2020-03-24 09:33] mhenrixon commented on #480
Ok! Changelog is updated as well. Must be a daily limit or something on the github API.

[2020-03-25 08:28] mhenrixon commented on #478
Unfortunately, like stated in the linked issue (#480) I cannot re-release a gem. I am powerless to change that.

[code]

Was how someone solved the issue. It is 100% safe to upgrade though, you can read about the change in the changelog:

1. [v6.0.20](https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/CHANGELOG.md#v6020-2020-03-22)
2. [v6.0.19](https://github.com/mhenrixon/sidekiq-unique

[2020-03-27 18:54] iainbryson commented on #472
@mhenrixon Hi!  I've the same problem in upgrading 5->6.  For me  it's explicitly in the config block:

[code]

I inherited the code so I'm not 100% sure what this was supposed to be doing in the previous version, and whether it's now the default or whether there's another way to get the same semantics.

[2020-03-27 19:39] mhenrixon commented on #472
@iainbryson: that configuration option should just be deleted. Make sure it looks like this instead:

[code]

If you are using ActiveJob, there is no proper supported way to use worker specific configuration. There are some people hacking together solutions that work for them and ActiveJob but nothing officially supported.

It was too much work since I never used ActiveJob myself.

[2020-03-27 19:43] iainbryson commented on #472
@mhenrixon perfect, thanks!

[2020-03-28 02:15] anson2590 commented on #472
@mhenrixon great thanks for the help, I will do the same.

[2020-03-30 08:31] mhenrixon commented on #472
Cool, let me know if you have any other issues. Meanwhile I'll close this ticket then :)

[2020-03-30 08:31] #472 closed

[2020-04-03 06:33] mxhoncharov opened #486 "SIGKILL handling feature"
Hi,

After a pretty long investigation, I've found interesting thing about handling SIGKILL or any other accidents inside `SIdekiq` and `SidekiqUniqueJobs`.

For now, if `Sidekiq` server was killed and some jobs were lost during this process (not returned to the queue) there are persisted unique digests which are not cleanable (except the case when it has TTL). It becomes a huge problem on Heroku

[2020-04-03 08:43] mhenrixon commented on #486
Hi,

One of the reasons for v7 was to provide reaping of keys that should be removed but for whatever reason wasn’t so I’m not sure it makes sense for v7.

That said I’m going to have a look for v6 and possibly v5 (though not as many problems there).

I’ll get back to you later

[2020-04-04 08:31] sunny opened #487 "ActiveJob support"
Since the [Sidekiq documentation](https://github.com/mperham/sidekiq/wiki/Active-Job) has been updated to indicate that:

Could ActiveJob support be reconsidered for sidekiq-unique-jobs?

(Related to #221 #238.)

[2020-04-04 13:37] mhenrixon commented on #487
If all the sidekiq options are supported then nothing will have to be done for it to work. The problem with ActiveJob used to be the sidekiq middleware and customizing anything on a per-job basis.

I hope this doesn't come off as offensive (definitely not my intention); I still don't understand why anyone would choose to use ActiveJob when having access to Sidekiq. It just doesn't make sense to me

[2020-04-04 13:40] mhenrixon commented on #486
So I had a look at the code, I like how simple it is :) I'm not sure how performant it is for really large systems but I'm happy to support something like this for v6. For v7 I think I'll keep improving on the existing solution because it is already a little more hmm what is the word I'm looking for... sophisticated!

[2020-04-05 02:24] yaoyi opened #488 "Reaper will delete locks for running jobs"
**Describe the bug**
we currently have many long-running jobs, which may take 10 - 60 minutes each, and use until_executed lock, but reaper cleans up locks for running jobs,  and allow same jobs enqueued, and this also blocks the reaping for real orphans

**Expected behavior**
same jobs should not be enqueued after reaping
reaper should not clean up the locks for any running jobs if the lock type

[2020-04-05 05:53] yaoyi opened #489 "Lua script bug"
current implementation
[code]
when next cursor is not 0,  the `queues` still could be empty, so should not put `cursor = next_cursor` inside the for loop which might let cursor have no chance to get updated

[2020-04-05 06:02] mhenrixon commented on #489
Thanks for the report @yaoyi, I’ll have a look at this today.

[2020-04-05 06:36] yaoyi opened #490 "Reaper can't be registered again if sidekiq gets killed by SIGKILL"
if sidekiq gets killed by SIGKILL, reaper can't clear its flag in redis, so next time, if we start sidekiq again, reaper can't get registered, therefore,  the timer task will not start either, the reaper task will never run in this case unless you clear the flag manually

[2020-04-05 06:50] yaoyi opened #491 "Brpoplpush::RedisScript::LuaError: WRONGTYPE Operation against a key holding the wrong kind of value"
current implementation in `find_digest_in_queues.lua`
[code]
we have a key `cron_job:scheduler_create_sqs_queue:enqueued`, it is not a queue, but will match "\*queue\*", which cause the error above, guess either fix this case or warn user in the readme

[2020-04-05 06:56] yaoyi opened #492 "Duplicated scripts"
`lua/shared/_find_digest_in_sorted_set.lua` and `lua/find_digest_in_sorted_set.lua` are identical

[2020-04-05 07:37] mhenrixon commented on #490
Need a reaper reaper :) I’ll tackle this in the next day or two.

[2020-04-05 07:38] mhenrixon commented on #491
Shouldn’t be too hard to fix. I doubt the leading asterisk is necessary

[2020-04-05 07:39] mhenrixon commented on #492
Thanks for the report, I’ll sort it out to avoid nasty surprises.

[2020-04-05 07:41] yaoyi commented on #490
hi @mhenrixon , i think maybe you don't need to provide a reaper reaper, which make things more sophisticated, you just provide an api, and we can call it from other cron job, for now, my workaround is to run the `SidekiqUniqueJobs::Orphans::Reaper.new(redis_conn).execute_lua_reaper` with sidekiq-cron for every 30 minutes

[2020-04-05 07:42] mhenrixon commented on #488
Oof, I think it is a little more complicated than that. I believe we need to check if the job is checked out by any worker and if so skip cleaning the job.

Think that’s what is missing.

[2020-04-05 07:43] mhenrixon commented on #490
Great suggestion! Thanks for all the amazing bug reports. I will prioritize these tickets so that v7 can finally be released at some point!

[2020-04-05 17:00] sunny commented on #487
Hi @mhenrixon! Thanks for the clarification.

You're absolutely right to question using ActiveJob. I have been happily using Sidekiq without ActiveJob for years, and don't intend to switch away from using Sidekiq as a backend!

One of the benefits that I find is the fact that ActiveJob uses Rails’ [GlobalID](https://edgeguides.rubyonrails.org/active_job_basics.html#globalid)s. It simplifies worker

[2020-04-05 17:15] mhenrixon commented on #487
Thank you for sharing! I really appreciate the answer and then it makes way more sense why people are using it.

Given the support of sidekiq options work on a per job/worker I’d do everything I can to support it. That was hands down the root issue where we tried to globally handle every workers unique scenario in a single place.

I’ll have a proper read up on active job next week. Clearly missed

[2020-04-06 05:08] mxhoncharov commented on #486
@mhenrixon nice to hear :)
For now, we are a bit limited for using 7.x version, but it will be great if there will be such a handling system.

About performance, I think it's the best option to call it once during Sidekiq initialization. I haven't researched all the unique jobs architecture yet. So, I can't to make anything more elegant :) And not sure, that there is such need.

I'm really not sur

[2020-04-08 20:22] #488 closed

[2020-04-09 06:52] #489 closed

[2020-04-09 15:58] danielricecodes commented on #480
Yep.  Yanks are yanks 🤦‍♂️

My heroku builds started failing and I had to fix Bundler to the next version to fix the issue.  Yes this is conservative, I didn't want to go too high up and potentially introduce another issue. 6.0.19 is not yanked (as of right now).

`gem 'sidekiq-unique-jobs', '6.0.19'`

[2020-04-09 19:42] Matchlighter opened #495 "V7 - `on_conflict:` no longer accepts a Hash"
**Describe the bug**
Version 7 Beta 14 does not work when given a Hash for `on_conflict:`.
I'm running on Ruby 2.6.3.

**Expected behavior**
I can provide a Hash to `on_conflict:`

**Current behavior**
When the Conflict occurs, the following Error is thrown:
[code]

**Worker class**

[code]

**Additional Context**
I've boiled it down to these snippets `on_conflict&.(:[], :server)` & `on_conflict&.

[2020-04-10 05:53] mhenrixon commented on #495
Thanks for the report @Matchlighter, this will be fixed in the next version. I'll hopefully release a new version today.

[2020-04-10 05:56] mhenrixon commented on #491
This one was already addressed with #493 so closing this for now. I'll be releasing a new version today.

[2020-04-10 05:56] #491 closed

[2020-04-10 06:11] #492 closed

[2020-04-10 06:11] #495 closed

[2020-04-10 06:17] mhenrixon commented on #495
Released as v7.0.15

[2020-04-10 06:17] mhenrixon commented on #492
Released as v7.0.15

[2020-04-10 06:18] mhenrixon commented on #491
Released as v7.0.15

[2020-04-10 06:18] mhenrixon commented on #489
Released as v7.0.15

[2020-04-10 06:18] mhenrixon commented on #488
Released as v7.0.15

[2020-04-14 06:45] danilvoe commented on #464
@hiepdinhxxx

The worker is now defined:

[code]

As far as I remember, after determining the method of checking for uniqueness, the problem disappeared.

[2020-04-22 22:19] pavels opened #498 "Reaper doesn't work - lua or ruby"
Version of gem is >=7.0.0.beta15

I first tried to enable LUA reaper - it reaps running jobs. I have `lock: until_executed`, as soon as the jobs starts being processed by some worker, it's digest get's reaped. So with  reaper enabled, i see `Execution successfully returned 1` in the logs and the digest is gone.

Than i tried ruby reaper - i have just couple of jobs running (but they run very long,

[2020-04-23 07:55] mhenrixon commented on #498
Related to #488. Seems like there is still some adjustments needed for long running jobs.

[2020-04-23 14:26] simonoff commented on #486
@mhenrixon unfortunately reaper not cleaning the locks... even it possible to found a very old or them not cleared when on UI nothing, but when trying to fetch from from REPL - they are available.

[2020-05-06 17:55] jasonbekolay opened #499 "V7 Beta 15 `on_conflict:` with Hash does not work on server"
**Describe the bug**
Version 7 Beta 15 does not work on the server side only when given a Hash for `on_conflict:`. Server crashes when a conflict is detected.

**Expected behavior**
Conflict strategy is executed on the server when a conflict is detected.

**Current behavior**
Job crashes with stacktrace:

[code]

**Worker class**

[code]

**Additional context**
I'm using Sidekiq 5.2.8. I believe t

[2020-05-07 05:27] mhenrixon commented on #499
I recommend you upgrade to v7.0.16. It was fixed there

[2020-05-07 16:33] jasonbekolay commented on #499
Thank you for the quick response!

I don't see a release for 7.0.16. I tried against master and I'm still able to reproduce my issue. My reproduction steps are:

Worker class:

[code]

Start up multiple sidekiq servers. I have been running 4.

For my client, I boot up a rails console and run the following:

[code]

The client is solid, it works as expected when there's a conflict. If there's a con

[2020-05-10 13:20] eni9889 opened #501 "v7.0.0.beta15 Can't push new jobs to queue"
**Describe the bug**
After some time I am now unable to push any new jobs to a queue. I see no debug messages. When I call perform_asyc on the unique worker I get back a digest but no job is added to the queue. The issue continues even if I remove the lock param from the worker config. The only way to get things working is to change the name of the queue the worker is sending jobs to.

**Expected

[2020-05-11 08:08] mhenrixon commented on #501
How are the jobs pushed to the queue?

[2020-05-11 11:19] eni9889 commented on #501
Not sure if this is what you are asking but this:

[code]

[2020-05-11 11:20] mhenrixon commented on #501
That's exactly what I was looking for. I just saw ActiveJob in there and needed to know if it is related to ActiveJob or not.

[2020-05-11 11:21] mhenrixon commented on #501
@eni9889 what does your sidekiq/sidekiq-unique-jobs initializer look like?

[2020-05-11 11:39] eni9889 commented on #501
[code]

Happy to provide anything else

[2020-05-11 12:42] mhenrixon commented on #499
Ok, I see you point, the solution is much simpler than I thought. Will try to create a new release today.

[2020-05-13 07:03] anson2590 commented on #472
@mhenrixon when I run chef sidekiq instance is not stopping its going infinite, getting this error

`ruby_block[verify sidekiq process is running] action runWaiting for current instance to stop...`

<img width="794" alt="Screenshot 2020-05-13 at 12 36 22 PM" src="https://user-images.githubusercontent.com/30189967/81781568-f4ac3600-9515-11ea-8f97-55a14e1be9a8.png">

[2020-05-13 07:11] mhenrixon commented on #472
@anson2590 that is not because of this gem. You'd have to ask the sidekiq guys for help on this one I think.

[2020-05-13 07:15] anson2590 commented on #472
@mhenrixon sure I will ask them, Thanks for the update

[2020-05-18 17:24] jasonbekolay commented on #499
Thanks! I've been running in production with #500 for the past few days and it has been working well. I'll switch to the latest release whenever you're able to create it.

[2020-05-19 06:23] #499 closed

[2020-05-19 06:55] mhenrixon commented on #499
Released as `v7.0.0.beta16`

[2020-05-19 06:56] mhenrixon commented on #501
@eni9889 few more questions:

1. Which environments does this happen in?
2. Do you have any lock keys in the redis database?

[2020-05-19 16:16] jasonbekolay commented on #499
Thank you for the release. Unfortunately the release broke client locking for me, as the `on_conflict` hash is not deeply stringified on the client side. Solution in #506 is working for me.

[2020-05-21 12:19] #490 closed

[2020-05-21 12:23] mhenrixon commented on #490
@yaoyi I decided to make it a little more sophisticated. Since version 7.0.0.beta19 the reaper will now refresh a timestamp instead. Then when you boot up again after a sig kill it is less likely that you will run into problems with registration.

It still isn't perfect but baby steps in the right direction :)

[2020-05-21 12:25] mhenrixon commented on #498
Still having the same problem @pavels ? the PR #493 should have fixed it, curious if it really did or not.

[2020-05-21 12:27] mhenrixon commented on #486
@simonoff if the job is retried, scheduled, or being processed the keys will not be reaped (the job is considered active). Could that be the case? There are ways to debug what is going on if you care to help me out getting it solid.

[2020-05-25 17:21] alChaCC opened #509 "Able to assign customise Redis setup"
**Is your feature request related to a problem? Please describe.**

I got errors shown as below:

[code]

the main root cause is that I setup my Redis like this

![image](https://user-images.githubusercontent.com/966059/82832303-44630800-9eed-11ea-86a7-16c76db67d6c.png)

not sure how/where to configure like that while using the gem.

So, my work around is to make sure `REDIS_URL` included everythi

[2020-05-25 20:37] brandoncc opened #510 "How do I turn this on for only one job class?"
Thank you for your work on this project. It looks like everything imaginable is configurable!

Unfortunately, I have read the readme three times and I have not been able to figure out how to turn this on for only one job class. I see how to turn it on globally, but not by worker. It is very likely I just haven't wrapped my head around what a lock is and how it works.

Can you provide a basic examp

[2020-05-25 21:14] brandoncc commented on #510
It appears that you just add worker configuration, easy enough.

[2020-05-25 21:14] #510 closed

[2020-05-26 13:54] mhenrixon commented on #510
Didn't even make it to give you an answer. I will rewrite the documentation for the go live of v7. I also plan on writing some blog articles on how to use it to help people better understand how to wire it up and how I intend people to use the gem.

[2020-05-26 13:56] mhenrixon commented on #509
Usual practice is that the `REDIS_URL` includes the protocol so that you end up with `config.redis = { url: ENV['REDIS_URL'] }`

[2020-06-09 15:41] sylvainbx opened #514 "Missing web interface"
**Describe the bug**
According to the README file, we can setup a web interface using
[code]

**Expected behavior**
The web interface should be accessible

**Current behavior**
When starting my rails app, the following error message is shown and the process terminates immediately:
[code]

**Additional context**
I've made a research for any file named web in the gem directory but I couldn't find an

[2020-06-09 16:14] sylvainbx commented on #514
Ok, I've found myself the issue: for an unknown reason bundler has installed v5.0.2 by default, and the web ui is only available from v6

[2020-06-09 16:14] #514 closed

[2020-06-11 14:49] markiz opened #515 "Infinite loop in ruby reaper"
**Describe the bug**
https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/lib/sidekiq_unique_jobs/orphans/ruby_reaper.rb#L154-L165
This loop does not have an exit point.

**Expected behavior**
Reaper can finish.

**Current behavior**
Reaper loops indefinitely and is killed by timeout

[2020-06-11 17:56] markiz opened #517 "Ruby reaper incorrectly checks active jobs — removes every active lock as result"
**Describe the bug**
https://github.com/mhenrixon/sidekiq-unique-jobs/blob/master/lib/sidekiq_unique_jobs/orphans/ruby_reaper.rb#L120-L132

This method checks sidekiq process list, and not active jobs.

Process hash looks like this in our setup:

[code]

In sidekiq dashboard it looks like this:
![image](https://user-images.githubusercontent.com/53611/84422987-81860480-ac26-11ea-89ee-5c9dcf13855b.p

[2020-06-11 17:58] robinsingh-bw commented on #478
@mhenrixon I am seeing duplicate jobs with until_and_while_executing on version 6.0.22, had 6.0.15 earlier and it was working flawlessly. Any idea what could be causing this in the new versions?  I am reverting to 6.0.15 for now.

[2020-06-11 18:14] markiz commented on #517
https://github.com/mperham/sidekiq/blob/master/lib/sidekiq/api.rb#L925 I think what should have been used is `workers` instead of `info`, and iterate over all jobs. Or maybe use the Sidekiq API itself.

[2020-06-12 04:05] #515 closed

[2020-06-12 04:14] mhenrixon commented on #515
Fixed and released as `v7.0.0.beta21` @markiz, thanks for the report!

[2020-06-12 06:43] #517 closed

[2020-06-12 06:48] mhenrixon commented on #517
Released as [v7.0.0.beta22](https://github.com/mhenrixon/sidekiq-unique-jobs/releases/tag/v7.0.0.beta22)

[2020-06-12 08:24] markiz commented on #517
@mhenrixon thank you 🙏

[2020-06-12 08:25] mhenrixon commented on #517
@markiz Thank you for the wonderfully detailed bug reports. Made it a breeze to fix

[2020-06-12 11:44] markiz commented on #515
@mhenrixon FYI: this also fixes thread leaking, which occurs when ConcurrentRuby::TimedTask times out.

![image](https://user-images.githubusercontent.com/53611/84499411-3538d400-acbb-11ea-951b-e3637a777cbb.png)

Relevant issue here: https://github.com/ruby-concurrency/concurrent-ruby/issues/639

[2020-06-12 11:47] mhenrixon commented on #515
Jesus, had no idea! I'll have a look at the related concurrent-ruby issue tonight! Thanks a bunch for sharing that @markiz

[2020-06-18 15:19] alisherry opened #519 "Leaked keys in version 5.0.10"
**Describe the bug**
Our app is currently on version 5.0.10 of the gem, and we're currently in the process of removing it. We've attempted to upgrade to the latest version, but that caused infrastructure issues during deployment so we had to revert that.

We recently noticed that in our redis, there's a very large amount of keys in the `uniquejobs` hash. The current size is in the hundreds of mill

[2020-06-25 07:43] migalenkom opened #522 "The job gets JID and goes to dead right away"
**Describe the bug**
We have one instance with sidekiq and after some time it starts to work incorrectly. We go to console and call ```HeartbeatWorker.perform_async(false, nil)``` , it shows JID and goes to dead right away.
[code]
In logs, I can see
[code]
![image](https://user-images.githubusercontent.com/9532901/85675613-8b9c0e80-b6ce-11ea-8108-b39a676b85a2.png)

**Expected behavior**
The worker

[2020-06-29 11:10] 0xCCD commented on #522
Same problem for me !

[2020-06-30 00:41] marlonoso opened #523 "Unable to setup in standalone Ruby project"
**Describe the bug**
Always getting a configuration error when setting up in a standalone Ruby project

**Expected behavior**
Not having `undefined method 'class_attribute' for SidekiqUniqueJobs::Server::Middleware:Class` error

**Current behavior**
Getting `undefined method 'class_attribute' for SidekiqUniqueJobs::Server::Middleware:Class` error at project start

**Worker class**

[code]

**Addit

[2020-06-30 07:33] dkirilenko commented on #522
I have the same issue! Any ideas?

[2020-06-30 11:55] ravicious opened #524 "Is it possible to have a :until_executed lock with an expiration time?"
As other people reported here, I have an issue where unexpectedly shutting down Sidekiq when a unique job is running results in the lock being left in Redis until I clean it manually. I'm using sidekiq-unique-jobs v6.0.22.

As [Redis docs say](https://redis.io/topics/distlock#why-failover-based-implementations-are-not-enough):

And then [Sidekiq wiki doubles down on that](https://github.com/mperha

[2020-06-30 23:49] adampal opened #525 "Documentation Improvement"
Hi,
Firstly, thanks for the great gem.  I have been having some issues with keys getting stuck and I've been trying to find a good solution.  In the process, I have been experimenting with the lock_timeout and lock_ttl settings but I think I've misinterpreted the documentation.

It would be great if the documentation included a description of what will actually happen with different settings and e

[2020-07-01 12:39] ravicious commented on #524
I suppose one workaround would be to use `:until_expired` and then at the end of `perform` method in my worker delete the digest manually. Howerver, I found that for some reason `SidekiqUniqueJobs::Digests.all` doesn't return digests created for workers with `:until_expired` (it does for `:until_executed`), so I have no way of knowing the digest from within the worker.

[2020-07-01 17:32] mhenrixon commented on #522
Seems like a problem with generating the lock.

In v7, you can configure `lock_info` which for instance would tell you which arguments are configured for uniqueness. Maybe that will help with debugging the issue?

I don't see anything apparently wrong but I suspect you have a problem with the unique arguments and what actually ends up with the worker somehow.